2026/01/Search Twitter/X (Post and Keyword).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T18:51:45.827Z",
    "createdAt": "2026-01-28T18:51:42.653Z",
    "versionId": "a04d7652-cf2e-4624-95b0-a5100126de6b",
    "workflowId": "zykTHDZ-r8op3Zitq25Y2",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "id",
                "type": "any"
              },
              {
                "name": "name",
                "type": "any"
              },
              {
                "name": "url",
                "type": "any"
              },
              {
                "name": "property_keyword_category",
                "type": "any"
              },
              {
                "name": "property_priority",
                "type": "any"
              },
              {
                "name": "property_rss_feed",
                "type": "any"
              },
              {
                "name": "property_source",
                "type": "any"
              },
              {
                "name": "property_category",
                "type": "any"
              },
              {
                "name": "property_url",
                "type": "any"
              },
              {
                "name": "property_status",
                "type": "any"
              },
              {
                "name": "property_name",
                "type": "any"
              },
              {
                "name": "prompt",
                "type": "any"
              },
              {
                "name": "url_or_keyword",
                "type": "any"
              },
              {
                "name": "source",
                "type": "any"
              },
              {
                "name": "additional_formats",
                "type": "any"
              },
              {
                "name": "process_mode",
                "type": "any"
              },
              {
                "name": "bypass_filter",
                "type": "any"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -32,
          448
        ],
        "id": "ac1ae95d-6052-4baa-9b84-16a651ac9bee",
        "name": "Initial Input"
      },
      {
        "parameters": {
          "maxItems": 100
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          192,
          448
        ],
        "id": "e66f8732-4bdc-4d17-aaec-e252b30fa4c8",
        "name": "Limit3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3d1849b4-edf5-488f-83e4-3678e2f03e64",
                "leftValue": "={{ $json.url_or_keyword }}",
                "rightValue": "=https://",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          864,
          96
        ],
        "id": "3b56d10b-209e-4b7f-84de-0d217537c204",
        "name": "keyword or url"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1536,
          96
        ],
        "id": "e30d20d5-0bdb-4f7c-a786-715b4036e175",
        "name": "Merge4",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8efead37-57d8-4101-9010-c855f2525db6",
                "name": "url_or_keyword",
                "value": "={{ $json.property_url || $json.url_or_keyword || $json.name }}",
                "type": "string"
              },
              {
                "id": "670b79a6-99da-4cef-9b7d-74f346980d34",
                "name": "prompt",
                "value": "={{ $json.prompt }}",
                "type": "string"
              },
              {
                "id": "0a3f9442-f913-4b62-9fe3-30b46de7569d",
                "name": "additional_formats",
                "value": "={{ $json.additional_formats }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          96
        ],
        "id": "b448ab9b-3456-4564-9be9-4e31de885082",
        "name": "Either Url or Keyword"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0de21055-4554-4c15-9071-4c7a32560eae",
                "name": "content",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "d7e8711b-7f7c-487e-8aae-afa5d6132cec",
                "name": "url",
                "value": "={{ $json.url }}",
                "type": "string"
              },
              {
                "id": "69a2c6ec-5340-4ef4-8dbb-c9bb1d945bfe",
                "name": "publication_date",
                "value": "={{ $json.createdAt }}",
                "type": "string"
              },
              {
                "id": "b3af0d59-d4e0-4dde-8bfc-6716e11d9089",
                "name": "search_query",
                "value": "={{ $('Either Url or Keyword').item.json.url_or_keyword }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1312,
          192
        ],
        "id": "be8b5a9a-6bef-4a02-90d1-5f28f63033b6",
        "name": "X fields1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "Run actor and get dataset",
          "actorSource": "store",
          "actorId": {
            "__rl": true,
            "value": "ghSpYIW3L1RvT57NT",
            "mode": "list",
            "cachedResultName": "Twitter Scraper PPR (danek/twitter-scraper-ppr)",
            "cachedResultUrl": "https://console.apify.com/actors/ghSpYIW3L1RvT57NT/input"
          },
          "customBody": "={\n    \"max_posts\": 10,\n    \"username\": \"{{ \n  (() => {\n    const input = $json.url_or_keyword;\n    \n    // If input contains x.com or twitter.com, extract username\n    if (input.includes('x.com/') || input.includes('twitter.com/')) {\n      // Remove protocol and domain\n      const urlPart = input\n        .replace(/^https?:\\/\\//, '')           // Remove http:// or https://\n        .replace(/^(www\\.)?twitter\\.com\\//, '') // Remove twitter.com/\n        .replace(/^(www\\.)?x\\.com\\//, '');      // Remove x.com/\n      \n      // Extract username (everything before / or end of string)\n      const username = urlPart.split(/[/?#]/)[0];\n      \n      // Remove @ if present\n      return username.replace(/^@/, '');\n    }\n    \n    // If it's already just a username, return it (remove @ if present)\n    return input.replace(/^@/, '');\n  })()\n}}\"\n}\n\n"
        },
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          1088,
          0
        ],
        "id": "6ff06bec-75d8-42d3-be82-da5abdfcfb6d",
        "name": "Twitter/ X post scraper - urls",
        "alwaysOutputData": false,
        "credentials": {
          "apifyApi": {
            "id": "JsuEKmvPtVt6JvXD",
            "name": "Syntech GM Apify account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "Run actor and get dataset",
          "actorSource": "store",
          "actorId": {
            "__rl": true,
            "value": "nfp1fpt5gUlBwPcor",
            "mode": "list",
            "cachedResultName": "Twitter (X.com) Scraper Unlimited: No Limits (apidojo/twitter-scraper-lite)",
            "cachedResultUrl": "https://console.apify.com/actors/nfp1fpt5gUlBwPcor/input"
          },
          "customBody": "={\n    \"customMapFunction\": \"(object) => { return {...object} }\",\n    \"includeSearchTerms\": false,\n    \"maxItems\": 5,\n    \"onlyImage\": false,\n    \"onlyQuote\": false,\n    \"onlyTwitterBlue\": false,\n    \"onlyVerifiedUsers\": false,\n    \"onlyVideo\": false,\n    \"searchTerms\": [\n        \"{{ $json.url_or_keyword }}\"\n    ],\n    \"sort\": \"Top\",\n    \"tweetLanguage\": \"en\"\n}"
        },
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          1088,
          192
        ],
        "id": "7021c8f1-fd12-4069-8adf-3fe10c3f61da",
        "name": "Twitter/ X post scraper - keyword",
        "alwaysOutputData": true,
        "credentials": {
          "apifyApi": {
            "id": "JsuEKmvPtVt6JvXD",
            "name": "Syntech GM Apify account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          448
        ],
        "id": "3c5bf1b0-1599-4513-a429-d3989b68cfef",
        "name": "Loop Over Items3",
        "notesInFlow": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -32,
          1008
        ],
        "id": "b75ddd43-2938-4ea2-8dca-c5f41dbd5538",
        "name": "OpenAI Chat Model9",
        "credentials": {
          "openAiApi": {
            "id": "NoEKitspBJb0zQrp",
            "name": "Syntech GM OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyword_variant\": {\n      \"type\": \"string\",\n      \"description\": \"SEO keyword variant\"\n    }\n  },\n  \"required\": [\"keyword_variant\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          96,
          1008
        ],
        "id": "b435b683-23e4-47e8-8a76-93568061f31b",
        "name": "Structured Output Parser9"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<content>\n{{ $('If1').item.json.content }}\n</content>",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          2656,
          96
        ],
        "id": "34499045-0965-4cde-9cc9-ad641456f780",
        "name": "Create summary and title4"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -32,
          -208
        ],
        "id": "7a4834e9-f499-4fb1-87a4-6078fab73135",
        "name": "OpenAI Chat Model10",
        "credentials": {
          "openAiApi": {
            "id": "NoEKitspBJb0zQrp",
            "name": "Syntech GM OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2800,
          320
        ],
        "id": "578a9e6e-f207-4867-9d59-75b63e0dcfd2",
        "name": "Structured Output Parser10"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ca614e10-a88b-4f70-8ea6-09a7dee7e772",
                "name": "=content",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "d7e8711b-7f7c-487e-8aae-afa5d6132cec",
                "name": "url",
                "value": "=https://x.com/{{ $json.author.screen_name }}/status/{{ $json.tweet_id }}",
                "type": "string"
              },
              {
                "id": "69a2c6ec-5340-4ef4-8dbb-c9bb1d945bfe",
                "name": "publication_date",
                "value": "={{ $json.created_at }}",
                "type": "string"
              },
              {
                "id": "b3af0d59-d4e0-4dde-8bfc-6716e11d9089",
                "name": "search_query",
                "value": "={{ $('Either Url or Keyword').item.json.url_or_keyword }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1312,
          0
        ],
        "id": "80350079-cfa5-44f9-b611-1a3c8525611f",
        "name": "X fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<content>\n{{ $json.url_or_keyword }}\n</content>",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=Act as a Twitter/X search phrase generator.\n\nYou will receive a single keyword related to sustainable biofuels (e.g., “B20 FAME”, “used cooking oil”, etc.).\n\nYour task is to generate a **short, relevant Twitter/X search query** that includes the keyword exactly as provided. The goal is to surface the **latest posts, commentary, or breaking news** about that keyword, with a **primary focus on the UK**, and **secondarily on the EU**.\n\n---\n\n**Rules:**\n- Always include the input keyword exactly as given.\n- Use concise, search-friendly language (no more than 6–8 words).\n- Optionally include **hashtags**, country mentions (`UK`, `EU`), or terms like `regulation`, `news`, `update`, `biofuel`, `policy`, etc.\n- No need for full sentences – this is a search term for X.\n- Do **not** include usernames or links.\n\n---\n\n**Input format:** A single keyword (string)  \n**Output format:** One short search query for Twitter/X\n\n---\n\n**Examples:**\n- Input: `used cooking oil` → Output: `used cooking oil UK biofuel news`\n- Input: `B20 FAME` → Output: `B20 FAME UK regulation`\n- Input: `waste-derived biodiesel` → Output: `#wastebiodiesel UK policy update`"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          -32,
          784
        ],
        "id": "5b919ad1-83c4-47c2-8bd2-8e8508077530",
        "name": "create longtail keyword"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4a79dc1a-993d-4f55-a508-0b1fd1055780",
                "leftValue": "={{ $json.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "b4353be1-5da7-4423-9018-2139e44ad239",
                "leftValue": "={{ $json.url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "1acba9c2-9c44-4137-9da1-13473b6c47eb",
                "leftValue": "={{ $json.content }}",
                "rightValue": "https://",
                "operator": {
                  "type": "string",
                  "operation": "notStartsWith"
                }
              },
              {
                "id": "6d8ad5a5-a39d-44f2-8564-bdc8880305f2",
                "leftValue": "={{ $json.url }}",
                "rightValue": "syntechbiofuel",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "378c0625-3c25-43cc-9739-0e72fdc20ce2",
                "leftValue": "={{ $json.publication_date }}",
                "rightValue": "={{ new Date(Date.now() - 90 * 24 * 60 * 60 * 1000).toISOString() }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1760,
          96
        ],
        "id": "d0c37b9b-b1a8-4a75-a390-9760cf0dc86b",
        "name": "If Valid Content?",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
                "name": "title",
                "value": "={{ $('Create summary and title4').item.json.output.title }}",
                "type": "string"
              },
              {
                "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
                "name": "content",
                "value": "={{ $('Merge').item.json.content }}",
                "type": "string"
              },
              {
                "id": "f0c15fc7-071d-406d-8200-abecbf458836",
                "name": "url",
                "value": "={{\n  decodeURIComponent(\n    ($('Merge').item.json.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
                "type": "string"
              },
              {
                "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
                "name": "summary",
                "value": "={{ $('Create summary and title4').item.json.output.summary }}",
                "type": "string"
              },
              {
                "id": "9573ac47-f760-4075-af1e-41774d546f60",
                "name": "search_query",
                "value": "={{ $('Merge').first().json.search_query }}",
                "type": "string"
              },
              {
                "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
                "name": "publication_date",
                "value": "={{ $('Merge').item.json.publication_date }}",
                "type": "string"
              },
              {
                "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
                "name": "source",
                "value": "X",
                "type": "string"
              },
              {
                "id": "8c19cd4c-cca7-4311-89c4-0efa9890e41e",
                "name": "source_name",
                "value": "={{ $('Initial Input').item.json.property_name }}",
                "type": "string"
              },
              {
                "id": "28519406-e423-4222-a586-4562a4dca6b9",
                "name": "prompt",
                "value": "={{ $('Initial Input').first().json.prompt }}",
                "type": "string"
              },
              {
                "id": "cb2f856d-5f8b-4429-b6cb-550f05b4d09a",
                "name": "additional_formats",
                "value": "={{ $('Initial Input').first().json.additional_formats }}",
                "type": "string"
              },
              {
                "id": "3e7f1bc1-8eb9-48d5-9321-f67f466d2f83",
                "name": "mode",
                "value": "={{ $('Initial Input').first().json.process_mode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3232,
          224
        ],
        "id": "c55f0799-d496-4442-8cc8-d1a71625cd81",
        "name": "Twitter/ X post fields1",
        "retryOnFail": false
      },
      {
        "parameters": {
          "content": "## News scrap through Twitter ",
          "height": 880,
          "width": 3632,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -112,
          -208
        ],
        "typeVersion": 1,
        "id": "4b31e3e8-708e-4b7c-ac6f-d0ad6eb2f766",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "Syntech Twitter url",
          "returnAll": true,
          "filterType": "none"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1984,
          192
        ],
        "id": "333692fa-0d24-42ce-8455-be33f4e36657",
        "name": "Get many rows",
        "alwaysOutputData": false,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "IT46INDKsZaZyCZQ",
            "name": "Stephen Supabase account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "url",
                "field2": "url"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input1",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2208,
          96
        ],
        "id": "c71290b8-aebe-4098-a4cf-c61e45690b90",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
                "leftValue": "={{ $json.url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2432,
          96
        ],
        "id": "609aba6e-7378-4efd-9373-28cddc689055",
        "name": "If1"
      },
      {
        "parameters": {
          "tableId": "Syntech Twitter url",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "url",
                "fieldValue": "={{\n  $('Merge').item.json.url.includes('url=')\n    ? decodeURIComponent($('Merge').item.json.url.split('url=')[1].split('&')[0])\n    : $('Merge').item.json.url\n}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3008,
          96
        ],
        "id": "f55eb577-51e3-433a-9dae-e3c4ba7079bd",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "IT46INDKsZaZyCZQ",
            "name": "Stephen Supabase account"
          }
        }
      },
      {
        "parameters": {
          "model": "deepseek/deepseek-v3.2",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2672,
          320
        ],
        "id": "59e2937d-2f20-4696-a29a-5fd0051036b5",
        "name": "DeepSeek 3.",
        "credentials": {
          "openRouterApi": {
            "id": "kUkOiAL6PjmdfexG",
            "name": "Syntech GM OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Initial Input": {
        "main": [
          [
            {
              "node": "Limit3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit3": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "keyword or url": {
        "main": [
          [
            {
              "node": "Twitter/ X post scraper - urls",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Twitter/ X post scraper - keyword",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          [
            {
              "node": "If Valid Content?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Either Url or Keyword": {
        "main": [
          [
            {
              "node": "keyword or url",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "X fields1": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Twitter/ X post scraper - urls": {
        "main": [
          [
            {
              "node": "X fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twitter/ X post scraper - keyword": {
        "main": [
          [
            {
              "node": "X fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items3": {
        "main": [
          [],
          [
            {
              "node": "Either Url or Keyword",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model9": {
        "ai_languageModel": [
          [
            {
              "node": "create longtail keyword",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser9": {
        "ai_outputParser": [
          [
            {
              "node": "create longtail keyword",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Create summary and title4": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser10": {
        "ai_outputParser": [
          [
            {
              "node": "Create summary and title4",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "X fields": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Valid Content?": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twitter/ X post fields1": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Create summary and title4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Twitter/ X post fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek 3.": {
        "ai_languageModel": [
          [
            {
              "node": "Create summary and title4",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Stephen Anindo",
    "name": "Init",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "a04d7652-cf2e-4624-95b0-a5100126de6b",
  "connections": {
    "Initial Input": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keyword or url": {
      "main": [
        [
          {
            "node": "Twitter/ X post scraper - urls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter/ X post scraper - keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "If Valid Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword": {
      "main": [
        [
          {
            "node": "keyword or url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X fields1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Twitter/ X post scraper - urls": {
      "main": [
        [
          {
            "node": "X fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/ X post scraper - keyword": {
      "main": [
        [
          {
            "node": "X fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "create longtail keyword",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "create longtail keyword",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title4": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "X fields": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Content?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/ X post fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create summary and title4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Twitter/ X post fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek 3.": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T18:51:29.740Z",
  "id": "zykTHDZ-r8op3Zitq25Y2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Search Twitter/X (Post and Keyword)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        448
      ],
      "id": "ac1ae95d-6052-4baa-9b84-16a651ac9bee",
      "name": "Initial Input"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        192,
        448
      ],
      "id": "e66f8732-4bdc-4d17-aaec-e252b30fa4c8",
      "name": "Limit3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d1849b4-edf5-488f-83e4-3678e2f03e64",
              "leftValue": "={{ $json.url_or_keyword }}",
              "rightValue": "=https://",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        96
      ],
      "id": "3b56d10b-209e-4b7f-84de-0d217537c204",
      "name": "keyword or url"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1536,
        96
      ],
      "id": "e30d20d5-0bdb-4f7c-a786-715b4036e175",
      "name": "Merge4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url || $json.url_or_keyword || $json.name }}",
              "type": "string"
            },
            {
              "id": "670b79a6-99da-4cef-9b7d-74f346980d34",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "0a3f9442-f913-4b62-9fe3-30b46de7569d",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        96
      ],
      "id": "b448ab9b-3456-4564-9be9-4e31de885082",
      "name": "Either Url or Keyword"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0de21055-4554-4c15-9071-4c7a32560eae",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "d7e8711b-7f7c-487e-8aae-afa5d6132cec",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "69a2c6ec-5340-4ef4-8dbb-c9bb1d945bfe",
              "name": "publication_date",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "b3af0d59-d4e0-4dde-8bfc-6716e11d9089",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        192
      ],
      "id": "be8b5a9a-6bef-4a02-90d1-5f28f63033b6",
      "name": "X fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "ghSpYIW3L1RvT57NT",
          "mode": "list",
          "cachedResultName": "Twitter Scraper PPR (danek/twitter-scraper-ppr)",
          "cachedResultUrl": "https://console.apify.com/actors/ghSpYIW3L1RvT57NT/input"
        },
        "customBody": "={\n    \"max_posts\": 10,\n    \"username\": \"{{ \n  (() => {\n    const input = $json.url_or_keyword;\n    \n    // If input contains x.com or twitter.com, extract username\n    if (input.includes('x.com/') || input.includes('twitter.com/')) {\n      // Remove protocol and domain\n      const urlPart = input\n        .replace(/^https?:\\/\\//, '')           // Remove http:// or https://\n        .replace(/^(www\\.)?twitter\\.com\\//, '') // Remove twitter.com/\n        .replace(/^(www\\.)?x\\.com\\//, '');      // Remove x.com/\n      \n      // Extract username (everything before / or end of string)\n      const username = urlPart.split(/[/?#]/)[0];\n      \n      // Remove @ if present\n      return username.replace(/^@/, '');\n    }\n    \n    // If it's already just a username, return it (remove @ if present)\n    return input.replace(/^@/, '');\n  })()\n}}\"\n}\n\n"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1088,
        0
      ],
      "id": "6ff06bec-75d8-42d3-be82-da5abdfcfb6d",
      "name": "Twitter/ X post scraper - urls",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "JsuEKmvPtVt6JvXD",
          "name": "Syntech GM Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nfp1fpt5gUlBwPcor",
          "mode": "list",
          "cachedResultName": "Twitter (X.com) Scraper Unlimited: No Limits (apidojo/twitter-scraper-lite)",
          "cachedResultUrl": "https://console.apify.com/actors/nfp1fpt5gUlBwPcor/input"
        },
        "customBody": "={\n    \"customMapFunction\": \"(object) => { return {...object} }\",\n    \"includeSearchTerms\": false,\n    \"maxItems\": 5,\n    \"onlyImage\": false,\n    \"onlyQuote\": false,\n    \"onlyTwitterBlue\": false,\n    \"onlyVerifiedUsers\": false,\n    \"onlyVideo\": false,\n    \"searchTerms\": [\n        \"{{ $json.url_or_keyword }}\"\n    ],\n    \"sort\": \"Top\",\n    \"tweetLanguage\": \"en\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1088,
        192
      ],
      "id": "7021c8f1-fd12-4069-8adf-3fe10c3f61da",
      "name": "Twitter/ X post scraper - keyword",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "JsuEKmvPtVt6JvXD",
          "name": "Syntech GM Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        448
      ],
      "id": "3c5bf1b0-1599-4513-a429-d3989b68cfef",
      "name": "Loop Over Items3",
      "notesInFlow": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        1008
      ],
      "id": "b75ddd43-2938-4ea2-8dca-c5f41dbd5538",
      "name": "OpenAI Chat Model9",
      "credentials": {
        "openAiApi": {
          "id": "NoEKitspBJb0zQrp",
          "name": "Syntech GM OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyword_variant\": {\n      \"type\": \"string\",\n      \"description\": \"SEO keyword variant\"\n    }\n  },\n  \"required\": [\"keyword_variant\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        1008
      ],
      "id": "b435b683-23e4-47e8-8a76-93568061f31b",
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $('If1').item.json.content }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2656,
        96
      ],
      "id": "34499045-0965-4cde-9cc9-ad641456f780",
      "name": "Create summary and title4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        -208
      ],
      "id": "7a4834e9-f499-4fb1-87a4-6078fab73135",
      "name": "OpenAI Chat Model10",
      "credentials": {
        "openAiApi": {
          "id": "NoEKitspBJb0zQrp",
          "name": "Syntech GM OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2800,
        320
      ],
      "id": "578a9e6e-f207-4867-9d59-75b63e0dcfd2",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca614e10-a88b-4f70-8ea6-09a7dee7e772",
              "name": "=content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "d7e8711b-7f7c-487e-8aae-afa5d6132cec",
              "name": "url",
              "value": "=https://x.com/{{ $json.author.screen_name }}/status/{{ $json.tweet_id }}",
              "type": "string"
            },
            {
              "id": "69a2c6ec-5340-4ef4-8dbb-c9bb1d945bfe",
              "name": "publication_date",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "b3af0d59-d4e0-4dde-8bfc-6716e11d9089",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        0
      ],
      "id": "80350079-cfa5-44f9-b611-1a3c8525611f",
      "name": "X fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.url_or_keyword }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Act as a Twitter/X search phrase generator.\n\nYou will receive a single keyword related to sustainable biofuels (e.g., “B20 FAME”, “used cooking oil”, etc.).\n\nYour task is to generate a **short, relevant Twitter/X search query** that includes the keyword exactly as provided. The goal is to surface the **latest posts, commentary, or breaking news** about that keyword, with a **primary focus on the UK**, and **secondarily on the EU**.\n\n---\n\n**Rules:**\n- Always include the input keyword exactly as given.\n- Use concise, search-friendly language (no more than 6–8 words).\n- Optionally include **hashtags**, country mentions (`UK`, `EU`), or terms like `regulation`, `news`, `update`, `biofuel`, `policy`, etc.\n- No need for full sentences – this is a search term for X.\n- Do **not** include usernames or links.\n\n---\n\n**Input format:** A single keyword (string)  \n**Output format:** One short search query for Twitter/X\n\n---\n\n**Examples:**\n- Input: `used cooking oil` → Output: `used cooking oil UK biofuel news`\n- Input: `B20 FAME` → Output: `B20 FAME UK regulation`\n- Input: `waste-derived biodiesel` → Output: `#wastebiodiesel UK policy update`"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        784
      ],
      "id": "5b919ad1-83c4-47c2-8bd2-8e8508077530",
      "name": "create longtail keyword"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a79dc1a-993d-4f55-a508-0b1fd1055780",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b4353be1-5da7-4423-9018-2139e44ad239",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1acba9c2-9c44-4137-9da1-13473b6c47eb",
              "leftValue": "={{ $json.content }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "6d8ad5a5-a39d-44f2-8564-bdc8880305f2",
              "leftValue": "={{ $json.url }}",
              "rightValue": "syntechbiofuel",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "378c0625-3c25-43cc-9739-0e72fdc20ce2",
              "leftValue": "={{ $json.publication_date }}",
              "rightValue": "={{ new Date(Date.now() - 90 * 24 * 60 * 60 * 1000).toISOString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        96
      ],
      "id": "d0c37b9b-b1a8-4a75-a390-9760cf0dc86b",
      "name": "If Valid Content?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Create summary and title4').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ $('Merge').item.json.content }}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{\n  decodeURIComponent(\n    ($('Merge').item.json.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
              "type": "string"
            },
            {
              "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
              "name": "summary",
              "value": "={{ $('Create summary and title4').item.json.output.summary }}",
              "type": "string"
            },
            {
              "id": "9573ac47-f760-4075-af1e-41774d546f60",
              "name": "search_query",
              "value": "={{ $('Merge').first().json.search_query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('Merge').item.json.publication_date }}",
              "type": "string"
            },
            {
              "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
              "name": "source",
              "value": "X",
              "type": "string"
            },
            {
              "id": "8c19cd4c-cca7-4311-89c4-0efa9890e41e",
              "name": "source_name",
              "value": "={{ $('Initial Input').item.json.property_name }}",
              "type": "string"
            },
            {
              "id": "28519406-e423-4222-a586-4562a4dca6b9",
              "name": "prompt",
              "value": "={{ $('Initial Input').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "cb2f856d-5f8b-4429-b6cb-550f05b4d09a",
              "name": "additional_formats",
              "value": "={{ $('Initial Input').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "3e7f1bc1-8eb9-48d5-9321-f67f466d2f83",
              "name": "mode",
              "value": "={{ $('Initial Input').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        224
      ],
      "id": "c55f0799-d496-4442-8cc8-d1a71625cd81",
      "name": "Twitter/ X post fields1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "## News scrap through Twitter ",
        "height": 880,
        "width": 3632,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -208
      ],
      "typeVersion": 1,
      "id": "4b31e3e8-708e-4b7c-ac6f-d0ad6eb2f766",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Syntech Twitter url",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1984,
        192
      ],
      "id": "333692fa-0d24-42ce-8455-be33f4e36657",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "IT46INDKsZaZyCZQ",
          "name": "Stephen Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2208,
        96
      ],
      "id": "c71290b8-aebe-4098-a4cf-c61e45690b90",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2432,
        96
      ],
      "id": "609aba6e-7378-4efd-9373-28cddc689055",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "Syntech Twitter url",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{\n  $('Merge').item.json.url.includes('url=')\n    ? decodeURIComponent($('Merge').item.json.url.split('url=')[1].split('&')[0])\n    : $('Merge').item.json.url\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3008,
        96
      ],
      "id": "f55eb577-51e3-433a-9dae-e3c4ba7079bd",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IT46INDKsZaZyCZQ",
          "name": "Stephen Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2672,
        320
      ],
      "id": "59e2937d-2f20-4696-a29a-5fd0051036b5",
      "name": "DeepSeek 3.",
      "credentials": {
        "openRouterApi": {
          "id": "kUkOiAL6PjmdfexG",
          "name": "Syntech GM OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "Initial Input": [
      {
        "json": {
          "id": "2ac785c0-cfab-8093-8ab3-cd6a58a7ff63",
          "name": "BiofuelResJ",
          "url": "https://www.notion.so/BiofuelResJ-2ac785c0cfab80938ab3cd6a58a7ff63",
          "property_keyword_category": null,
          "property_priority": "Low",
          "property_rss_feed": null,
          "property_source": "X",
          "property_category": null,
          "property_url": "https://x.com/BiofuelResJ",
          "property_status": "Active",
          "property_name": "BiofuelResJ"
        }
      },
      {
        "json": {
          "id": "2ac785c0-cfab-801a-a1bc-d6d5f915aae3",
          "name": "advancebiofuel",
          "url": "https://www.notion.so/advancebiofuel-2ac785c0cfab801aa1bcd6d5f915aae3",
          "property_keyword_category": null,
          "property_priority": "Low",
          "property_rss_feed": null,
          "property_source": "X",
          "property_category": null,
          "property_url": "https://x.com/advancebiofuel",
          "property_status": "Active",
          "property_name": "advancebiofuel"
        }
      },
      {
        "json": {
          "id": "28c785c0-cfab-8062-ac70-d64b040409dc",
          "name": "Gevo, Inc.",
          "url": "https://www.notion.so/Gevo-Inc-28c785c0cfab8062ac70d64b040409dc",
          "property_keyword_category": null,
          "property_priority": "Low",
          "property_rss_feed": null,
          "property_source": "X",
          "property_category": null,
          "property_url": "https://x.com/Gevo_Inc",
          "property_status": "Active",
          "property_name": "Gevo, Inc."
        }
      },
      {
        "json": {
          "id": "286785c0-cfab-80d7-895e-cd5895fa14f4",
          "name": "Oceana in Europe",
          "url": "https://www.notion.so/Oceana-in-Europe-286785c0cfab80d7895ecd5895fa14f4",
          "property_keyword_category": null,
          "property_priority": "Low",
          "property_rss_feed": null,
          "property_source": "X",
          "property_category": null,
          "property_url": "https://x.com/OceanaEurope",
          "property_status": "Active",
          "property_name": "Oceana in Europe"
        }
      }
    ]
  },
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T18:51:29.740Z",
      "createdAt": "2026-01-28T18:51:29.740Z",
      "role": "workflow:owner",
      "workflowId": "zykTHDZ-r8op3Zitq25Y2",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T18:51:42.644Z",
  "versionId": "a04d7652-cf2e-4624-95b0-a5100126de6b"
}