2026/01/Automated daily workflow backup to GitHub.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:43.175Z",
  "id": "mKFuS4HcwHuSblDN",
  "isArchived": true,
  "meta": null,
  "name": "Automated daily workflow backup to GitHub",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "095e020c-378f-4f22-aa66-3f4b40520375",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "news-sourcing-.json",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2160,
        -16
      ],
      "id": "b8e8f403-db7e-4040-83e6-0cd5e6f8d9ae",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "095e020c-378f-4f22-aa66-3f4b40520375",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "news-sourcing-.json",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2160,
        176
      ],
      "id": "83b88330-0b03-4ec7-9008-d37a4b18fe3a",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "dc914f31-e6b5-43b0-8a4e-f9f46118fa30",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "2f36af66-12ca-451a-a1ca-c5a71b94b644",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name.split(' ').join('-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "1bfedd8f-1921-4f33-aa45-7ab612f26059",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1712,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "fc258985-2621-42a3-9bc6-01048a92b702",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "956de457-4d05-4ea8-be7b-390861a739d4",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1488,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "43990124-eac4-4c57-9da3-39053d9e5850",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1264,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "09909c9f-8a68-4670-8396-65fae9be51ff",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1936,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Granite-Marketing",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "syntech-n8n-backup",
          "mode": "list",
          "cachedResultName": "syntech-n8n-backup",
          "cachedResultUrl": "https://github.com/Granite-Marketing/syntech-n8n-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "d55efcc7-5873-4c9a-b374-b7b31814905b",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2384,
        176
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "HUZxX3LPTcXrvLbf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Granite-Marketing",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "syntech-n8n-backup",
          "mode": "list",
          "cachedResultName": "syntech-n8n-backup",
          "cachedResultUrl": "https://github.com/Granite-Marketing/syntech-n8n-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "8abba016-1f34-420a-b10b-3c8e44297725",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        2384,
        -16
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "HUZxX3LPTcXrvLbf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Granite-Marketing",
          "mode": "list",
          "cachedResultName": "Granite-Marketing",
          "cachedResultUrl": "https://github.com/Granite-Marketing"
        },
        "repository": {
          "__rl": true,
          "value": "syntech-n8n-backup",
          "mode": "list",
          "cachedResultName": "syntech-n8n-backup",
          "cachedResultUrl": "https://github.com/Granite-Marketing/syntech-n8n-backup"
        },
        "filePath": "="
      },
      "id": "854f6e82-babb-474e-a138-2a6c398fd60e",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        592,
        80
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "HUZxX3LPTcXrvLbf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd7d968-6fa0-4ab0-ac58-ceb15c8b7b4a",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        816,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "da87b4f8-4507-456b-bfc3-3ae7d9400449",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1040,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "uMfAmjqfKHEmfqBe",
          "name": "Syntech n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2aafc10f-0bb7-419f-a6b3-fa90f5f68653",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        80
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:43.175Z",
      "createdAt": "2026-01-28T08:12:43.175Z",
      "role": "workflow:owner",
      "workflowId": "mKFuS4HcwHuSblDN",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:19:44.077Z",
  "versionId": "bf57aced-2cdc-475c-92ed-2d58cc26c71e"
}