2026/01/Basic Error Handler.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T15:29:31.598Z",
    "createdAt": "2026-01-28T09:06:07.268Z",
    "versionId": "898b4724-0982-4bc3-950a-44d603f1eebf",
    "workflowId": "o41mt2JfV10VTV65",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -144,
          176
        ],
        "id": "03ce63c4-b5fb-4bfd-95f3-3ab7c71ead74",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "resource": "execution",
          "operation": "get",
          "executionId": "={{ $json.execution.id }}",
          "options": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          80,
          176
        ],
        "id": "e25f763b-288d-424e-8f36-3b6723d3a698",
        "name": "Get an execution",
        "credentials": {
          "n8nApi": {
            "id": "uMfAmjqfKHEmfqBe",
            "name": "Syntech n8n account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.resultData.runData[\"Initial Input\"] }}",
                      "rightValue": "▶️ Multi Platform Content Transformation",
                      "operator": {
                        "type": "array",
                        "operation": "notEmpty",
                        "singleValue": true
                      },
                      "id": "9bc6f0a8-2780-47f3-b8f7-8582d97b2ffb"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "content_writer"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "0bcc2001-e221-4866-9868-4cf3360bf0ab",
                      "leftValue": "={{ $json.workflowData.name }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "basic_error"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          320,
          160
        ],
        "id": "ed91d801-b9e1-4555-9efa-838b77aa70c2",
        "name": "Switch"
      },
      {
        "parameters": {
          "jsCode": "const runData = $input.first().json.data.resultData.runData;\n\nfunction extractErrors(runData) {\n  const errors = [];\n\n  for (const nodeName in runData) {\n    for (const exec of runData[nodeName]) {\n      if (exec.executionStatus === \"error\") {\n        const description =\n          exec.error?.description ||\n          exec.error?.message ||\n          exec.message ||\n          \"Unknown error\";\n\n        errors.push({ \n          nodeName, \n          description, \n          stack: exec.error.stack,\n          messages: exec.error.messages,\n          http: exec.error.httpCode,\n          notionUrl: $input.first().json.data.resultData.runData['Get Initial Article'][0].data.main[0][0].json.body.data.url\n        });\n      }\n    }\n  }\n\n  return errors;\n}\n\nreturn extractErrors(runData);\n\n\nreturn errors;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          160
        ],
        "id": "63209c70-ed4a-4a29-9e5a-e87794b468e3",
        "name": "Find All Errors"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1248,
          64
        ],
        "id": "fa2a18cb-6d12-4e99-b20a-60339b289b49",
        "name": "Create Simple Error Message"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Workflow|title",
                "title": "={{ $('Error Trigger').item.json.workflow.name }}"
              },
              {
                "key": "Execution URL|url",
                "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
              },
              {
                "key": "Node|rich_text",
                "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
              },
              {
                "key": "Issue Description|rich_text",
                "textContent": "={{ $('Create Simple Error Message').item.json.output.summary }}"
              },
              {
                "key": "Notion URL|url",
                "ignoreIfEmpty": true,
                "urlValue": "={{ $('Send Error Message To Content Engine').item.json.url }}"
              },
              {
                "key": "Date Submitted|date",
                "date": "={{ $('Get an execution').item.json.stoppedAt }}"
              },
              {
                "key": "Severity|select",
                "selectValue": "={{ $('Create Simple Error Message').item.json.output.severity }}"
              }
            ]
          },
          "blockUi": {
            "blockValues": [
              {
                "textContent": "=Node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.httpCode }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2400,
          160
        ],
        "id": "98da5f60-1bb8-43ce-b490-63e836fe9ed4",
        "name": "Add Error Ticket",
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Find All Errors').first().json.notionUrl }}",
            "mode": "url"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Error Details|rich_text",
                "textContent": "=Summary:{{ $json.output.summary }}\n\n\nDeveloper Error Message:\nNode:{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.message }}\n"
              },
              {
                "key": "Status|status",
                "statusValue": "={{ \n$('Error Trigger').item.json.execution.lastNodeExecuted === 'Generate Image Nano Banana HTTP' ? 'Error: Image Generation Failed' : \n$('Error Trigger').item.json.execution.lastNodeExecuted === 'Upload file contents1' ? 'Error: Image Upload Failed' : \n'Error: Unknown' \n}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1664,
          160
        ],
        "id": "f130664b-9f70-41ee-bb00-964f89e99378",
        "name": "Send Error Message To Content Engine",
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1392,
          288
        ],
        "id": "c76e258d-4eda-4f0f-bbe5-a1e7b0a83a04",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-3-5-haiku-20241022",
            "mode": "list",
            "cachedResultName": "Claude Haiku 3.5"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1264,
          288
        ],
        "id": "eb75dd92-9056-4e72-b412-d622c2b57756",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "uv5ovuIM0W5fmRTp",
            "name": "Stephen Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1952,
          64
        ],
        "id": "90868b2a-af04-494b-ac6d-6674b2df6de6",
        "name": "Get many database pages",
        "alwaysOutputData": false,
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "property_execution_url",
                "field2": "execution_url"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input2",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2176,
          160
        ],
        "id": "87f148c3-8609-47aa-b4ce-eddb0fa7f5d8",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
                "name": "execution_url",
                "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1952,
          256
        ],
        "id": "b4fa280d-913a-41c4-ac1c-ca48383b1a62",
        "name": "Set Execution URL"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Workflow|title",
                "title": "={{ $('Error Trigger').item.json.workflow.name }}"
              },
              {
                "key": "Execution URL|url",
                "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
              },
              {
                "key": "Node|rich_text",
                "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
              },
              {
                "key": "Issue Description|rich_text",
                "textContent": "={{ $('Create Simple Error Message1').item.json.output.summary }}"
              },
              {
                "key": "Date Submitted|date",
                "date": "={{ $('Get an execution').item.json.startedAt }}"
              },
              {
                "key": "Severity|select",
                "selectValue": "={{ $('Create Simple Error Message1').item.json.output.severity }}"
              }
            ]
          },
          "blockUi": {
            "blockValues": [
              {
                "textContent": "=Node:  {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2048,
          672
        ],
        "id": "1fe1fbb0-ebb5-4310-8626-f5a757ca965a",
        "name": "Add Error Ticket1",
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1088,
          560
        ],
        "id": "29fe6f8a-3f04-4dba-81d8-10529c51d325",
        "name": "Get many database pages1",
        "alwaysOutputData": false,
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "property_execution_url",
                "field2": "execution_url"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input2",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1440,
          656
        ],
        "id": "43828f8b-2bfa-4c56-8db7-5934e048c0f4",
        "name": "Merge1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
                "name": "execution_url",
                "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          768
        ],
        "id": "cc6a5cfc-aba0-4636-9b59-90a81b9ab121",
        "name": "Set Execution URL1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Node: {{ $('Error Trigger').item.json.execution.error.node.name }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.messages }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1696,
          672
        ],
        "id": "0b616dd8-cf35-4d86-ae65-9e6b141b64c4",
        "name": "Create Simple Error Message1"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1872,
          944
        ],
        "id": "07b736e1-68d8-4eb8-be6f-dc70b06c1a86",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-3-5-haiku-20241022",
            "mode": "list",
            "cachedResultName": "Claude Haiku 3.5"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1696,
          960
        ],
        "id": "c92f0b3e-5578-4432-966c-6fd7e2bf6831",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "uv5ovuIM0W5fmRTp",
            "name": "Stephen Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1024,
          160
        ],
        "id": "a499a43f-4281-44ea-8860-d8166110a895",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a305872e-1da0-452f-a93e-c0dd58fda1c0",
                "leftValue": "={{ $json.workflowData.name }}",
                "rightValue": "▶️ Image Generation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          576,
          224
        ],
        "id": "ab3424f6-08d7-4f16-84e9-2ac79687b284",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const runData = $input.first().json.data.resultData.runData;\n\nfunction extractErrors(runData) {\n  const errors = [];\n\n  for (const nodeName in runData) {\n    for (const exec of runData[nodeName]) {\n      if (exec.executionStatus === \"error\") {\n        const description =\n          exec.error?.description ||\n          exec.error?.message ||\n          exec.message ||\n          \"Unknown error\";\n\n        errors.push({ \n          nodeName, \n          description, \n          stack: exec.error.stack,\n          messages: exec.error.messages,\n          http: exec.error.httpCode,\n          notionUrl:  $input.first().json.data.resultData.runData[\"Initial Input\"][0].data.main[0][0].json.initial_article\n        });\n      }\n    }\n  }\n\n  return errors;\n}\n\nreturn extractErrors(runData);\n\n\nreturn errors;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -288
        ],
        "id": "cdf288fa-93ef-4122-8fff-12bb4711b993",
        "name": "Find All Errors1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1040,
          -384
        ],
        "id": "eea0e0a0-a19e-47a7-af81-97ff31c747e4",
        "name": "Create Simple Error Message2"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Workflow|title",
                "title": "={{ $('Error Trigger').item.json.workflow.name }}"
              },
              {
                "key": "Execution URL|url",
                "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
              },
              {
                "key": "Node|rich_text",
                "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
              },
              {
                "key": "Issue Description|rich_text",
                "textContent": "={{ $('Create Simple Error Message2').item.json.output.summary }}"
              },
              {
                "key": "Notion URL|url",
                "ignoreIfEmpty": true,
                "urlValue": "={{ $('Send Error Message To Content Engine1').item.json.url }}"
              },
              {
                "key": "Date Submitted|date",
                "date": "={{ $('Get an execution').item.json.startedAt }}"
              },
              {
                "key": "Severity|select",
                "selectValue": "={{ $('Create Simple Error Message2').item.json.output.severity }}"
              }
            ]
          },
          "blockUi": {
            "blockValues": [
              {
                "textContent": "=Node:  {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.httpCode }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2192,
          -288
        ],
        "id": "222681c9-835f-415a-880a-f4f809ca2c84",
        "name": "Add Error Ticket2",
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Find All Errors1').first().json.notionUrl }}",
            "mode": "url"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Error Message|rich_text",
                "textContent": "=Developer Error Message:\nNode: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.message }}\n"
              },
              {
                "key": "Status|select",
                "selectValue": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted === 'Generate Image HTTP' && 'Error: Image Generation Failed' || 'Error: Unknown' }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1456,
          -288
        ],
        "id": "1bf4a854-c35d-4fda-920d-c9b58fe17e81",
        "name": "Send Error Message To Content Engine1",
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1184,
          -160
        ],
        "id": "0e792c6b-0fbc-4bba-a71b-20235dfcdb29",
        "name": "Structured Output Parser2"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-3-5-haiku-20241022",
            "mode": "list",
            "cachedResultName": "Claude Haiku 3.5"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1056,
          -160
        ],
        "id": "f002e1ed-b525-4748-b7d4-f46d73a184d1",
        "name": "Anthropic Chat Model2",
        "credentials": {
          "anthropicApi": {
            "id": "uv5ovuIM0W5fmRTp",
            "name": "Stephen Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
            "mode": "list",
            "cachedResultName": "Syntech Error Tracker",
            "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1744,
          -384
        ],
        "id": "0626370b-b4c2-4dcc-b463-3b73fdcdf0c4",
        "name": "Get many database pages2",
        "alwaysOutputData": false,
        "credentials": {
          "notionApi": {
            "id": "v7nNI35XIwsY1JzB",
            "name": "Syntech.granite"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "property_execution_url",
                "field2": "execution_url"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input2",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1968,
          -288
        ],
        "id": "e5189ede-8dde-4713-bd54-be96f830dc6c",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
                "name": "execution_url",
                "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1744,
          -192
        ],
        "id": "f751950f-44a7-45e7-b676-626963090638",
        "name": "Set Execution URL2"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          816,
          -288
        ],
        "id": "181d8780-cd8e-43d5-bf39-9b1de21040ed",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09V1831FN2",
            "mode": "list",
            "cachedResultName": "syntech-n8n-error-tracker"
          },
          "text": "=There's a new error that needs your attention⚠️\n\n*Workflow Name*: {{ $('Error Trigger').item.json.workflow.name }}\n*Notion Ticket*: {{ $('Add Error Ticket1').item.json.url ? '<' + $('Add Error Ticket1').item.json.url + '|View Ticket>': 'No matching Notion page' }}\n*Node*: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n*Severity*: {{ $('Create Simple Error Message1').item.json.output.severity }}\n*Date Submitted*: {{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\n\n*Error Details*:\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\n- *HTTP Code*: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}\n- *Summary*: {{ $('Create Simple Error Message1').item.json.output.summary }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2272,
          672
        ],
        "id": "00d3f59d-183d-4873-b287-1476da4b24cb",
        "name": "Send a simple message",
        "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
        "credentials": {
          "slackApi": {
            "id": "OK65YiwPuYd5tw8v",
            "name": "Stephen Slack User account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09V1831FN2",
            "mode": "list",
            "cachedResultName": "syntech-n8n-error-tracker"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2512,
          672
        ],
        "id": "6d139771-d655-471c-929b-f9683ddece1d",
        "name": "Send a block message",
        "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
        "credentials": {
          "slackApi": {
            "id": "OK65YiwPuYd5tw8v",
            "name": "Stephen Slack User account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09V1831FN2",
            "mode": "list",
            "cachedResultName": "syntech-n8n-error-tracker"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"There's a new error that needs your attention ⚠️\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Workflow Name:*\\n {{ $('Error Trigger').item.json.workflow.name }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion Ticket:*\\n {{ $('Add Error Ticket').item.json.url ? '<' + $('Add Error Ticket').item.json.url + '|View Ticket>' : 'No matching Notion page' }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Node:*\\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion URL:*\\n*<{{ $('Send Error Message To Content Engine').item.json.url }}|Notion>*\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Severity:*\\n{{ $('Create Simple Error Message').item.json.output.severity }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Date Submitted:*\\n{{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Error Details:*\\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\\n-  *Summary*: {{ $('Create Simple Error Message').item.json.output.summary }}\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
          "text": "=New Error In - {{ $('Error Trigger').item.json.workflow.name }}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2624,
          160
        ],
        "id": "b4ea11b9-2c7f-4d02-bc20-7d3ef2d57e94",
        "name": "Send a message slack",
        "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
        "credentials": {
          "slackApi": {
            "id": "OK65YiwPuYd5tw8v",
            "name": "Stephen Slack User account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09V1831FN2",
            "mode": "list",
            "cachedResultName": "syntech-n8n-error-tracker"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"There's a new error that needs your attention ⚠️\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Workflow Name:*\\n {{ $('Error Trigger').item.json.workflow.name }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion Ticket:*\\n {{ $('Add Error Ticket2').item.json.url ? '<' + $('Add Error Ticket2').item.json.url + '|View Ticket>' : 'No matching Notion page' }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Node:*\\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion URL:*\\n*<{{ $('Send Error Message To Content Engine1').item.json.url }}|Notion>*\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Severity:*\\n{{ $('Create Simple Error Message2').item.json.output.severity }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Date Submitted:*\\n{{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Error Details:*\\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\\n- *HTTP*: {{ $('Error Trigger').item.json.execution.error.httpCode }}\\n- *Summary*: {{ $('Create Simple Error Message2').item.json.output.summary }}\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
          "text": "=New Error In - {{ $('Error Trigger').item.json.workflow.name }}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2512,
          -288
        ],
        "id": "1410f1a4-b7c4-439e-aaf7-553b9acdeec8",
        "name": "Send a message",
        "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
        "credentials": {
          "slackApi": {
            "id": "OK65YiwPuYd5tw8v",
            "name": "Stephen Slack User account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Get an execution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Find All Errors1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get an execution": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find All Errors": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Simple Error Message": {
        "main": [
          [
            {
              "node": "Send Error Message To Content Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Error Message To Content Engine": {
        "main": [
          [
            {
              "node": "Get many database pages",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Execution URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Create Simple Error Message",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Create Simple Error Message",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Add Error Ticket": {
        "main": [
          [
            {
              "node": "Send a message slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many database pages": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Execution URL": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Add Error Ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Error Ticket1": {
        "main": [
          [
            {
              "node": "Send a simple message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many database pages1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Create Simple Error Message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Execution URL1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Create Simple Error Message1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Create Simple Error Message1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Create Simple Error Message1": {
        "main": [
          [
            {
              "node": "Add Error Ticket1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Create Simple Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Find All Errors",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get many database pages1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Execution URL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find All Errors1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Simple Error Message2": {
        "main": [
          [
            {
              "node": "Send Error Message To Content Engine1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Error Ticket2": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Error Message To Content Engine1": {
        "main": [
          [
            {
              "node": "Get many database pages2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Execution URL2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser2": {
        "ai_outputParser": [
          [
            {
              "node": "Create Simple Error Message2",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Create Simple Error Message2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get many database pages2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Add Error Ticket2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Execution URL2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Create Simple Error Message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a simple message": {
        "main": [
          [
            {
              "node": "Send a block message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Stephen Anindo",
    "name": "init",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "898b4724-0982-4bc3-950a-44d603f1eebf",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Get an execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Find All Errors1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an execution": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Errors": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Simple Error Message": {
      "main": [
        [
          {
            "node": "Send Error Message To Content Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Message To Content Engine": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Execution URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create Simple Error Message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Simple Error Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Ticket": {
      "main": [
        [
          {
            "node": "Send a message slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Execution URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add Error Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Ticket1": {
      "main": [
        [
          {
            "node": "Send a simple message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create Simple Error Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Execution URL1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Create Simple Error Message1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create Simple Error Message1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Simple Error Message1": {
      "main": [
        [
          {
            "node": "Add Error Ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Simple Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Find All Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Execution URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Errors1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Simple Error Message2": {
      "main": [
        [
          {
            "node": "Send Error Message To Content Engine1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Ticket2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Message To Content Engine1": {
      "main": [
        [
          {
            "node": "Get many database pages2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Execution URL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Create Simple Error Message2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Create Simple Error Message2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Add Error Ticket2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Execution URL2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Simple Error Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a simple message": {
      "main": [
        [
          {
            "node": "Send a block message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:07.142Z",
  "id": "o41mt2JfV10VTV65",
  "isArchived": false,
  "meta": null,
  "name": "Basic Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "03ce63c4-b5fb-4bfd-95f3-3ab7c71ead74",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "get",
        "executionId": "={{ $json.execution.id }}",
        "options": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        80,
        176
      ],
      "id": "e25f763b-288d-424e-8f36-3b6723d3a698",
      "name": "Get an execution",
      "credentials": {
        "n8nApi": {
          "id": "uMfAmjqfKHEmfqBe",
          "name": "Syntech n8n account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.resultData.runData[\"Initial Input\"] }}",
                    "rightValue": "▶️ Multi Platform Content Transformation",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9bc6f0a8-2780-47f3-b8f7-8582d97b2ffb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "content_writer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bcc2001-e221-4866-9868-4cf3360bf0ab",
                    "leftValue": "={{ $json.workflowData.name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "basic_error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        160
      ],
      "id": "ed91d801-b9e1-4555-9efa-838b77aa70c2",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const runData = $input.first().json.data.resultData.runData;\n\nfunction extractErrors(runData) {\n  const errors = [];\n\n  for (const nodeName in runData) {\n    for (const exec of runData[nodeName]) {\n      if (exec.executionStatus === \"error\") {\n        const description =\n          exec.error?.description ||\n          exec.error?.message ||\n          exec.message ||\n          \"Unknown error\";\n\n        errors.push({ \n          nodeName, \n          description, \n          stack: exec.error.stack,\n          messages: exec.error.messages,\n          http: exec.error.httpCode,\n          notionUrl: $input.first().json.data.resultData.runData['Get Initial Article'][0].data.main[0][0].json.body.data.url\n        });\n      }\n    }\n  }\n\n  return errors;\n}\n\nreturn extractErrors(runData);\n\n\nreturn errors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        160
      ],
      "id": "63209c70-ed4a-4a29-9e5a-e87794b468e3",
      "name": "Find All Errors"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1248,
        64
      ],
      "id": "fa2a18cb-6d12-4e99-b20a-60339b289b49",
      "name": "Create Simple Error Message"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow|title",
              "title": "={{ $('Error Trigger').item.json.workflow.name }}"
            },
            {
              "key": "Execution URL|url",
              "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
            },
            {
              "key": "Node|rich_text",
              "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
            },
            {
              "key": "Issue Description|rich_text",
              "textContent": "={{ $('Create Simple Error Message').item.json.output.summary }}"
            },
            {
              "key": "Notion URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Send Error Message To Content Engine').item.json.url }}"
            },
            {
              "key": "Date Submitted|date",
              "date": "={{ $('Get an execution').item.json.stoppedAt }}"
            },
            {
              "key": "Severity|select",
              "selectValue": "={{ $('Create Simple Error Message').item.json.output.severity }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "=Node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.httpCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2400,
        160
      ],
      "id": "98da5f60-1bb8-43ce-b490-63e836fe9ed4",
      "name": "Add Error Ticket",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Find All Errors').first().json.notionUrl }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Error Details|rich_text",
              "textContent": "=Summary:{{ $json.output.summary }}\n\n\nDeveloper Error Message:\nNode:{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.message }}\n"
            },
            {
              "key": "Status|status",
              "statusValue": "={{ \n$('Error Trigger').item.json.execution.lastNodeExecuted === 'Generate Image Nano Banana HTTP' ? 'Error: Image Generation Failed' : \n$('Error Trigger').item.json.execution.lastNodeExecuted === 'Upload file contents1' ? 'Error: Image Upload Failed' : \n'Error: Unknown' \n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1664,
        160
      ],
      "id": "f130664b-9f70-41ee-bb00-964f89e99378",
      "name": "Send Error Message To Content Engine",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        288
      ],
      "id": "c76e258d-4eda-4f0f-bbe5-a1e7b0a83a04",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1264,
        288
      ],
      "id": "eb75dd92-9056-4e72-b412-d622c2b57756",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "uv5ovuIM0W5fmRTp",
          "name": "Stephen Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1952,
        64
      ],
      "id": "90868b2a-af04-494b-ac6d-6674b2df6de6",
      "name": "Get many database pages",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "property_execution_url",
              "field2": "execution_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        160
      ],
      "id": "87f148c3-8609-47aa-b4ce-eddb0fa7f5d8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
              "name": "execution_url",
              "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        256
      ],
      "id": "b4fa280d-913a-41c4-ac1c-ca48383b1a62",
      "name": "Set Execution URL"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow|title",
              "title": "={{ $('Error Trigger').item.json.workflow.name }}"
            },
            {
              "key": "Execution URL|url",
              "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
            },
            {
              "key": "Node|rich_text",
              "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
            },
            {
              "key": "Issue Description|rich_text",
              "textContent": "={{ $('Create Simple Error Message1').item.json.output.summary }}"
            },
            {
              "key": "Date Submitted|date",
              "date": "={{ $('Get an execution').item.json.startedAt }}"
            },
            {
              "key": "Severity|select",
              "selectValue": "={{ $('Create Simple Error Message1').item.json.output.severity }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "=Node:  {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2048,
        672
      ],
      "id": "1fe1fbb0-ebb5-4310-8626-f5a757ca965a",
      "name": "Add Error Ticket1",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1088,
        560
      ],
      "id": "29fe6f8a-3f04-4dba-81d8-10529c51d325",
      "name": "Get many database pages1",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "property_execution_url",
              "field2": "execution_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        656
      ],
      "id": "43828f8b-2bfa-4c56-8db7-5934e048c0f4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
              "name": "execution_url",
              "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        768
      ],
      "id": "cc6a5cfc-aba0-4636-9b59-90a81b9ab121",
      "name": "Set Execution URL1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Node: {{ $('Error Trigger').item.json.execution.error.node.name }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.messages }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1696,
        672
      ],
      "id": "0b616dd8-cf35-4d86-ae65-9e6b141b64c4",
      "name": "Create Simple Error Message1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        944
      ],
      "id": "07b736e1-68d8-4eb8-be6f-dc70b06c1a86",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1696,
        960
      ],
      "id": "c92f0b3e-5578-4432-966c-6fd7e2bf6831",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "uv5ovuIM0W5fmRTp",
          "name": "Stephen Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1024,
        160
      ],
      "id": "a499a43f-4281-44ea-8860-d8166110a895",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a305872e-1da0-452f-a93e-c0dd58fda1c0",
              "leftValue": "={{ $json.workflowData.name }}",
              "rightValue": "▶️ Image Generation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        224
      ],
      "id": "ab3424f6-08d7-4f16-84e9-2ac79687b284",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const runData = $input.first().json.data.resultData.runData;\n\nfunction extractErrors(runData) {\n  const errors = [];\n\n  for (const nodeName in runData) {\n    for (const exec of runData[nodeName]) {\n      if (exec.executionStatus === \"error\") {\n        const description =\n          exec.error?.description ||\n          exec.error?.message ||\n          exec.message ||\n          \"Unknown error\";\n\n        errors.push({ \n          nodeName, \n          description, \n          stack: exec.error.stack,\n          messages: exec.error.messages,\n          http: exec.error.httpCode,\n          notionUrl:  $input.first().json.data.resultData.runData[\"Initial Input\"][0].data.main[0][0].json.initial_article\n        });\n      }\n    }\n  }\n\n  return errors;\n}\n\nreturn extractErrors(runData);\n\n\nreturn errors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -288
      ],
      "id": "cdf288fa-93ef-4122-8fff-12bb4711b993",
      "name": "Find All Errors1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an assistant designed to analyze error objects from N8n workflow executions.\n\nYou will be given:\n- A node name\n- A description or message from the error\n- A stack trace\n- An HTTP response code and full response message (if available)\n\nYour task is to return a JSON object with the following two fields:\n\n1. **summary** – Write a short, user-friendly explanation of the error in plain English (max 80 words). Explain what likely caused the issue and suggest one actionable fix if possible.\n\n2. **severity** – Classify the error into one of three severity levels:\n   - \"Urgent\": This error will stop all future workflow runs (e.g. expired API keys, invalid credentials, critical system failures)\n   - \"Medium\": Affects this specific run but may self-resolve or be limited in scope (e.g. bad input data, timeout)\n   - \"Low\": Temporary and retryable issues that are unlikely to require immediate action (e.g. rate limits, service temporarily unavailable)\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1040,
        -384
      ],
      "id": "eea0e0a0-a19e-47a7-af81-97ff31c747e4",
      "name": "Create Simple Error Message2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow|title",
              "title": "={{ $('Error Trigger').item.json.workflow.name }}"
            },
            {
              "key": "Execution URL|url",
              "urlValue": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}"
            },
            {
              "key": "Node|rich_text",
              "textContent": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"
            },
            {
              "key": "Issue Description|rich_text",
              "textContent": "={{ $('Create Simple Error Message2').item.json.output.summary }}"
            },
            {
              "key": "Notion URL|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Send Error Message To Content Engine1').item.json.url }}"
            },
            {
              "key": "Date Submitted|date",
              "date": "={{ $('Get an execution').item.json.startedAt }}"
            },
            {
              "key": "Severity|select",
              "selectValue": "={{ $('Create Simple Error Message2').item.json.output.severity }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "=Node:  {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nDescription: {{ $('Error Trigger').item.json.execution.error.description }} \nStack: {{ $('Error Trigger').item.json.execution.error.stack }} \nMessages:  {{ $('Error Trigger').item.json.execution.error.message }}\nHTTP: {{ $('Error Trigger').item.json.execution.error.httpCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2192,
        -288
      ],
      "id": "222681c9-835f-415a-880a-f4f809ca2c84",
      "name": "Add Error Ticket2",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Find All Errors1').first().json.notionUrl }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Error Message|rich_text",
              "textContent": "=Developer Error Message:\nNode: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nStack: {{ $('Error Trigger').item.json.execution.error.stack }}\nMessages: {{ $('Error Trigger').item.json.execution.error.message }}\n"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $('Error Trigger').item.json.execution.lastNodeExecuted === 'Generate Image HTTP' && 'Error: Image Generation Failed' || 'Error: Unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1456,
        -288
      ],
      "id": "1bf4a854-c35d-4fda-920d-c9b58fe17e81",
      "name": "Send Error Message To Content Engine1",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"severity\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        -160
      ],
      "id": "0e792c6b-0fbc-4bba-a71b-20235dfcdb29",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1056,
        -160
      ],
      "id": "f002e1ed-b525-4748-b7d4-f46d73a184d1",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "uv5ovuIM0W5fmRTp",
          "name": "Stephen Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2b6785c0-cfab-819a-aeb6-ebd26f7f70d5",
          "mode": "list",
          "cachedResultName": "Syntech Error Tracker",
          "cachedResultUrl": "https://www.notion.so/2b6785c0cfab819aaeb6ebd26f7f70d5"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1744,
        -384
      ],
      "id": "0626370b-b4c2-4dcc-b463-3b73fdcdf0c4",
      "name": "Get many database pages2",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "property_execution_url",
              "field2": "execution_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1968,
        -288
      ],
      "id": "e5189ede-8dde-4713-bd54-be96f830dc6c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c5d4b3-cfed-49bf-928b-098c06126e66",
              "name": "execution_url",
              "value": "={{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -192
      ],
      "id": "f751950f-44a7-45e7-b676-626963090638",
      "name": "Set Execution URL2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        -288
      ],
      "id": "181d8780-cd8e-43d5-bf39-9b1de21040ed",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "text": "=There's a new error that needs your attention⚠️\n\n*Workflow Name*: {{ $('Error Trigger').item.json.workflow.name }}\n*Notion Ticket*: {{ $('Add Error Ticket1').item.json.url ? '<' + $('Add Error Ticket1').item.json.url + '|View Ticket>': 'No matching Notion page' }}\n*Node*: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n*Severity*: {{ $('Create Simple Error Message1').item.json.output.severity }}\n*Date Submitted*: {{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\n\n*Error Details*:\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\n- *HTTP Code*: {{ $('Error Trigger').item.json.execution.error.errorResponse.httpCode }}\n- *Summary*: {{ $('Create Simple Error Message1').item.json.output.summary }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2272,
        672
      ],
      "id": "00d3f59d-183d-4873-b287-1476da4b24cb",
      "name": "Send a simple message",
      "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2512,
        672
      ],
      "id": "6d139771-d655-471c-929b-f9683ddece1d",
      "name": "Send a block message",
      "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"There's a new error that needs your attention ⚠️\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Workflow Name:*\\n {{ $('Error Trigger').item.json.workflow.name }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion Ticket:*\\n {{ $('Add Error Ticket').item.json.url ? '<' + $('Add Error Ticket').item.json.url + '|View Ticket>' : 'No matching Notion page' }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Node:*\\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion URL:*\\n*<{{ $('Send Error Message To Content Engine').item.json.url }}|Notion>*\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Severity:*\\n{{ $('Create Simple Error Message').item.json.output.severity }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Date Submitted:*\\n{{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Error Details:*\\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\\n-  *Summary*: {{ $('Create Simple Error Message').item.json.output.summary }}\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "=New Error In - {{ $('Error Trigger').item.json.workflow.name }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2624,
        160
      ],
      "id": "b4ea11b9-2c7f-4d02-bc20-7d3ef2d57e94",
      "name": "Send a message slack",
      "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"There's a new error that needs your attention ⚠️\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Workflow Name:*\\n {{ $('Error Trigger').item.json.workflow.name }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion Ticket:*\\n {{ $('Add Error Ticket2').item.json.url ? '<' + $('Add Error Ticket2').item.json.url + '|View Ticket>' : 'No matching Notion page' }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Node:*\\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Notion URL:*\\n*<{{ $('Send Error Message To Content Engine1').item.json.url }}|Notion>*\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Severity:*\\n{{ $('Create Simple Error Message2').item.json.output.severity }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Date Submitted:*\\n{{ new Date($('Get an execution').item.json.startedAt).toLocaleString() }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Error Details:*\\n- *Description*: {{ $('Error Trigger').item.json.execution.error.description }}\\n- *HTTP*: {{ $('Error Trigger').item.json.execution.error.httpCode }}\\n- *Summary*: {{ $('Create Simple Error Message2').item.json.output.summary }}\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Mark As Complete\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Has this task been completed\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"value-0\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"url\": \"{{ 'https://syntech.granite-automations.app/workflow/' + $('Error Trigger').item.json.workflow.id + '/executions/' + $('Error Trigger').item.json.execution.id }}\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"View Execution\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"action_id\": \"actionId-0\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "=New Error In - {{ $('Error Trigger').item.json.workflow.name }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2512,
        -288
      ],
      "id": "1410f1a4-b7c4-439e-aaf7-553b9acdeec8",
      "name": "Send a message",
      "webhookId": "d98789a2-b2b3-4f8f-a4fb-e226aa1adb2e",
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:07.142Z",
      "createdAt": "2026-01-28T09:06:07.142Z",
      "role": "workflow:owner",
      "workflowId": "o41mt2JfV10VTV65",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T09:06:07.142Z",
  "versionId": "898b4724-0982-4bc3-950a-44d603f1eebf"
}