2026/01/Daily Github Backups.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:44.166Z",
  "id": "WtMEVC4qWMR67jHg",
  "isArchived": true,
  "meta": null,
  "name": "Daily Github Backups",
  "nodes": [
    {
      "parameters": {},
      "id": "8d9b2064-92dc-446c-8772-5b5dbe1e3bbb",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        592,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "e192f5f2-85c8-42ae-b578-2ce4c1f00e6f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "69e9e67d-1925-47c2-ba80-300143d914c5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        176,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b37d239f-8526-4a07-a28d-0d91c351c473",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        992,
        -32
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "uMfAmjqfKHEmfqBe",
          "name": "Syntech n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a87fff0-3ea5-44e0-9060-346057cbf81c",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        464
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "4866b547-ceda-490a-8352-a69f48ef2fc3",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bef0bb9b-b30b-4698-a3ac-8476a3f0f6bb",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "20e5ed4a-bf08-4e5b-8058-a9573761f862",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        560,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  console.log(\"orderedOriginal: \",orderedOriginal)\n  console.log(\"orderedActual: \",orderedActual)\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  console.log(\"orderedOriginal: \",orderedOriginal)\n  console.log(\"orderedActual: \",orderedActual)\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "6171873e-e95b-43b8-a45e-b6f1135169aa",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        752,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "9857950f-6c27-4682-b337-b89cc17e03e1",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1152,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "752bacea-db06-482b-9ca7-6ab529592da5",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1376,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d07067b4-e7ee-481b-8a45-abf1b625999f",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1376,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2265f9fd-3620-418a-981e-170900911693",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1376,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.name}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "7a4823aa-c8c3-4a8a-b42a-a598cac904d4",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        816
      ],
      "typeVersion": 1,
      "webhookId": "f7658381-a3b3-4367-a645-9de950ffe7c3",
      "credentials": {
        "githubApi": {
          "id": "ti0Y0Y0R6DwAKMyS",
          "name": "Stephen GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.name}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "03b2f132-b581-4978-84f1-b0497b7b98bc",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        624
      ],
      "typeVersion": 1,
      "webhookId": "7f6e214c-488f-45cb-83e7-dd6c3d8aada2",
      "credentials": {
        "githubOAuth2Api": {
          "id": "HUZxX3LPTcXrvLbf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "06ed587f-81c8-447d-b86e-aed61c6cc93f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1408,
        -32
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "550bd353-1ec9-45cd-9663-f3db45a67363",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        592,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "280bb376-8565-4bfe-a312-5fe21f4911b5",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        960,
        624
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "323048e3-9a58-4df7-acc5-3529112d788c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "df24f146-2229-40cf-ac29-a4eed41a4d4b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "f40a2c71-7d05-4faf-a54a-90fbd1af5cd6",
      "name": "Starting Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        832,
        -32
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "068a1ee5-c384-4fc9-8b1e-0832215e189e",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1632,
        -16
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "otherOptions": {}
      },
      "id": "f7ad0b5c-aa28-474d-a29c-8e466ef17258",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        1632,
        -192
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V1831FN2",
          "mode": "list",
          "cachedResultName": "syntech-n8n-error-tracker"
        },
        "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "272d311a-7a3c-41e6-b679-d7c7fd140788",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.slack",
      "position": [
        1824,
        16
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "OK65YiwPuYd5tw8v",
          "name": "Stephen Slack User account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.name}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "a9c46825-64fa-4a73-8103-ed242290a428",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        352,
        352
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "a1e436cc-ad3c-4644-a85e-fb02903855be",
      "credentials": {
        "githubOAuth2Api": {
          "id": "HUZxX3LPTcXrvLbf",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=Granite-Marketing"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=syntech-n8n-backup-new"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=https://github.com/Granite-Marketing/syntech-n8n-backup/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ef393a57-8ccb-45df-9c15-a9d0c916da65",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        352,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "maxItems": 1000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        -32
      ],
      "id": "125b8e6a-7bc2-420a-bbff-7c7888528e99",
      "name": "Limit"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Qsg1jSZ5AQScoAOn"
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:44.166Z",
      "createdAt": "2026-01-28T08:12:44.166Z",
      "role": "workflow:owner",
      "workflowId": "WtMEVC4qWMR67jHg",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:19:03.623Z",
  "versionId": "f7736c5e-c421-45db-9670-0afa304d37ea"
}