2026/01/Keyword Biofuel Content Analyzer Firecrawl.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a url and get its content4": {
      "main": [
        [
          {
            "node": "If Not Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword3": {
      "main": [
        [
          {
            "node": "create longtail keyword6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Error2": {
      "main": [
        [
          {
            "node": "tavily search fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "failed url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "failed url1": {
      "main": [
        [
          {
            "node": "extract content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract content1": {
      "main": [
        [
          {
            "node": "extract date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown6": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract date": {
      "main": [
        [
          {
            "node": "Markdown6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "create longtail keyword6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "create longtail keyword6",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title2": {
      "main": [
        [
          {
            "node": "https fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Create summary and title2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create longtail keyword6": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "https fields": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tavily search fields1": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape a url and get its content4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:44.196Z",
  "id": "3MdpvOntrDcnH81W",
  "isArchived": true,
  "meta": null,
  "name": "Keyword Biofuel Content Analyzer Firecrawl",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2976,
        224
      ],
      "id": "ee25570c-8668-4102-a1c6-e1d825a0a800",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "query": "={{ $json.output.keyword_variant }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": 5,
          "time_range": "month",
          "include_images": false
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -1728,
        256
      ],
      "id": "5921a686-3040-48fa-a8fb-5cafcb9e19f3",
      "name": "Search",
      "alwaysOutputData": false,
      "credentials": {
        "tavilyApi": {
          "id": "ZcHvfAvaiPVC9onF",
          "name": "Tavily account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1488,
        256
      ],
      "id": "834c1109-5249-4681-a55c-369d2bd7d5e5",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2800,
        240
      ],
      "id": "4d819dfa-2e7e-44ce-a1c6-aefca308dde8",
      "name": "Limit2"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "nav"
                },
                {
                  "tag": "style"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -448,
        208
      ],
      "id": "ceb073d5-46c8-4738-8d8b-cb935ca0d772",
      "name": "Scrape a url and get its content4",
      "executeOnce": true,
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_name || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "1bf13ab6-84ba-4faf-ae05-c664b1e9c8cd",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "e49600f7-c2d9-46d2-9903-5bc13fbb7f78",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        256
      ],
      "id": "c5f87772-46f4-49b3-8648-708db0bcf7f1",
      "name": "Either Url or Keyword3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e532ff2-3eee-4984-88ef-3cc30f2e6bdf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        208
      ],
      "id": "739c96e7-3008-429e-809b-b6da4f1c2cdc",
      "name": "If Not Error2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        416
      ],
      "id": "35c579c4-ea75-4729-a9f6-5fbf144f9f84",
      "name": "Merge8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f5d0405-44b1-4f2d-8c24-9a3c2efe4520",
              "name": "url_or_keyword",
              "value": "={{ $('Split Out1').first().json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        400
      ],
      "id": "4bf9fce8-53d5-4112-917f-fed51f61c787",
      "name": "failed url1"
    },
    {
      "parameters": {
        "url": "={{ $json.url_or_keyword }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        400
      ],
      "id": "7e8a0203-0f91-4305-b4f0-2e1ffe5b5fbb",
      "name": "extract content1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2544,
        240
      ],
      "id": "54beadde-9687-443b-93db-36dfc7576678",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "html": "={{ $('extract content1').item.json.data || '' }}",
        "destinationKey": "linebreak",
        "options": {
          "bulletMarker": "*",
          "codeFence": "```",
          "emDelimiter": "_",
          "ignore": "a, link, nav, footer, header, script, style, table",
          "keepDataImages": false,
          "maxConsecutiveNewlines": 2,
          "useLinkReferenceDefinitions": false,
          "strongDelimiter": "**",
          "codeBlockStyle": "fence",
          "textReplace": {
            "values": [
              {
                "pattern": "\\[([^\\]]+)\\]\\([^)]+\\)",
                "replacement": "$1"
              },
              {
                "pattern": "\\s{2,}",
                "replacement": " "
              },
              {
                "pattern": "^\\s+|\\s+$"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        512,
        400
      ],
      "id": "3ec8f51c-38e4-4cf1-aea8-1c26be3c608b",
      "name": "Markdown6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"extract content1\"].json[\"data\"];\n\n// Function to extract published date from various HTML patterns\nconst extractPublishedDate = (html) => {\n    if (!html) return null;\n    \n    // 1. Open Graph meta tags (most common)\n    let match = html.match(/<meta[^>]*property=[\"']article:published_time[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']article:published_time[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 2. Schema.org meta tags\n    match = html.match(/<meta[^>]*itemprop=[\"']datePublished[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*itemprop=[\"']datePublished[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 3. Standard meta name tags\n    const metaNames = [\n        'publishdate', 'publication-date', 'date', 'pubdate', 'publish_date',\n        'published-date', 'article.published', 'article:published',\n        'datePublished', 'dc.date', 'DC.date', 'dc.date.issued',\n        'sailthru.date', 'article.created', 'last-modified', 'created'\n    ];\n    \n    for (const name of metaNames) {\n        match = html.match(new RegExp(`<meta[^>]*name=[\"']${name}[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n        \n        match = html.match(new RegExp(`<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*name=[\"']${name}[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n    }\n    \n    // 4. JSON-LD structured data\n    const jsonLdMatch = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonLdMatch) {\n        for (const jsonBlock of jsonLdMatch) {\n            try {\n                const jsonContent = jsonBlock.replace(/<script[^>]*>|<\\/script>/gi, '').trim();\n                const data = JSON.parse(jsonContent);\n                \n                // Handle both single objects and arrays\n                const items = Array.isArray(data) ? data : [data];\n                \n                for (const item of items) {\n                    if (item.datePublished) return item.datePublished;\n                    if (item.publishedDate) return item.publishedDate;\n                    if (item.dateCreated) return item.dateCreated;\n                    if (item.article?.datePublished) return item.article.datePublished;\n                }\n            } catch (e) {\n                // Continue if JSON parsing fails\n            }\n        }\n    }\n    \n    // 5. Time tags with datetime attribute\n    match = html.match(/<time[^>]*datetime=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 6. Data attributes\n    match = html.match(/data-published[-_]?(?:time|date)=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/data-date=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 7. Twitter card meta tags\n    match = html.match(/<meta[^>]*name=[\"']twitter:data1[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1] && /\\d{4}/.test(match[1])) return match[1];\n    \n    // 8. Specific publisher formats\n    // WordPress\n    match = html.match(/<abbr[^>]*class=[\"'][^\"']*published[\"'][^>]*title=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // Medium\n    match = html.match(/data-post-published-at=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 9. Look for ISO date patterns in the HTML (last resort)\n    const isoDateMatch = html.match(/\\b(20\\d{2}[-\\/](0[1-9]|1[0-2])[-\\/](0[1-9]|[12]\\d|3[01])(?:T[\\d:]+(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?)?)\\b/);\n    if (isoDateMatch?.[1]) return isoDateMatch[1];\n    \n    return null;\n};\n\n// Function to extract page title\nconst extractTitle = (html) => {\n    if (!html) return null;\n\n    let match = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*property=[\"']og:title[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']og:title[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*name=[\"']twitter:title[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    return null;\n};\n\n// Function to extract meta description\nconst extractMetaDescription = (html) => {\n    if (!html) return null;\n\n    let match = html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*name=[\"']description[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']og:description[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    match = html.match(/<meta[^>]*name=[\"']twitter:description[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n\n    return null;\n};\n\n// Extract values\nconst publishedDate = extractPublishedDate(htmlContent);\nconst title = extractTitle(htmlContent);\nconst metaDescription = extractMetaDescription(htmlContent);\n\n// Return result\nreturn {\n    publishedDate,\n    title,\n    metaDescription\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        432
      ],
      "id": "b00d76aa-84fb-4a9d-aabb-664afb048a18",
      "name": "extract date"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2064,
        512
      ],
      "id": "fd48b019-8d9d-4901-bf52-d1787cce6819",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyword_variant\": {\n      \"type\": \"string\",\n      \"description\": \"SEO keyword variant\"\n    }\n  },\n  \"required\": [\"keyword_variant\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1904,
        480
      ],
      "id": "d79b50a6-33a5-4c9f-bfd5-09c69dee0410",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.linebreak }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        432
      ],
      "id": "ef38d5fb-637e-4d65-85e9-72011e9d49fc",
      "name": "Create summary and title2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        656
      ],
      "id": "0e047562-94f9-48a1-8bbc-08995c4ad461",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        624
      ],
      "id": "13ad4863-17b0-486c-8cb0-0defd2acb0f7",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8cf8cda7-52a7-46bf-9ac4-75e3d84f69ea",
              "leftValue": "={{ $json.linebreak }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        752,
        416
      ],
      "id": "f460f04e-f571-45e0-90f8-1a6ea14bebc3",
      "name": "Filter1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.url_or_keyword }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Act as a search query generator.\n\nYou will receive a single keyword related to sustainable biofuels (e.g., “B20 FAME”, “used cooking oil”, etc.).\n\nYour task is to generate a **concise and relevant search phrase** that includes the keyword exactly as provided. The search phrase should aim to surface the **latest news, market trends, regulatory updates, or technological advancements** related to that keyword, with a **primary focus on the UK**, and **secondarily on the EU**.\n\nKeep the output **short, clear, and snappy** — like a search engine query. Make sure it sounds natural but is optimized to find **recent insights**.\n\n---\n\n**Rules:**\n- **Always include the input keyword as-is** in the output.\n- Keep the total phrase **under 10 words**.\n- Focus the query on **UK and EU news or insights**.\n- Prioritize recent, relevant developments (e.g., past few months).\n\n---\n\n**Input format:** A single keyword (string)  \n**Output format:** One concise search phrase\n\n---\n\n**Examples:**\n- Input: `used cooking oil` → Output: `UK and EU news on used cooking oil`\n- Input: `B20 FAME` → Output: `Market trends and news for B20 FAME UK`\n- Input: `waste-derived biodiesel` → Output: `UK updates on waste-derived biodiesel`"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2048,
        256
      ],
      "id": "c153faf4-41b1-430d-8e84-481cf78a5bcb",
      "name": "create longtail keyword6",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Split Out1').first().json.title || $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('Markdown6').first().json.linebreak.removeMarkdown()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('failed url1').first().json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "da6884f3-275c-41e7-87c5-c20fb29e9419",
              "name": "search_query",
              "value": "={{ $('Search').first().json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('extract date').first().json.publishedDate || '' }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "=Tavily",
              "type": "string"
            },
            {
              "id": "b6707082-f321-40a8-8174-678e004169df",
              "name": "=additional_formats",
              "value": "={{ $('When Executed by Another Workflow').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "ac5d4a60-217d-4291-a6cd-ef525481c403",
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "eb7d506e-d06c-448f-a6a1-7726df3f6bbb",
              "name": "=mode",
              "value": "={{ $('When Executed by Another Workflow').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        432
      ],
      "id": "03d2f660-d9e4-4247-9511-b173d55b9298",
      "name": "https fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Split Out1').item.json.title || $('Scrape a url and get its content4').item.json.data.metadata.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('Scrape a url and get its content4').item.json.data.markdown.removeMarkdown()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.metadata.url }}",
              "type": "string"
            },
            {
              "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
              "name": "summary",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "9573ac47-f760-4075-af1e-41774d546f60",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword3').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('Split Out1').item.json.published_date || $json.data.metadata.citation_publication_date || $('Scrape a url and get its content4').item.json.data.metadata['cXenseParse:publishtime'] || $('Scrape a url and get its content4').item.json.data.metadata.publishedTime || $('Scrape a url and get its content4').item.json.data.metadata.publishedTime || $('Scrape a url and get its content4').item.json.data.metadata['article:published_time'] }}\n\n",
              "type": "string"
            },
            {
              "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
              "name": "source",
              "value": "Tavily",
              "type": "string"
            },
            {
              "id": "40580acd-9a0c-4de0-91cd-0605052a5810",
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "a1839b94-f160-4685-8932-0258bd67b0cf",
              "name": "additional_formats",
              "value": "={{ $('When Executed by Another Workflow').item.json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "8cad40d7-a7a0-46cb-a90e-a20807fe81b9",
              "name": "=mode",
              "value": "={{ $('When Executed by Another Workflow').item.json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        192
      ],
      "id": "11ae2d33-22d8-42dd-8eee-9add787cd7c2",
      "name": "tavily search fields1"
    },
    {
      "parameters": {
        "content": "##  News scrap through Keyword using Firecrawl",
        "height": 784,
        "width": 4848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3088,
        64
      ],
      "typeVersion": 1,
      "id": "94f292fc-0737-453e-be17-d3c0d8490d91",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "keyword firecrawl url",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        320
      ],
      "id": "cb3796b7-a215-4945-bc2d-88a2b26ecf5b",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        256
      ],
      "id": "d3df7199-6462-44c3-b231-46237708530f",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        240
      ],
      "id": "80e44e56-4c8b-45e2-9499-f0b1c3d18848",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "keyword firecrawl url",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        496
      ],
      "id": "8bd33cc2-eb79-49f4-b2ba-0e3169fd196d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -656,
        496
      ],
      "id": "80e73406-4e05-4e63-9e97-fa51c5236b93",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:44.196Z",
      "createdAt": "2026-01-28T08:12:44.196Z",
      "role": "workflow:owner",
      "workflowId": "3MdpvOntrDcnH81W",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:18:58.509Z",
  "versionId": "7663d72d-c4f6-4f25-8b97-82ee3a787f7a"
}