2026/01/LinkedIn Biofuel Content Analyzer.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin profile scraper": {
      "main": [
        [
          {
            "node": "linkedin fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Filter out empty content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin fields": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "linkedin fields1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title3": {
      "main": [
        [
          {
            "node": "Linkedin post search scraper fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin company post search scraper": {
      "main": [
        [
          {
            "node": "linkedin fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Linkedin keword scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linkedin profile scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linkedin company post search scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post search scraper fields": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create summary and title3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Create summary and title3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin keword scraper": {
      "main": [
        [
          {
            "node": "linkedin fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin fields2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:07.041Z",
  "id": "AhVux7SrGtPPGl2f",
  "isArchived": false,
  "meta": null,
  "name": "LinkedIn Biofuel Content Analyzer",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "id": "1908423c-0a8e-4d48-bf60-6fc7ba9e0124",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -13792,
        -3952
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "A3cAPGpwBEG8RJwse",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Posts Bulk Scraper (No Cookies)⚡$2 per 1k (harvestapi/linkedin-profile-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/A3cAPGpwBEG8RJwse/input"
        },
        "customBody": "={\n    \"includeQuotePosts\": false,\n    \"includeReposts\": false,\n    \"maxComments\": 0,\n    \"maxPosts\": 5,\n    \"maxReactions\": 0,\n    \"postedLimit\": \"month\",\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"targetUrls\": [\n        \"{{ $json.url_or_keyword }}\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -12160,
        -3968
      ],
      "id": "9c012d8b-8c74-423c-8e9e-864f589ac80d",
      "name": "Linkedin profile scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -13568,
        -3952
      ],
      "id": "6bb364ec-9f65-4cd5-a71e-03914fe8971d",
      "name": "Limit4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url || $json.url_or_keyword || $json.name }}",
              "type": "string"
            },
            {
              "id": "20618a33-4eba-4a9e-99e3-5271598f180c",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "f195a260-08af-4cc2-a6b1-7e5f306adb5c",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12992,
        -3952
      ],
      "id": "5dd9cd63-b40f-4281-b6e4-b749253b7b7a",
      "name": "Either Url or Keyword2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -11616,
        -4000
      ],
      "id": "e81ebcac-7c35-4a4c-9505-5cabe71be38f",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85711e61-d413-47d4-b046-f368cd9ea7e6",
              "name": "url",
              "value": "={{ $json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "3ecbaa12-9e7c-4210-adf3-8ae326daa833",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "b3e1beef-2b90-40f4-b275-f09998ec258b",
              "name": "publication_date",
              "value": "={{ $json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "bcd3d0bb-05f7-4e46-9292-c9f035648ba8",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword2').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11888,
        -3984
      ],
      "id": "1e62cb7e-3cd3-47d1-aad0-933af76a3aa5",
      "name": "linkedin fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85711e61-d413-47d4-b046-f368cd9ea7e6",
              "name": "url",
              "value": "={{ $json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "3ecbaa12-9e7c-4210-adf3-8ae326daa833",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "b3e1beef-2b90-40f4-b275-f09998ec258b",
              "name": "publication_date",
              "value": "={{ $json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "bcd3d0bb-05f7-4e46-9292-c9f035648ba8",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword2').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11888,
        -3696
      ],
      "id": "f893a992-f5dc-4426-a28d-546ce0ed5508",
      "name": "linkedin fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -13312,
        -3952
      ],
      "id": "4779a52e-eec3-455d-8929-0f5e51e7f392",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "53df6988-fe46-4734-ab7c-744879729cd3",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8b9fe87b-480d-4a26-9d6d-f721176c66ec",
              "leftValue": "={{ $json.url }}",
              "rightValue": "syntechbiofuel",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "b88fcee8-e374-4417-968a-69fa5c7e7978",
              "leftValue": "={{ $json.content }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -11376,
        -3984
      ],
      "id": "a15db086-9c25-4331-811d-21fab202970f",
      "name": "Filter out empty content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $('If1').item.json.content }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -9712,
        -4016
      ],
      "id": "4e404d22-d31c-47d4-9f48-bb547a057a2b",
      "name": "Create summary and title3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -9760,
        -3632
      ],
      "id": "2561ac0a-3d28-41e7-9e84-4e6dc55797f2",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -9408,
        -3680
      ],
      "id": "1ff8f019-ed54-464f-b6ec-2cdfded1882f",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "WI0tj4Ieb5Kq458gB",
          "mode": "list",
          "cachedResultName": "LinkedIn Company Posts Scraper (No Cookies) ✅ $2 per 1k (harvestapi/linkedin-company-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/WI0tj4Ieb5Kq458gB/input"
        },
        "customBody": "={\n    \"includeQuotePosts\": false,\n    \"includeReposts\": false,\n    \"maxPosts\": 5,\n    \"postedLimit\": \"month\",\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"targetUrls\": [\n        \"{{ $json.url_or_keyword }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -12160,
        -3680
      ],
      "id": "d970d390-4ab3-4abf-8b38-8d70b7b8e274",
      "name": "Linkedin company post search scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url_or_keyword }}",
                    "rightValue": "https://",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "9bd7a37d-5619-4b82-ac94-75dd3df5d5ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Keyword"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89af75b5-0f31-4712-950f-767d7199e28f",
                    "leftValue": "={{ $json.url_or_keyword }}",
                    "rightValue": "https://www.linkedin.com/in/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "profile url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6aba742-8519-4530-9004-d805321fcd21",
                    "leftValue": "={{ $json.url_or_keyword }}",
                    "rightValue": "https://www.linkedin.com/company/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "company url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -12656,
        -3984
      ],
      "id": "9c6d228c-026a-41ff-9479-271961df3214",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "buIWk2uOUzTmcLsuB",
          "mode": "list",
          "cachedResultName": "Linkedin Post Search Scraper (No Cookies) (harvestapi/linkedin-post-search)",
          "cachedResultUrl": "https://console.apify.com/actors/buIWk2uOUzTmcLsuB/input"
        },
        "customBody": "={\n    \"maxPosts\": 5,\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"searchQueries\": [\n        \"{{ $('Either Url or Keyword2').item.json.url_or_keyword }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -12160,
        -4176
      ],
      "id": "6a5c11a2-c447-47f5-8885-a7065fca8802",
      "name": "Linkedin keword scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43ef6d98-1769-479a-ab8a-0f9d4d543ce6",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "014cb7eb-9846-4c41-8cee-4a809250264e",
              "name": "content",
              "value": "={{ $('Merge5').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b2be53b4-3451-4aeb-be78-c71beb7a8178",
              "name": "url",
              "value": "={{ $('Merge5').item.json.url }}",
              "type": "string"
            },
            {
              "id": "54293f71-70d3-40d0-9f40-19de090bcd63",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "ce7b5d35-72b2-4f82-8744-f1643dd958eb",
              "name": "search_query",
              "value": "={{ $('Merge5').item.json.search_query }}",
              "type": "string"
            },
            {
              "id": "db4f55e1-7247-4206-a654-e5d314dbd40b",
              "name": "publication_date",
              "value": "={{ $('Merge5').item.json.publication_date }}",
              "type": "string"
            },
            {
              "id": "7674fce2-3c47-4703-88e3-c55a4990ee5c",
              "name": "prompt",
              "value": "={{ $('Either Url or Keyword2').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "694d03a3-b47b-4515-9ed7-fa8cf0d4b0b6",
              "name": "additional_formats",
              "value": "={{ $('Either Url or Keyword2').item.json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "cdb58557-3653-4500-943e-71ea35ec0f27",
              "name": "source",
              "value": "LinkedIn",
              "type": "string"
            },
            {
              "id": "070c84e8-8286-4abb-b573-4a18af055f6d",
              "name": "mode",
              "value": "={{ $('Start').item.json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9088,
        -3952
      ],
      "id": "0d25986b-cad1-44fc-bca0-03104edf2970",
      "name": "Linkedin post search scraper fields"
    },
    {
      "parameters": {
        "content": "## News Scrap through LinkedIn url",
        "height": 976,
        "width": 5312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14128,
        -4288
      ],
      "typeVersion": 1,
      "id": "b865c9e3-8bb3-4c43-9a1c-fce32593dd77",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "linkedin url",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -11040,
        -3872
      ],
      "id": "e3ed024e-fe05-4235-b96b-b2654416cfa1",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -10736,
        -3968
      ],
      "id": "e154ca37-7cc4-4f6d-ad4e-140e9972ff3a",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -10432,
        -3968
      ],
      "id": "04435cec-46d1-4b38-97bd-6ba36f4a439d",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "linkedin url",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -10112,
        -3872
      ],
      "id": "9a2e359f-1410-480b-9fb2-527dd19f15d6",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -9904,
        -3872
      ],
      "id": "783276f4-119f-4bb4-9e77-fdb7f9fdd31c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85711e61-d413-47d4-b046-f368cd9ea7e6",
              "name": "url",
              "value": "={{ $json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "3ecbaa12-9e7c-4210-adf3-8ae326daa833",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "b3e1beef-2b90-40f4-b275-f09998ec258b",
              "name": "publication_date",
              "value": "={{ $json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "bcd3d0bb-05f7-4e46-9292-c9f035648ba8",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword2').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11872,
        -4176
      ],
      "id": "2d57f5c6-b31d-42e4-b63e-9ee1161e462f",
      "name": "linkedin fields2"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:07.041Z",
      "createdAt": "2026-01-28T09:06:07.041Z",
      "role": "workflow:owner",
      "workflowId": "AhVux7SrGtPPGl2f",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T09:06:07.041Z",
  "versionId": "52b3a9fe-24b6-47a0-a0f7-df41701406f8"
}