2026/01/News Sourcing Stephen.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post search scraper": {
      "main": [
        [
          {
            "node": "Create Summary and title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin profile scraper": {
      "main": [
        [
          {
            "node": "Create Summary and title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Randomise1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid content only": {
      "main": [
        [
          {
            "node": "IF text longer than 2000 chars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Sources": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Sources": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape a url and get its content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tavily search fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Get 5 Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "If High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS search fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Results": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Classification agent with Batch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If High Priority": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Randomise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomise": {
      "main": [
        [
          {
            "node": "Get 10 Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Input Format": {
      "main": [
        [
          {
            "node": "Classification agent with Batch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Output In Evaluation Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All Ideas From Evaluation Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Valid content only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Evaluation": {
      "main": [
        [
          {
            "node": "Match Input Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randomise1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Content Idea to Evaluation Table": {
      "main": [
        []
      ]
    },
    "Get All Ideas From Evaluation Table": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Add Content Idea to Evaluation Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Content Idea": {
      "main": [
        []
      ]
    },
    "If Publication Date": {
      "main": [
        [
          {
            "node": "Add New Content Idea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Content Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "video fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 10 Ideas": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get 5 Ideas": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF text longer than 2000 chars": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Publication Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits text in small chuncks": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "If Publication Date2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add Content To Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Splits text in small chuncks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publication Date2": {
      "main": [
        [
          {
            "node": "Add New Content Idea4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Content Idea5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Content Idea5": {
      "main": [
        [
          {
            "node": "Set Article URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Content Idea4": {
      "main": [
        [
          {
            "node": "Set Article URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Submission": {
      "main": [
        [
          {
            "node": "sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post search scraper fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Create Summary and title2": {
      "main": [
        [
          {
            "node": "Instagram profile scraper fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Create Summary and title2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image field": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sidecar fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "video fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "sidecar fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary1": {
      "main": [
        [
          {
            "node": "tavily search fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create longtail keword3": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create longtail keword": {
      "main": [
        [
          {
            "node": "Linkedin post search scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary and title": {
      "main": [
        [
          {
            "node": "Linkedin post search scraper fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary and title1": {
      "main": [
        [
          {
            "node": "Linkedin profile scraper fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin profile scraper fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Classification agent with Batch1": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Article URL": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Content To Post": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sources": {
      "main": [
        [
          {
            "node": "Match Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a url and get its content": {
      "main": [
        [
          {
            "node": "notion form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notion form": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Scrape a url and get its content2": {
      "main": [
        [
          {
            "node": "RSS search fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "create longtail keword3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "create longtail keword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Linkedin profile scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Instagram profile scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Match Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a url and get its content4": {
      "main": [
        [
          {
            "node": "Create Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:07.597Z",
  "id": "15lgiJjcFDJZiexX",
  "isArchived": false,
  "meta": null,
  "name": "News Sourcing Stephen",
  "nodes": [
    {
      "parameters": {
        "query": "={{ $json.message.content.long_tail_keyword }}",
        "options": {
          "topic": "news",
          "search_depth": "advanced",
          "max_results": 2,
          "time_range": "month",
          "include_images": false
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -2592,
        32
      ],
      "id": "6371a144-d730-41ef-966a-ac9c2e07ee0d",
      "name": "Search",
      "alwaysOutputData": false,
      "credentials": {
        "tavilyApi": {
          "id": "ZcHvfAvaiPVC9onF",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5408,
        224
      ],
      "id": "3380c307-aeb9-460e-8231-8e835301f13a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2304,
        32
      ],
      "id": "0b701cee-6a92-4127-8242-fcb371440002",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1216,
        256
      ],
      "id": "7957cd92-d2d6-46e7-92ae-335aa2bfe3b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "A3cAPGpwBEG8RJwse",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Posts Bulk Scraper (No Cookies)⚡$2 per 1k (harvestapi/linkedin-profile-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/A3cAPGpwBEG8RJwse/input"
        },
        "customBody": "={\n    \"includeQuotePosts\": false,\n    \"includeReposts\": false,\n    \"maxComments\": 5,\n    \"maxPosts\": 2,\n    \"maxReactions\": 5,\n    \"postedLimit\": \"month\",\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"targetUrls\": [\n        \"{{ $json.property_url }}\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2016,
        224
      ],
      "id": "a0e36fe8-be7d-44a7-8585-35edc8d10335",
      "name": "Linkedin profile scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "buIWk2uOUzTmcLsuB",
          "mode": "list",
          "cachedResultName": "Linkedin Post Search Scraper (No Cookies) ⚡ $2 per 1k posts (harvestapi/linkedin-post-search)",
          "cachedResultUrl": "https://console.apify.com/actors/buIWk2uOUzTmcLsuB/input"
        },
        "customBody": "={\n    \"maxComments\": 2,\n    \"maxPosts\": 2,\n    \"maxReactions\": 2,\n    \"postedLimit\": \"month\",\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"searchQueries\": [\n        \"{{ $json.message.content.long_tail_keyword }}\"\n    ],\n    \"sortBy\": \"relevance\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2016,
        416
      ],
      "id": "925b562a-7848-48c0-bd1a-3692ba0481ea",
      "name": "Linkedin post search scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nH2AHrwxeTRJoN5hX",
          "mode": "id"
        },
        "customBody": "={\n    \"onlyPostsNewerThan\": \"1 month\",\n    \"resultsLimit\": 2,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"{{ $json.property_url }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -3392,
        800
      ],
      "id": "952dc06d-9b4a-4ac0-8390-4cf1c4d69323",
      "name": "Instagram profile scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4834c8f-ac22-4c1c-a063-cb013a7551e1",
              "name": "title",
              "value": "={{ $json.message.content.title }}",
              "type": "string"
            },
            {
              "id": "32dabcd5-3ab3-4db6-aa40-4b95ac34bc83",
              "name": "content",
              "value": "={{ $('Instagram profile scraper').item.json.caption }}",
              "type": "string"
            },
            {
              "id": "534a78cb-d400-4d1d-8a6b-183e66484257",
              "name": "url",
              "value": "={{ $('Instagram profile scraper').item.json.url }}",
              "type": "string"
            },
            {
              "id": "d508784a-e41d-4ea9-8871-c8759b9bef5a",
              "name": "summary",
              "value": "={{ $json.message.content.summary }}",
              "type": "string"
            },
            {
              "id": "5d3ea0be-c893-4a29-a9b4-4b5fe7b2bde0",
              "name": "search_query",
              "value": "={{ $('Match Sources').item.json.property_url }}",
              "type": "string"
            },
            {
              "id": "7ee6cf7b-6afc-4ab1-bb21-a36efb8f459b",
              "name": "image_analysis",
              "value": "={{ $('Merge2').item.json.image }}",
              "type": "string"
            },
            {
              "id": "a5dd0590-eb26-4ce5-8d2c-241a71f54c3b",
              "name": "sidecar",
              "value": "={{ $('Merge2').item.json.sidecar }}\n",
              "type": "string"
            },
            {
              "id": "15488791-2d1b-4e2c-b372-b716a82dcfb4",
              "name": "video_analysis",
              "value": "={{ $('Merge2').item.json.video }}",
              "type": "string"
            },
            {
              "id": "5a9c9207-b078-4fbc-88d9-c2e8fa2a2fed",
              "name": "publication_date",
              "value": "={{ $('Instagram profile scraper').item.json.latestComments[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "c1a6a0ce-b44f-4ef6-9742-fc87d628f391",
              "name": "source",
              "value": "Instagram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        800
      ],
      "id": "ac9247c8-7305-4e6f-89ba-b3878e95f396",
      "name": "Instagram profile scraper fields",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a precise news classifier AI. Your task is to determine if a given news article or snippet matches the specified criteria for \"valid\" news. Valid means it closely aligns with the topic, type, or characteristics described below—do not classify as valid if it's unrelated, off-topic, satirical, opinion-based without facts, or does not fit the criteria.\n\nCriteria for valid news: biofuel or renewable energy\n\nBased on the criteria, output only a JSON object with the key \"classification\" and value either \"true\" or \"false\". No explanations or additional text. \n\n{\"classification\": \"\"}",
              "role": "system"
            },
            {
              "content": "="
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -5408,
        -832
      ],
      "id": "d874cd8c-ae83-48c1-a795-366e3015f8f6",
      "name": "Creative Copywriter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8987c495-abc2-4e29-86db-4466755af908",
              "leftValue": "={{ $json.message.content.classification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        1136
      ],
      "id": "d18981fd-1f84-4551-931e-defcdbabea92",
      "name": "Valid content only"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -576,
        320
      ],
      "id": "188679b0-27f4-48b2-ab64-21f62da372e9",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5408,
        416
      ],
      "id": "ba90975a-4d94-4f22-adb8-d2d0e2ed6764",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27a785c0-cfab-807b-b5eb-e1214e18960d",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Static Sources",
          "cachedResultUrl": "https://www.notion.so/27a785c0cfab807bb5ebe1214e18960d"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -5184,
        320
      ],
      "id": "a5112d92-5bb5-45b1-be76-c077904d41b6",
      "name": "Get All Sources",
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source || $('Get All Sources').item.json.property_source }}",
                    "rightValue": "RSS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "64eaa223-9be7-410e-8ff2-3e07451e36fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RSS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d69a784-393b-4571-9fc2-9610ebc6e080",
                    "leftValue": "={{ $json.source || $('Get All Sources').item.json.property_source }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b422070f-f4e4-4177-9f59-b5b9c621ac49",
                    "leftValue": "={{ $json.source || $('Get All Sources').item.json.property_source }}",
                    "rightValue": "Keyword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Keywords"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39bfb8ee-3bee-417f-86be-f230bb821856",
                    "leftValue": "={{ $json.source || $('Get All Sources').item.json.property_source }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c3bf149-65f1-475c-9d68-f3e29d76e933",
                    "leftValue": "={{ $json.source || $('Get All Sources').item.json.property_source }}",
                    "rightValue": "Website",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3840,
        256
      ],
      "id": "78e35f41-0c88-4a4f-9e14-688ec158199b",
      "name": "Match Sources"
    },
    {
      "parameters": {
        "url": "={{ $json.property_rss_feed }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2304,
        -160
      ],
      "id": "2c496a80-abd3-42fb-ad57-3e3b2c84d865",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('RSS Read').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $json.data.markdown\n    // Remove HTML tags if present\n    .removeTags()\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}\n\n{{ \n  $json.data.markdown\n    // Remove HTML tags if present\n    .removeTags()\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RSS Read').item.json.link }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('RSS Read').item.json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('Match Sources').item.json.property_name }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('RSS Read').item.json.pubDate }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "Website",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        -160
      ],
      "id": "6dadf8d8-e72d-4d14-99b1-e5d7b1b63a62",
      "name": "RSS search fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Split Out1').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.markdown }}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('Split Out1').item.json.url }}",
              "type": "string"
            },
            {
              "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
              "name": "summary",
              "value": "={{ $json.message.content.summary }}",
              "type": "string"
            },
            {
              "id": "9573ac47-f760-4075-af1e-41774d546f60",
              "name": "search_query",
              "value": "={{ $('Search').item.json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('Split Out1').item.json.published_date }}",
              "type": "string"
            },
            {
              "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
              "name": "source",
              "value": "Tavily",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        32
      ],
      "id": "cb62749d-5db4-4428-8a94-61523aec3a4c",
      "name": "tavily search fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45d48713-c0cb-44ab-83fc-168ac9a7c419",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -4960,
        320
      ],
      "id": "78947c51-2374-4c52-a673-678284a93859",
      "name": "Get Active Sources"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -576,
        512
      ],
      "id": "48e29726-63f9-4a7a-8bc4-a02125a36f98",
      "name": "Get All Results",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "property_source_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        416
      ],
      "id": "565acb38-5fbe-489a-af84-485eedb56578",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5d7e3e1-0a6d-47e3-8762-1d6bcb90d942",
              "leftValue": "={{ $json.property_priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4736,
        320
      ],
      "id": "ae955b65-cd8a-4632-bddd-4eb56ce6ea1b",
      "name": "If High Priority"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -4512,
        400
      ],
      "id": "2aa74bbe-15be-44d5-957f-6ae4d275a483",
      "name": "Randomise"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4678c4d-3605-43b3-930d-54f3db0cf209",
              "name": "content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "960e3dc3-5af8-4535-bca0-6db869b1bed0",
              "name": "url",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "084b87c7-e199-4284-89d5-a2a5bb7a69e7",
              "name": "title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "4957e170-7f99-4439-8b8a-29e930aa8823",
              "name": "publication_date",
              "value": "={{ $json[\"Publication Date\"] }}",
              "type": "string"
            },
            {
              "id": "7bf20e2e-95b3-4acc-9a9b-7fcf895f1ad2",
              "name": "expected_relevance",
              "value": "={{ $json[\"Expected Relevancy\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        832
      ],
      "id": "93f570ca-e92d-475a-bd2a-a80190846485",
      "name": "Match Input Format"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        224,
        688
      ],
      "id": "a76c079f-9749-4665-900d-663d2820e541",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -784,
        832
      ],
      "id": "e60b8446-4c42-40c2-9473-cf826720bc48",
      "name": "Run Evaluation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtxUrOdQhOl4VgmB",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -800,
        320
      ],
      "id": "7a3c12c2-ca59-4bad-85d5-4fefe923f96d",
      "name": "Randomise1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Publication Date": "={{ $('Remove Duplicates').item.json.publication_date }}",
            "URL": "={{ $('Remove Duplicates').item.json.url }}",
            "Title": "={{ $('Remove Duplicates').item.json.title }}",
            "Content": "={{ $json.content.length < 1500 ? $json.content : $json.content.slice(0, 1000) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publication Date",
              "displayName": "Publication Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Relevancy",
              "displayName": "Expected Relevancy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Relevancy",
              "displayName": "Actual Relevancy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        544
      ],
      "id": "34e12a11-6c14-4bd6-93e1-c093e624cc8a",
      "name": "Add Content Idea to Evaluation Table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtxUrOdQhOl4VgmB",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Relevancy",
              "outputValue": "={{ $('Classification agent with Batch').item.json.output.classification.toBoolean() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        448,
        352
      ],
      "id": "0a26029b-4c7f-45ae-8af1-a61ed5bed77f",
      "name": "Set Output In Evaluation Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtxUrOdQhOl4VgmB",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        704
      ],
      "id": "a31ea22b-834c-46bd-b77e-81a03c8b7718",
      "name": "Get All Ideas From Evaluation Table",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtxUrOdQhOl4VgmB",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "URL",
              "field2": "URL"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        544
      ],
      "id": "56951201-5eb2-4d9b-a765-597fa035fcf7",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.search_query }}"
            },
            {
              "key": "Publication Date|date",
              "date": "={{ $('Merge').item.json.publication_date }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Merge').item.json.content || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        1136
      ],
      "id": "a8545aeb-67c3-4652-af31-aeb5c8aa4972",
      "name": "Add New Content Idea",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20ca9df-9034-44ac-8d9e-ecad56c6a923",
              "leftValue": "={{ $('Merge').item.json.publication_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        1328
      ],
      "id": "98c858e8-e711-4bb1-ad41-af4e7239065b",
      "name": "If Publication Date"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.url }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Merge').item.json.content || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        1344
      ],
      "id": "ad2aa03f-1a56-45cc-8d36-0f148d826164",
      "name": "Add New Content Idea1",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.inoreader.com/reader/api/0/tag/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "types",
              "value": "folder"
            },
            {
              "name": "counts",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5408,
        -608
      ],
      "id": "05632ef6-af67-4399-9495-a603612fdfd4",
      "name": "Inoreader",
      "credentials": {
        "oAuth2Api": {
          "id": "50hUL6Huu4wnx0ac",
          "name": "inoreader api"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $('Instagram profile scraper').item.json.displayUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        608
      ],
      "id": "4e18b593-eba4-42cc-b63b-c66200b8c900",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "<prompt>\n\n    <introduction>\n    You are a Video Analysis Specialist. You excel at watching video content and summarizing it effectively. Your skill is in creating descriptions that capture the sequence of events, key subjects, and the overall narrative or emotional tone of the video.\n    </introduction>\n\n    <task>\n    Analyze the provided video. Write a single, concise paragraph that functions as a rich summary. Your description must identify the main people or subjects, describe the key sequence of actions from beginning to end, and capture the overall mood and atmosphere of the video.\n    </task>\n\n    <output_rules>\n    <rule_1> **Narrative Flow:** Briefly describe the opening scene, the main action or development, and how the video concludes. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the video, considering visuals, pacing, and any audible music or sounds.</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Summarize, Don't Detail:** Focus on the most important actions. Do not provide a shot-by-shot breakdown of the entire video.</restriction_1>\n    <restriction_2> **Be Objective:** Describe only what happens in the video. Do not invent backstories or predict what might happen next.</restriction_2>\n    <restriction_3> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For a video of someone unboxing a new phone:**\n        **Your Correct Output:** \"The video opens with a person placing a sleek, branded box on a clean white desk. They proceed to carefully unbox a new smartphone, removing the protective film and turning it on for the first time, ending with a shot of the bright, glowing home screen, creating a feeling of excitement and anticipation.\"\n    </example_1>\n    <example_2>\n        **For a travel video of a market:**\n        **Your Correct Output:** \"This short, fast-paced video clip follows someone through a vibrant street market, capturing quick shots of colourful textiles and bustling crowds. Set to upbeat, energetic music, the video conveys a sense of adventure and cultural immersion in just a few seconds.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "videoUrls": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        992
      ],
      "id": "dc7cbe76-1bc2-42a6-b413-79a18b11a6a3",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e106c5fe-6a60-42c8-b903-111972b85a3f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64f8adb7-a378-4031-9e83-1926292e4d6e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15e45d2b-d3ca-457b-abcc-f6a6273e826d",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Sidecar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sidecar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3168,
        784
      ],
      "id": "6155c7f3-f485-4429-96bf-f11744e9d700",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d407ab9-24f2-4d21-9ba4-b5980db1cb3c",
              "name": "publication_date",
              "value": "={{ $json.publication_date_online_journal.toDateTime().format('yyyy-MM-dd') || $json.publication_date_article_modified.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5408,
        -384
      ],
      "id": "d3b01183-4a0b-4ee2-a191-60dce80582df",
      "name": "Set Publication Date"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -4288,
        400
      ],
      "id": "8ab42f50-031c-4e87-8358-916ac9d00924",
      "name": "Get 10 Ideas"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2016,
        -160
      ],
      "id": "ce5365ad-b458-4b10-bed1-918d0a9d86d5",
      "name": "Get 5 Ideas"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{  $('Remove Duplicates').item.json.content?.length() }}",
              "operation": "larger",
              "value2": 2000
            }
          ]
        }
      },
      "id": "7688529c-48d8-4ece-9332-8a94cadaffd3",
      "name": "IF text longer than 2000 chars",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        672,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet firstBlock = true;\n\n// Split text on \\n characters\nlet textBlocks = $('Remove Duplicates').first().json.content.split(/\\n/);\n\nfor (let block of textBlocks) {\n    if (block.length === 0) continue;\n    result.push({\n        \"textSubString\": block.trim(),\n        \"firstBlock\": firstBlock\n    });\n    firstBlock = false;\n}\n\nreturn result;\n"
      },
      "id": "9b657c88-1e73-4d85-853f-6b3ff49b02c3",
      "name": "Splits text in small chuncks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.firstBlock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "92816937-8ce3-46e4-816f-45f0d5d147d5",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1344,
        848
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "09ca517b-bce5-4e54-94b6-e5445d3f1c55",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2240,
        848
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        976
      ],
      "id": "1b2aa2e6-8a06-44b6-9870-8c1f3573ab7e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.search_query }}"
            },
            {
              "key": "Publication Date|date",
              "date": "={{ $('Merge').item.json.publication_date }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1792,
        512
      ],
      "id": "c2f1ca00-0e41-4cc4-a792-483326225dd8",
      "name": "Add New Content Idea4",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20ca9df-9034-44ac-8d9e-ecad56c6a923",
              "leftValue": "={{ $('Merge').item.json.publication_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        704
      ],
      "id": "5cf0557a-a700-47f9-beaf-fafd68cee9bf",
      "name": "If Publication Date2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.url }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1792,
        704
      ],
      "id": "41c4da1f-4539-43fb-a5cb-2d599ad0fe04",
      "name": "Add New Content Idea5",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "news-sourcing-stephen",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4288,
        592
      ],
      "id": "f973fb55-e517-46ec-9898-410021f045e9",
      "name": "Form Submission",
      "webhookId": "d7c4ad3a-52b4-46fd-b480-76a083a42ff2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43ef6d98-1769-479a-ab8a-0f9d4d543ce6",
              "name": "title",
              "value": "={{ $json.message.content.title }}",
              "type": "string"
            },
            {
              "id": "014cb7eb-9846-4c41-8cee-4a809250264e",
              "name": "content",
              "value": "={{ $('Linkedin post search scraper').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b2be53b4-3451-4aeb-be78-c71beb7a8178",
              "name": "url",
              "value": "={{ $('Linkedin post search scraper').item.json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "54293f71-70d3-40d0-9f40-19de090bcd63",
              "name": "summary",
              "value": "={{ $json.message.content.summary }}",
              "type": "string"
            },
            {
              "id": "ce7b5d35-72b2-4f82-8744-f1643dd958eb",
              "name": "search_query",
              "value": "={{ $('create longtail keword').item.json.message.content.query }}",
              "type": "string"
            },
            {
              "id": "db4f55e1-7247-4206-a654-e5d314dbd40b",
              "name": "publication_date",
              "value": "={{ $('Linkedin post search scraper').item.json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "cdb58557-3653-4500-943e-71ea35ec0f27",
              "name": "source",
              "value": "LinkedIn Search",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        416
      ],
      "id": "7134dee7-c804-4701-88c6-15ebc9854135",
      "name": "Linkedin post search scraper fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $('Instagram profile scraper').item.json.caption }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <introduction>\n        You are an expert creative copywriter for Syntech Biofuel, a premium, UK-based renewable energy brand. You are a specialist in B2B marketing for the sustainability and logistics sectors. Your voice is innovative, authoritative, and passionate. You excel at translating complex technical benefits into powerful, persuasive, and clear messaging that resonates with business leaders and fleet managers. You champion the brand's identity as a disruptive innovator, not a traditional petrochemical company.\n    </introduction>\n\n    <task>\n        Your primary tasks are to analyze provided content about Syntech ASB and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n\n    <context>\n        Your mission is to create compelling copy that communicates the value of \"Syntech ASB\" (Advanced Smart Biofuel). The goal is to help businesses understand that switching to our biofuel is a simple, immediate, and powerful step towards achieving their Net Zero and sustainability targets. The copy must reflect our core brand values: Sustainability, innovation, quality, transparency, and a partnership approach to helping customers succeed.\n\n        ### Key Information to Incorporate\n        - **Product:** Syntech ASB (Advanced Smart Biofuel) - a second-generation biofuel.\n        - **Source:** 100% certified used cooking oil (UCO), driving the circular economy.\n        - **Carbon Reduction:** Up to 90% reduction in carbon emissions vs. fossil diesel.\n        - **Certification:** ISCC certified for sustainability and traceability.\n        - **Compatibility:** A 'drop-in' fuel for existing diesel engines (no modification needed).\n        - **Customer Benefits:** Helps meet Net Zero targets, reduces Scope 3 emissions, enhances sustainability credentials.\n        - **Target Audience:** B2B customers (fleets, construction, generators).\n        - **Brand Identity:** UK-produced, innovative, sustainable, and transparent.\n    </context>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Brand Positioning:** NEVER associate Syntech Biofuel with traditional fossil fuel or petrochemical companies. Frame it as a clean-tech innovator.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1792,
        800
      ],
      "id": "24e007de-64be-4786-bfa3-69612cb06b1d",
      "name": "Create Summary and title2",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2016,
        784
      ],
      "id": "5734adcb-a864-48f1-abc6-48bd3785a57f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a08b0a3-caaf-40f7-86ad-3e1d8da5242f",
              "name": "image",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        608
      ],
      "id": "066cb9af-1822-4beb-86dd-9e34dd719a00",
      "name": "image field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8043336f-37b2-450d-9cee-0a9304f87969",
              "name": "sidecar",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        800
      ],
      "id": "0f1cf158-66ea-4663-9c75-2b2aff53a971",
      "name": "sidecar fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bec0252-74d5-443d-a8dd-62065d2a6975",
              "name": "video",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        992
      ],
      "id": "ed9963fe-3540-44e8-8ba8-3ca8767e52ef",
      "name": "video fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $json.images }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        800
      ],
      "id": "e8c2f8bd-098a-48d9-8c78-05b0e477d926",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2880,
        800
      ],
      "id": "685dc2c5-e326-4d9c-bb1b-83f585450af6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $json.data.markdown }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <persona>\n        You are an expert creative copywriter for Syntech Biofuel, a premium, UK-based renewable energy brand. You are a specialist in B2B marketing for the sustainability and logistics sectors. Your voice is innovative, authoritative, and passionate. You excel at translating complex technical benefits into powerful, persuasive, and clear messaging that resonates with business leaders and fleet managers. You champion the brand's identity as a disruptive innovator, not a traditional petrochemical company.\n    </persona>\n\n    <context>\n        Your mission is to create compelling copy that communicates the value of \"Syntech ASB\" (Advanced Smart Biofuel). The goal is to help businesses understand that switching to our biofuel is a simple, immediate, and powerful step towards achieving their Net Zero and sustainability targets. The copy must reflect our core brand values: Sustainability, innovation, quality, transparency, and a partnership approach to helping customers succeed.\n    </context>\n\n    <task>\n        Your primary task is to analyze provided content about Syntech ASB and then perform one specific action:\n        1.  **Summarize:** Create a concise and powerful summary of the key information.\n    </task>\n\n    <steps>\n        1.  Thoroughly review all the key information provided about Syntech Biofuel and Syntech ASB.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n    </steps>\n\n    <key_information_to_incorporate>\n        - **Product:** Syntech ASB (Advanced Smart Biofuel) - a second-generation biofuel.\n        - **Source:** 100% certified used cooking oil (UCO), driving the circular economy.\n        - **Carbon Reduction:** Up to 90% reduction in carbon emissions vs. fossil diesel.\n        - **Certification:** ISCC certified for sustainability and traceability.\n        - **Compatibility:** A 'drop-in' fuel for existing diesel engines (no modification needed).\n        - **Customer Benefits:** Helps meet Net Zero targets, reduces Scope 3 emissions, enhances sustainability credentials.\n        - **Target Audience:** B2B customers (fleets, construction, generators).\n        - **Brand Identity:** UK-produced, innovative, sustainable, and transparent.\n    </key_information_to_incorporate>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Brand Positioning:** NEVER associate Syntech Biofuel with traditional fossil fuel or petrochemical companies. Frame it as a clean-tech innovator.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n    </restrictions>\n\n    <output_rules>\n        - Provide the output under a clear \"Summary\" heading (e.g., **Summary:**).\n        - The tone must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        **Example Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n\n        **Example Output:**\n        **Summary:** Syntech ASB is a UK-made, ISCC-certified biofuel produced from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90%, meet Net Zero targets, and enhance their sustainability credentials without any new investment.\n    </examples>\n\n</prompt>\n\noutput json\n{\n\t\"summary\": \"\"\n}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1792,
        32
      ],
      "id": "1764f94d-66ca-4927-81de-0bedd260b9fe",
      "name": "Create Summary1",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $json.name }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <introduction>\n    You are an expert Search Query Strategist. Your specialization is crafting precise and efficient long-tail search queries that are optimized for advanced search APIs like Tavily. You understand that specificity is key to retrieving high-quality, relevant search results and your goal is to transform broad topics into actionable search terms.\n    </introduction>\n\n    <context>\n    The user is providing a general keyword related to **sustainable fuels**. This keyword needs to be converted into a more detailed long-tail keyword. The final output will be used directly in a system that parses JSON, which then makes a Tavily API call. Therefore, the query must be clean, specific, and structured to yield the best possible technical, academic, or market research results. A generic or poorly phrased query will fail.\n    </context>\n\n    <task>\n    Your task is to take the user-provided keyword, expand it into a single, superior long-tail search query, and encapsulate it within a JSON object. The query must be a phrase between 6 and 7 words long.\n    </task>\n\n    <steps>\n    1.  Analyze the core concept of the input keyword.\n    2.  Brainstorm several potential angles for specificity: recent trends, technical challenges, specific applications, economic viability, or future developments.\n    3.  Select the single most promising angle that implies a search for in-depth information.\n    4.  Construct the final long-tail query.\n    5.  Format the final query into the specified JSON structure.\n    6.  Verify that the generated keyword and JSON format adhere to all output rules and restrictions below.\n    </steps>\n\n    <output_rules>\n    <rule_1> **JSON Format:** The output must be a single, valid JSON object. It should not be wrapped in a Markdown code block or have any other text before or after it.</rule_1>\n    <rule_2> **JSON Structure:** The JSON object must contain a single key: `\"long_tail_keyword\"`. The value for this key will be the generated query string.</rule_2>\n    <rule_3> **Keyword Length:** The value of the `\"long_tail_keyword\"` key must be a string between 6 and 7 words long. No more, no less.</rule_3>\n    <rule_4> **Quantity:** You must only output ONE long-tail keyword within the JSON object.</rule_4>\n    <rule_5> **Specificity:** The query should be highly specific. For technical, scientific, or market-related topics, consider adding terms like \"latest trends,\" \"production challenges,\" \"future applications,\" or a relevant year (e.g., 2026). </rule_5>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **NO VAGUENESS:** Do not simply add generic modifiers like \"best\" or \"top\" to the keyword unless it creates a highly specific list-based query (e.g., \"top challenges for...\"). Avoid simple questions like \"what is...\".</restriction_1>\n    <restriction_2> **STRICT ADHERENCE:** You must strictly follow all rules for keyword length and JSON structure. Failure to do so makes the output unusable.</restriction_2>\n    <restriction_3> **NO CONVERSATION:** Do not engage in conversation or provide explanations. Your entire response must be only the raw JSON object.</restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **User Input:** `sustainable biofuel`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"latest trends in sustainable biofuel technology\"\n        }\n        ```\n    </example_1>\n    <example_2>\n        **User Input:** `green hydrogen`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"challenges of large-scale green hydrogen storage\"\n        }\n        ```\n    </example_2>\n    <example_3>\n        **User Input:** `synthetic aviation fuel`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"economic viability of synthetic aviation fuels\"\n        }\n        ```\n    </example_3>\n    </examples>\n\n    unless stated otherwise, assume todays date is {{ $now }}\n\n</prompt>",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2944,
        32
      ],
      "id": "510f2c5e-aefc-4aac-bd90-31d895fc2236",
      "name": "create longtail keword3",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $json.name }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <introduction>\n    You are an expert Search Strategist. Your specialization is crafting concise and effective search queries for general web search engines like Google. You know how to phrase terms and use operators to cut through low-quality content and find authoritative articles, in-depth analysis, and expert discussions. Your output is machine-readable for use in automated systems.\n    </introduction>\n\n    <context>\n    The user is providing a general keyword (e.g., related to sustainable fuels). This keyword needs to be refined into a highly effective search query. The goal is to generate a query that an expert or researcher would use to yield high-quality search results, avoiding simplistic content. The final output must be a valid JSON object for downstream processing.\n    </context>\n\n    <task>\n    Your task is to take the user-provided keyword and transform it into a single, highly effective search query. This query must be a phrase between 3 and 5 words long and formatted within a specific JSON structure.\n    </task>\n\n    <steps>\n    1.  Analyze the core concept of the input keyword.\n    2.  Brainstorm several potential angles for a focused search: common challenges, pros and cons, future viability, production methods, or specific comparisons.\n    3.  Select the single most promising angle that would lead to insightful, expert-level search results.\n    4.  Construct the final search query, ensuring it is concise and powerful.\n    5.  Format the query into the required JSON structure and verify its validity.\n    </steps>\n\n    <output_rules>\n    <rule_1> **Format:** The entire output must be a single, valid JSON object. Do not include any explanatory text, notes, or markdown formatting outside the JSON structure. </rule_1>\n    <rule_2> **JSON Structure:** The JSON object must contain a single key named `long_tail_keyword`. The value must be the generated search query string. </rule_2>\n    <rule_3> **Length:** The generated query string must be between 3 and 5 words long. This is a strict requirement. </rule_3>\n    <rule_4> **Quantity:** You must only output ONE search query per input. </rule_4>\n    <rule_5> **Style:** The query should be specific and practical. Frame it as a \"problem to be solved\" or a comparison (e.g., \"biofuel production challenges,\" \"hydrogen vs biofuels\"). </rule_5>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **NO VAGUENESS:** Avoid overly simple questions like \"what is biofuel\". Assume a baseline level of knowledge and seek deeper insight. </restriction_1>\n    <restriction_2> **STRICT ADHERENCE:** You must strictly follow all length, format, and JSON structure rules. The output's primary purpose is machine parsing. </restriction_2>\n    <restriction_3> **NO CONVERSATION:** Your entire response must be only the generated JSON object. </restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **User Input:** `sustainable biofuel`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"sustainable biofuel production challenges\"\n        }\n        ```\n    </example_1>\n    <example_2>\n        **User Input:** `green hydrogen`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"challenges of hydrogen storage\"\n        }\n        ```\n    </example_2>\n    <example_3>\n        **User Input:** `synthetic aviation fuel`\n        **Your Correct Output:**\n        ```json\n        {\n          \"long_tail_keyword\": \"synthetic aviation fuel pros cons\"\n        }\n        ```\n    </example_3>\n    </examples>\n\n    unless stated otherwise, assume todays date is {{ $now }}\n\n</prompt>",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2368,
        416
      ],
      "id": "d788e860-aad2-44a9-a48b-f8c150705fec",
      "name": "create longtail keword",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $json.content }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <introduction>\n        You are an expert creative copywriter for Syntech Biofuel, a premium, UK-based renewable energy brand. You are a specialist in B2B marketing for the sustainability and logistics sectors. Your voice is innovative, authoritative, and passionate. You excel at translating complex technical benefits into powerful, persuasive, and clear messaging that resonates with business leaders and fleet managers. You champion the brand's identity as a disruptive innovator, not a traditional petrochemical company.\n    </introduction>\n\n    <task>\n        Your primary tasks are to analyze provided content about Syntech ASB and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n\n    <context>\n        Your mission is to create compelling copy that communicates the value of \"Syntech ASB\" (Advanced Smart Biofuel). The goal is to help businesses understand that switching to our biofuel is a simple, immediate, and powerful step towards achieving their Net Zero and sustainability targets. The copy must reflect our core brand values: Sustainability, innovation, quality, transparency, and a partnership approach to helping customers succeed.\n\n        ### Key Information to Incorporate\n        - **Product:** Syntech ASB (Advanced Smart Biofuel) - a second-generation biofuel.\n        - **Source:** 100% certified used cooking oil (UCO), driving the circular economy.\n        - **Carbon Reduction:** Up to 90% reduction in carbon emissions vs. fossil diesel.\n        - **Certification:** ISCC certified for sustainability and traceability.\n        - **Compatibility:** A 'drop-in' fuel for existing diesel engines (no modification needed).\n        - **Customer Benefits:** Helps meet Net Zero targets, reduces Scope 3 emissions, enhances sustainability credentials.\n        - **Target Audience:** B2B customers (fleets, construction, generators).\n        - **Brand Identity:** UK-produced, innovative, sustainable, and transparent.\n    </context>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Brand Positioning:** NEVER associate Syntech Biofuel with traditional fossil fuel or petrochemical companies. Frame it as a clean-tech innovator.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1792,
        416
      ],
      "id": "2b527af7-4c7b-4082-b340-346186177c1b",
      "name": "Create Summary and title",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<content>\n{{ $json.content }}\n</content>"
            },
            {
              "content": "=<prompt>\n\n    <introduction>\n        You are an expert creative copywriter for Syntech Biofuel, a premium, UK-based renewable energy brand. You are a specialist in B2B marketing for the sustainability and logistics sectors. Your voice is innovative, authoritative, and passionate. You excel at translating complex technical benefits into powerful, persuasive, and clear messaging that resonates with business leaders and fleet managers. You champion the brand's identity as a disruptive innovator, not a traditional petrochemical company.\n    </introduction>\n\n    <task>\n        Your primary tasks are to analyze provided content about Syntech ASB and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n\n    <context>\n        Your mission is to create compelling copy that communicates the value of \"Syntech ASB\" (Advanced Smart Biofuel). The goal is to help businesses understand that switching to our biofuel is a simple, immediate, and powerful step towards achieving their Net Zero and sustainability targets. The copy must reflect our core brand values: Sustainability, innovation, quality, transparency, and a partnership approach to helping customers succeed.\n\n        ### Key Information to Incorporate\n        - **Product:** Syntech ASB (Advanced Smart Biofuel) - a second-generation biofuel.\n        - **Source:** 100% certified used cooking oil (UCO), driving the circular economy.\n        - **Carbon Reduction:** Up to 90% reduction in carbon emissions vs. fossil diesel.\n        - **Certification:** ISCC certified for sustainability and traceability.\n        - **Compatibility:** A 'drop-in' fuel for existing diesel engines (no modification needed).\n        - **Customer Benefits:** Helps meet Net Zero targets, reduces Scope 3 emissions, enhances sustainability credentials.\n        - **Target Audience:** B2B customers (fleets, construction, generators).\n        - **Brand Identity:** UK-produced, innovative, sustainable, and transparent.\n    </context>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Brand Positioning:** NEVER associate Syntech Biofuel with traditional fossil fuel or petrochemical companies. Frame it as a clean-tech innovator.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1792,
        224
      ],
      "id": "c74834ea-2047-4864-b0ef-114f258bf511",
      "name": "Create Summary and title1",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57c550d4-f623-4d2d-83de-ab7717855fef",
              "name": "title",
              "value": "={{ $json.message.content.title }}",
              "type": "string"
            },
            {
              "id": "d745618f-dc0b-4d7a-9840-b940f5e6fb78",
              "name": "content",
              "value": "={{ $('Linkedin profile scraper').item.json.content }}",
              "type": "string"
            },
            {
              "id": "5c2b612f-0885-4348-aa0e-e6db59de8b83",
              "name": "summary",
              "value": "={{ $json.message.content.summary}}",
              "type": "string"
            },
            {
              "id": "3d2023f8-1802-4a9a-8b09-a1e4f5a68e95",
              "name": "url",
              "value": "={{ $('Linkedin profile scraper').item.json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "2309dc30-09f9-4213-91ac-f84b95b04f30",
              "name": "search_query",
              "value": "={{ $('Linkedin profile scraper').item.json.author.name }}",
              "type": "string"
            },
            {
              "id": "f3eca2ba-d4e0-484a-bc29-a9535e386189",
              "name": "publication_date",
              "value": "={{ $('Linkedin profile scraper').item.json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "4b92288a-1b6d-476b-bf0b-3dc47629cd94",
              "name": "source",
              "value": "LinkedIn Profile",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        224
      ],
      "id": "2d91fc9e-0d8d-4c4a-9dd1-f8249efc4c90",
      "name": "Linkedin profile scraper fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.content }}"
            },
            {
              "content": "=You are a precise news classifier AI. Your task is to determine if a given news article or snippet matches the specified criteria for \"valid\" news. Valid means it closely aligns with the topic, type, or characteristics described below—do not classify as valid if it's unrelated, off-topic, satirical, opinion-based without facts, or does not fit the criteria.\n\nCriteria for valid news: biofuel or renewable energy\n\nBased on the criteria, output only a JSON object with the key \"classification\" and value either \"true\" or \"false\". No explanations or additional text.",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "reasoning_effort": "high"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -128,
        688
      ],
      "id": "cc62b9c1-2dfa-4343-8c64-c24078176bb6",
      "name": "Classification agent with Batch1",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "103da8bf-1acb-4d1c-b0c0-978bbd3d5b9b",
      "name": "Set Article URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2016,
        704
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2464,
        976
      ],
      "id": "bfcad624-96a3-4bc7-be88-648e75bfc3b1",
      "name": "Add Content To Post",
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4289e8b4-8a0a-4929-b43b-eb3610653c15",
              "name": "prompt",
              "value": "={{ $json.body.data.properties['Own Analysis'].rich_text[0].text.content }}",
              "type": "string"
            },
            {
              "id": "3ff2b13d-6bcf-43fa-8646-05ce4499bf91",
              "name": "url",
              "value": "={{ $json.body.data.properties['Source URL'].title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "3ebeed9d-5988-4b35-bb1d-b5eb6bcf0328",
              "name": "source",
              "value": "={{ $json.body.data.properties['Source Platform'].multi_select[0].name }}",
              "type": "string"
            },
            {
              "id": "29c37d50-0339-49f9-9c3a-3bcba964ecd9",
              "name": "additional_formats",
              "value": "={{ $json.body.data.properties[\"Additional Formats\"].relation[0].id }}",
              "type": "string"
            },
            {
              "id": "bc4aa16e-fbc6-4c7f-b43a-68fce7e46cf3",
              "name": "process_mode",
              "value": "={{ $json.body.data.properties.Mode.multi_select[0].name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4064,
        592
      ],
      "id": "316f732d-309c-482b-a708-02ec8600dcd2",
      "name": "sources"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "style"
                },
                {
                  "tag": "nav"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -1728,
        1152
      ],
      "id": "19f0ed31-45ca-4b12-8580-bbf3061db14e",
      "name": "Scrape a url and get its content",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.data.metadata.ogTitle }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $json.data.markdown\n    // Remove HTML tags if present\n    .removeTags()\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}\n\n{{ \n  $json.data.markdown\n    // Remove HTML tags if present\n    .removeTags()\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('sources').item.json.url }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.data.summary }}",
              "type": "string"
            },
            {
              "id": "da6884f3-275c-41e7-87c5-c20fb29e9419",
              "name": "search_query",
              "value": "",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $json.data.metadata['article:published_time'] }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "={{ $('sources').item.json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        1152
      ],
      "id": "04aa1915-da8b-449c-856a-e4da17f091c9",
      "name": "notion form"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.link }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "nav"
                },
                {
                  "tag": "style"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -1728,
        -160
      ],
      "id": "87521417-b26b-4259-b13b-65906a252460",
      "name": "Scrape a url and get its content2",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "content": "{{ $json.textSubString }}\n\n{{\n  (() => {\n    let text = $(\"Merge1\").item.json.textSubString || \"\";\n    // Remove images: ![alt](url)\n    text = text.replace(/!\\[.*?\\]\\(.*?\\)/g, '');\n    // Remove links but keep the text: [text](url)\n    text = text.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\n    // Remove bold, italic, underline, strikethrough: **text**, *text*, __text__, _text_, ~~text~~\n    text = text.replace(/(\\*\\*|__)(.*?)\\1/g, '$2');\n    text = text.replace(/(\\*|_)(.*?)\\1/g, '$2');\n    text = text.replace(/~~(.*?)~~/g, '$1');\n    // Remove inline code: `code`\n    text = text.replace(/`([^`]+)`/g, '$1');\n    // Remove headers: # Header\n    text = text.replace(/^#+\\s+(.*)/gm, '$1');\n    // Remove any remaining Markdown brackets or parentheses\n    text = text.replace(/[\\[\\]\\(\\)]/g, '');\n    // Remove extra newlines and whitespace\n    text = text.replace(/\\n{2,}/g, '\\n').trim();\n    return text;\n  })()\n}}"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        752
      ],
      "typeVersion": 1,
      "id": "a86956eb-dff2-440a-a7c4-48274d238ce0",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2592,
        -160
      ],
      "id": "d8a1ed70-0312-4a4e-9512-044a4074fc2c",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3168,
        32
      ],
      "id": "a206c036-d2cb-47c0-9755-9108234cc369",
      "name": "Limit2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2592,
        416
      ],
      "id": "44ed6784-f3c9-4730-9df1-674096c45a03",
      "name": "Limit4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2304,
        224
      ],
      "id": "6ef3f605-5870-4916-a783-596275e1e4bd",
      "name": "Limit5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3616,
        800
      ],
      "id": "2538ef32-b644-4bee-8db4-b24d6ba345fc",
      "name": "Limit6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        1008
      ],
      "id": "6089172f-3309-46ba-a77a-56f737758c7f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4064,
        320
      ],
      "id": "10391da4-1dd9-4a97-861c-38ae9d7ab67b",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "nav"
                },
                {
                  "tag": "style"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -2016,
        32
      ],
      "id": "8b3193b8-6bd7-4753-868c-572dfb16c4d3",
      "name": "Scrape a url and get its content4",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:07.597Z",
      "createdAt": "2026-01-28T09:06:07.597Z",
      "role": "workflow:owner",
      "workflowId": "15lgiJjcFDJZiexX",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        276
      ]
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T09:06:07.597Z",
  "versionId": "3593e94c-f488-447d-98c1-fc69dca4e1e7"
}