2026/01/RSS Website Search (No RSS URL).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Initial Input": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword6": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markdown present?1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title7": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser14": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "RAG Web - Url search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date formate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date formate": {
      "main": [
        [
          {
            "node": "markdown present?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "RAG Web - Url search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create summary and title7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek 3.": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:44.233Z",
  "id": "fRhaOSQ3E3yn0Gye",
  "isArchived": true,
  "meta": null,
  "name": "RSS Website Search (No RSS URL)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        44
      ],
      "id": "d84f0c61-5374-4606-8bfd-99e9a46736d4",
      "name": "Initial Input",
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{  $json.url_or_keyword || $json.property_url }}",
              "type": "string"
            },
            {
              "id": "7ca00974-25ef-4c7a-ac32-42d318e2efaa",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2a3d10ea-9972-4e63-a289-f79cfec66ac6",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -272
      ],
      "id": "65b9ba73-d05e-46c8-bd6f-ef44fa2ab06c",
      "name": "Either Url or Keyword6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        44
      ],
      "id": "93db7f9e-c125-4740-8d1b-1f1b4c29ef2a",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        44
      ],
      "id": "e10a59a9-4417-4e72-9898-7d7ae0289a42",
      "name": "Limit8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7af449b-1b66-41eb-bd3c-8528f3a342e5",
              "leftValue": "={{ $json.markdown }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "33f7eec4-37a8-44b2-bc5a-b6ab28e81677",
              "leftValue": "={{ $json.searchResult.url }}",
              "rightValue": "https://syntechbiofuel.com/",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1792,
        -272
      ],
      "id": "7f785f3a-05f6-4f52-adaf-95b03a466000",
      "name": "markdown present?1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "3ox4R101TgZz67sLr",
          "mode": "list",
          "cachedResultName": "RAG Web Browser (apify/rag-web-browser)",
          "cachedResultUrl": "https://console.apify.com/actors/3ox4R101TgZz67sLr/input"
        },
        "customBody": "={\n    \"debugMode\": false,\n    \"desiredConcurrency\": 5,\n    \"htmlTransformer\": \"none\",\n    \"maxResults\": 10,\n    \"outputFormats\": [\n        \"markdown\"\n    ],\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"query\": \"site:{{ $json.url_or_keyword + \" after:\" + $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}\",\n    \"removeCookieWarnings\": true,\n    \"requestTimeoutSecs\": 40\n}\n",
        "timeout": 300
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1120,
        -272
      ],
      "id": "e8786334-26db-4fca-8d7f-b4279c67aec5",
      "name": "RAG Web - Url search",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $('Merge').item.json.markdown }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2688,
        -272
      ],
      "id": "06faf0a3-7543-4361-99cd-334eb3da751a",
      "name": "Create summary and title7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        268
      ],
      "id": "05a11a30-9c23-4566-b7a0-157a61cec257",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2824,
        -48
      ],
      "id": "a3b36d52-10fa-42aa-bbaf-2324dee0710b",
      "name": "Structured Output Parser14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6382e72-d90b-4631-98ac-b4d6cfe0801c",
              "leftValue": "={{ $json.url_or_keyword }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        -272
      ],
      "id": "a0ca78e0-86cf-4137-a33a-f816dfe714de",
      "name": "Filter4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Take this URL. Scrape the text using Apify",
        "height": 560,
        "width": 3520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -356
      ],
      "typeVersion": 1,
      "id": "88ba52cb-2ee1-4ec9-8817-ac13167b18d3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a80ef79d-ce35-4041-9909-20ba44f379bd",
              "leftValue": "={{ $json.crawl }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        -272
      ],
      "id": "669fcaf2-dcb0-4b1b-8466-2c2ef7d60ccf",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over all input items\nfor (const item of items) {\n  try {\n    // Check if searchResult and description exist\n    if (item.json.searchResult && item.json.searchResult.description) {\n      \n      let description = item.json.searchResult.description;\n\n      // Regex to find patterns like \"2 days ago\", \"5 hours ago\", \"1 week ago\"\n      // It captures the number (Group 1) and the unit (Group 2)\n      const relativeRegex = /(\\d+)\\s+(minute|minutes|hour|hours|day|days|week|weeks|month|months|year|years)\\s+ago/i;\n      \n      const match = description.match(relativeRegex);\n\n      // Only proceed if a relative date pattern is found\n      if (match) {\n        const amount = parseInt(match[1]);\n        const unit = match[2].toLowerCase();\n        \n        // Get the current actual date/time dynamically\n        let calculatedDate = new Date();\n\n        // Subtract time based on the unit\n        if (unit.includes('minute')) {\n          calculatedDate.setMinutes(calculatedDate.getMinutes() - amount);\n        } else if (unit.includes('hour')) {\n          calculatedDate.setHours(calculatedDate.getHours() - amount);\n        } else if (unit.includes('day')) {\n          calculatedDate.setDate(calculatedDate.getDate() - amount);\n        } else if (unit.includes('week')) {\n          calculatedDate.setDate(calculatedDate.getDate() - (amount * 7));\n        } else if (unit.includes('month')) {\n          calculatedDate.setMonth(calculatedDate.getMonth() - amount);\n        } else if (unit.includes('year')) {\n          calculatedDate.setFullYear(calculatedDate.getFullYear() - amount);\n        }\n\n        // Format the date to \"Mmm DD, YYYY\" (e.g., Nov 28, 2025)\n        const formattedDate = calculatedDate.toLocaleDateString('en-US', {\n          month: 'short',\n          day: 'numeric',\n          year: 'numeric'\n        });\n\n        // Replace the \"2 days ago\" part with the new formatted date\n        item.json.searchResult.description = description.replace(match[0], formattedDate);\n      }\n      // If 'match' is null (meaning it already has a date or no \"ago\" text), we do nothing.\n    }\n  } catch (error) {\n    // Log error but allow other items to continue\n    console.log(\"Error processing date:\", error);\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -272
      ],
      "id": "5c02dd8d-6d8a-4205-bee5-1d6051aa75a4",
      "name": "Date formate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{  $('Merge').item.json.searchResult.title|| $('Create summary and title7').item.json.output.title}}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ $('Merge').item.json.markdown.removeMarkdown() }}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{\n  decodeURIComponent(\n    ($('Merge').item.json.searchResult.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('Create summary and title7').item.json.output.summary }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('Merge').first().json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ (()=>{\n  const s = $('Merge').item.json.searchResult.description ?? '';\n  const m = s.match(/\\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Sept|Oct|Nov|Dec)[a-z]*\\s+\\d{1,2},\\s+\\d{4}\\b/i);\n  return m ? m[0] : null;\n})() }}",
              "type": "string"
            },
            {
              "id": "6bd73285-c360-4b10-8567-8ae66ecba2bd",
              "name": "prompt",
              "value": "={{ $('Initial Input').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "101c6d7f-6e56-4362-9238-0b3e4fd7f14d",
              "name": "additional_formats",
              "value": "={{ $('Initial Input').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "Website",
              "type": "string"
            },
            {
              "id": "0ab697f3-fb5e-4bf0-8602-a2d4c2c36355",
              "name": "source_name",
              "value": "={{ $('Initial Input').item.json.property_name }}",
              "type": "string"
            },
            {
              "id": "9aea88f6-a629-4f42-ba37-8608bb631772",
              "name": "mode",
              "value": "={{ $('Initial Input').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        -148
      ],
      "id": "1fdc4462-f278-4e98-a2ef-47cebbef8073",
      "name": "RAG Web - Url search2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Syntech RSS url",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        -200
      ],
      "id": "abd6f164-2f3a-4fb1-97b3-edcb7a4797e9",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "searchResult.url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        -272
      ],
      "id": "e55e1fb6-63ed-4c17-be06-e477eb70538f",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "Syntech RSS url",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{\n  $('Merge').item.json.searchResult.url.includes('url=')\n    ? decodeURIComponent($('Merge').item.json.searchResult.url.split('url=')[1].split('&')[0])\n    : $('Merge').item.json.searchResult.url\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        -272
      ],
      "id": "d5e1e1ca-7e92-461c-84ea-40fe52cfe0ad",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "WzRqvoBujG4ARKMR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
              "leftValue": "={{ $json.crawl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        -272
      ],
      "id": "61e6a5d8-967c-4f61-af7b-554c20570ff8",
      "name": "If1"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2696,
        -48
      ],
      "id": "2c958b7c-f603-4b59-aef4-154e23369411",
      "name": "DeepSeek 3.",
      "credentials": {
        "openRouterApi": {
          "id": "3MXuGd2YhZxORJU4",
          "name": "Syntech OpenRouter account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:44.233Z",
      "createdAt": "2026-01-28T08:12:44.233Z",
      "role": "workflow:owner",
      "workflowId": "fRhaOSQ3E3yn0Gye",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:18:53.984Z",
  "versionId": "81094144-38bd-4716-841d-dd28f83343a0"
}