2026/01/RSS & Web Biofuel Content Analyzer.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Initial Input": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword6": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markdown present?1": {
      "main": [
        [
          {
            "node": "Create summary and title7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search1": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title7": {
      "main": [
        [
          {
            "node": "RAG Web - Url search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser14": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "RAG Web - Url search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "markdown present?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:06.869Z",
  "id": "kpe8ufAtFGYXmkRl",
  "isArchived": false,
  "meta": null,
  "name": "RSS & Web Biofuel Content Analyzer",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        -192
      ],
      "id": "d84f0c61-5374-4606-8bfd-99e9a46736d4",
      "name": "Initial Input",
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url }}",
              "type": "string"
            },
            {
              "id": "7ca00974-25ef-4c7a-ac32-42d318e2efaa",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2a3d10ea-9972-4e63-a289-f79cfec66ac6",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -176
      ],
      "id": "65b9ba73-d05e-46c8-bd6f-ef44fa2ab06c",
      "name": "Either Url or Keyword6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        -192
      ],
      "id": "93db7f9e-c125-4740-8d1b-1f1b4c29ef2a",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -32,
        -192
      ],
      "id": "e10a59a9-4417-4e72-9898-7d7ae0289a42",
      "name": "Limit8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7af449b-1b66-41eb-bd3c-8528f3a342e5",
              "leftValue": "={{ $json.markdown }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "33f7eec4-37a8-44b2-bc5a-b6ab28e81677",
              "leftValue": "={{ $json.searchResult.url }}",
              "rightValue": "https://syntechbiofuel.com/",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1984,
        -208
      ],
      "id": "7f785f3a-05f6-4f52-adaf-95b03a466000",
      "name": "markdown present?1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "3ox4R101TgZz67sLr",
          "mode": "list",
          "cachedResultName": "RAG Web Browser (apify/rag-web-browser)",
          "cachedResultUrl": "https://console.apify.com/actors/3ox4R101TgZz67sLr/input"
        },
        "customBody": "={\n    \"debugMode\": false,\n    \"desiredConcurrency\": 5,\n    \"htmlTransformer\": \"none\",\n    \"maxResults\": 5,\n    \"outputFormats\": [\n        \"markdown\"\n    ],\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"query\": \"site:{{ $json.url_or_keyword + \" after:\" + $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}\",\n    \"removeCookieWarnings\": true,\n    \"requestTimeoutSecs\": 40\n}\n",
        "timeout": 300
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1344,
        -176
      ],
      "id": "e8786334-26db-4fca-8d7f-b4279c67aec5",
      "name": "RAG Web - Url search",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('RAG Web - Url search').item.json.markdown.removeMarkdown()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RAG Web - Url search').item.json.searchResult.url }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('RAG Web - Url search').item.json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ (()=>{\n  const s = $('RAG Web - Url search').item.json.searchResult.description ?? '';\n  const m = s.match(/\\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Sept|Oct|Nov|Dec)[a-z]*\\s+\\d{1,2},\\s+\\d{4}\\b/i);\n  return m ? m[0] : null;\n})() }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "Website",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -208
      ],
      "id": "1ddbb022-a7d7-4a40-8db7-b13c195f4d87",
      "name": "RAG Web - Url search1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.markdown }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2320,
        -208
      ],
      "id": "06faf0a3-7543-4361-99cd-334eb3da751a",
      "name": "Create summary and title7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2320,
        0
      ],
      "id": "05a11a30-9c23-4566-b7a0-157a61cec257",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2496,
        16
      ],
      "id": "a3b36d52-10fa-42aa-bbaf-2324dee0710b",
      "name": "Structured Output Parser14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6382e72-d90b-4631-98ac-b4d6cfe0801c",
              "leftValue": "={{ $json.url_or_keyword }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1056,
        -176
      ],
      "id": "a0ca78e0-86cf-4137-a33a-f816dfe714de",
      "name": "Filter4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Take this URL. Scrape the text using Apify",
        "height": 544,
        "width": 3344
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -352
      ],
      "typeVersion": 1,
      "id": "88ba52cb-2ee1-4ec9-8817-ac13167b18d3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6382e72-d90b-4631-98ac-b4d6cfe0801c",
              "leftValue": "={{ $('Initial Input').item.json.property_url }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        -192
      ],
      "id": "ed038f96-9831-42ae-bcc2-5ed9d093c9f7",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a80ef79d-ce35-4041-9909-20ba44f379bd",
              "leftValue": "={{ $json.crawl }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1632,
        -192
      ],
      "id": "669fcaf2-dcb0-4b1b-8466-2c2ef7d60ccf",
      "name": "If"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:06.869Z",
      "createdAt": "2026-01-28T09:06:06.869Z",
      "role": "workflow:owner",
      "workflowId": "kpe8ufAtFGYXmkRl",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T09:06:06.869Z",
  "versionId": "0d9a015e-227e-459b-b4fa-f59ee7a3f68b"
}