2026/01/Search Website (From Form).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Scrape a url and get its content": {
      "main": [
        [
          {
            "node": "If Not Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Error1": {
      "main": [
        [
          {
            "node": "firecrawl fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "extract content2": {
      "main": [
        [
          {
            "node": "extract date3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape a url and get its content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown8": {
      "main": [
        [
          {
            "node": "Create summary and title6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract date3": {
      "main": [
        [
          {
            "node": "Markdown8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title6": {
      "main": [
        [
          {
            "node": "https fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser12": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title6",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "extract content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "https fields1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "firecrawl fields": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        []
      ]
    },
    "DeepSeek 3.": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:43.930Z",
  "id": "q57XkCwwTuj1kzdn",
  "isArchived": true,
  "meta": null,
  "name": "Search Website (From Form)",
  "nodes": [
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $('Start').item.json.url_or_keyword }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "style"
                },
                {
                  "tag": "nav"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "801e6bdc-5592-4b93-bc78-23aa5b67f294",
      "name": "Scrape a url and get its content",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e532ff2-3eee-4984-88ef-3cc30f2e6bdf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        112
      ],
      "id": "f0c379af-ffde-4b47-89ca-4686d1f1de4f",
      "name": "If Not Error1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        272
      ],
      "id": "ee6743cb-8d06-4ae1-a163-1e0213dd3f7b",
      "name": "Merge6"
    },
    {
      "parameters": {
        "url": "={{ $json.url_or_keyword }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        272
      ],
      "id": "bc4d14ef-a91f-4271-8c99-e0b9ff082d3b",
      "name": "extract content2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "html": "={{ $('extract content2').item.json.data || '' }}",
        "destinationKey": "linebreak",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "284a6a58-e960-49e7-9c19-5996e7a13b4f",
      "name": "Markdown8"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"extract content2\"].json[\"data\"];\n\n// Function to extract published date from various HTML patterns\nconst extractPublishedDate = (html) => {\n    if (!html) return null;\n    \n    // 1. Open Graph meta tags (most common)\n    let match = html.match(/<meta[^>]*property=[\"']article:published_time[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']article:published_time[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 2. Schema.org meta tags\n    match = html.match(/<meta[^>]*itemprop=[\"']datePublished[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*itemprop=[\"']datePublished[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 3. Standard meta name tags\n    const metaNames = [\n        'publishdate', 'publication-date', 'date', 'pubdate', 'publish_date',\n        'published-date', 'article.published', 'article:published',\n        'datePublished', 'dc.date', 'DC.date', 'dc.date.issued',\n        'sailthru.date', 'article.created', 'last-modified', 'created'\n    ];\n    \n    for (const name of metaNames) {\n        match = html.match(new RegExp(`<meta[^>]*name=[\"']${name}[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n        \n        match = html.match(new RegExp(`<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*name=[\"']${name}[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n    }\n    \n    // 4. JSON-LD structured data\n    const jsonLdMatch = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonLdMatch) {\n        for (const jsonBlock of jsonLdMatch) {\n            try {\n                const jsonContent = jsonBlock.replace(/<script[^>]*>|<\\/script>/gi, '').trim();\n                const data = JSON.parse(jsonContent);\n                const items = Array.isArray(data) ? data : [data];\n                for (const item of items) {\n                    if (item.datePublished) return item.datePublished;\n                    if (item.publishedDate) return item.publishedDate;\n                    if (item.dateCreated) return item.dateCreated;\n                    if (item.article?.datePublished) return item.article.datePublished;\n                }\n            } catch (e) {}\n        }\n    }\n    \n    // 5. Time tags with datetime attribute\n    match = html.match(/<time[^>]*datetime=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n\n    // 6. Specific Text Patterns for human-readable dates (New Fix)\n    // Matches: \"5 January 2026\" or similar patterns inside article details\n    const textPatterns = [\n        /<i class=[\"']far fa-calendar[\"']><\\/i>\\s*([^<]+)/i,\n        /class=[\"']article-details[^\"']*[\"']>[\\s\\S]*?<p>[\\s\\S]*?<\\/i>\\s*([^<]+)/i,\n        /\\b(\\d{1,2}\\s+(?:January|February|March|April|May|June|July|August|September|October|November|December)\\s+\\d{4})\\b/i\n    ];\n\n    for (const pattern of textPatterns) {\n        let textMatch = html.match(pattern);\n        if (textMatch?.[1]) return textMatch[1].trim();\n    }\n    \n    // 7. Data attributes\n    match = html.match(/data-published[-_]?(?:time|date)=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 8. Look for ISO date patterns (last resort)\n    const isoDateMatch = html.match(/\\b(20\\d{2}[-\\/](0[1-9]|1[0-2])[-\\/](0[1-9]|[12]\\d|3[01])(?:T[\\d:]+(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?)?)\\b/);\n    if (isoDateMatch?.[1]) return isoDateMatch[1];\n    \n    return null;\n};\n\n// Function to extract page title\nconst extractTitle = (html) => {\n    if (!html) return null;\n    let match = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n    if (match?.[1]) return match[1].trim();\n    match = html.match(/<meta[^>]*property=[\"']og:title[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n    return null;\n};\n\n// Function to extract meta description\nconst extractMetaDescription = (html) => {\n    if (!html) return null;\n    let match = html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n    match = html.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1].trim();\n    return null;\n};\n\n// Extract values\nconst publishedDate = extractPublishedDate(htmlContent);\nconst title = extractTitle(htmlContent);\nconst metaDescription = extractMetaDescription(htmlContent);\n\n// Return result\nreturn {\n    publishedDate,\n    title,\n    metaDescription\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        416
      ],
      "id": "fa1b4f55-9d92-46a0-9c27-a8aabc2e375b",
      "name": "extract date3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ (function() {\n  // 1. Get the raw data\n  let rawData = ($('Markdown8').item.json.linebreak && $('Markdown8').item.json.linebreak.length > 0)\n    ? $('Markdown8').item.json.linebreak\n    : ($('extract content2').item.json.data || '');\n\n  // 2. Extract Metadata Description (Caption)\n  // This is the most important part for Instagram links\n  let metaMatch = rawData.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([^\"']*)[\"']/i) \n               || rawData.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']*)[\"']/i);\n  let metaDescription = metaMatch ? metaMatch[1] : '';\n\n  // 3. Clean the HTML for the body\n  let cleanedPage = rawData\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav[\\s\\S]*?>[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?>[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<header[\\s\\S]*?>[\\s\\S]*?<\\/header>/gi, '')\n    .removeTags()\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/^(home|categories|guidelines|terms of service|privacy policy|powered by.*)$/gmi, '')\n    .replace(/^\\s+$/gm, '') \n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  // 4. Return combined results\n  return (metaDescription + \"\\n\\n\" + cleanedPage).trim() || \"No content found\";\n})() \n}}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        640,
        416
      ],
      "id": "d784d292-39ce-4b1b-839c-6f6e9049db6d",
      "name": "Create summary and title6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        640
      ],
      "id": "ce06bf5a-7a96-4954-8224-184fbca1e24f",
      "name": "Structured Output Parser12"
    },
    {
      "parameters": {
        "content": "## Try to get a summary and content using the Firecrawl tool",
        "height": 704,
        "width": 1776,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        80
      ],
      "typeVersion": 1,
      "id": "410bc3ab-9168-4995-9eb8-16ef8f8b6a29",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "id": "05510ef6-f901-4f40-8607-58b97b228d65",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -256,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('extract date3').item.json.title || $('Create summary and title6').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ (function() {\n  // 1. Get the raw data\n  let rawData = ($('Markdown8').item.json.linebreak && $('Markdown8').item.json.linebreak.length > 0)\n    ? $('Markdown8').item.json.linebreak.removeMarkdown()\n    : ($('extract content2').item.json.data || '');\n\n  // 2. Extract Metadata Description (Caption)\n  // This is the most important part for Instagram links\n  let metaMatch = rawData.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([^\"']*)[\"']/i) \n               || rawData.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']*)[\"']/i);\n  let metaDescription = metaMatch ? metaMatch[1] : '';\n\n  // 3. Clean the HTML for the body\n  let cleanedPage = rawData\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav[\\s\\S]*?>[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?>[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<header[\\s\\S]*?>[\\s\\S]*?<\\/header>/gi, '')\n    .removeTags()\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/^(home|categories|guidelines|terms of service|privacy policy|powered by.*)$/gmi, '')\n    .replace(/^\\s+$/gm, '') \n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  // 4. Return combined results\n  return (metaDescription + \"\\n\\n\" + cleanedPage).trim() || \"No content found\";\n})() \n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('Start').first().json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('Create summary and title6').item.json.output.summary }}",
              "type": "string"
            },
            {
              "id": "da6884f3-275c-41e7-87c5-c20fb29e9419",
              "name": "search_query",
              "value": "={{ $('Start').first().json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('extract date3').item.json.publishedDate }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "=Website",
              "type": "string"
            },
            {
              "id": "ea233d06-2c94-4ae7-8777-d888068efa82",
              "name": "source_name",
              "value": "Staff Suggestion",
              "type": "string"
            },
            {
              "id": "b6707082-f321-40a8-8174-678e004169df",
              "name": "additional_formats",
              "value": "={{ $('Start').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "ac5d4a60-217d-4291-a6cd-ef525481c403",
              "name": "prompt",
              "value": "={{ $('Start').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "eb7d506e-d06c-448f-a6a1-7726df3f6bbb",
              "name": "mode",
              "value": "={{ $('Start').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        416
      ],
      "id": "1150685d-4388-44d3-a29f-b74285dbc049",
      "name": "https fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Scrape a url and get its content').item.json.data.metadata.ogTitle }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('Scrape a url and get its content').item.json.data.markdown.removeMarkdown()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{\n  decodeURIComponent(\n    ($('Scrape a url and get its content').item.json.data.metadata.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('Scrape a url and get its content').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "da6884f3-275c-41e7-87c5-c20fb29e9419",
              "name": "search_query",
              "value": "={{ $('Start').first().json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('Scrape a url and get its content').item.json.data.metadata['article:published_time'] || $('Scrape a url and get its content').item.json.data.metadata.es_page_date || $('Scrape a url and get its content').item.json.data.metadata.publishedTime || $('Scrape a url and get its content').item.json.data.metadata.publishedTime || $('Scrape a url and get its content').item.json.data.metadata['article:published_time'] }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "=Website",
              "type": "string"
            },
            {
              "id": "e467f924-e661-43ec-b67f-61fbf2088f0c",
              "name": "source_name",
              "value": "Staff Suggestion",
              "type": "string"
            },
            {
              "id": "b6707082-f321-40a8-8174-678e004169df",
              "name": "additional_formats",
              "value": "={{ $('Start').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "ac5d4a60-217d-4291-a6cd-ef525481c403",
              "name": "prompt",
              "value": "={{ $('Start').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "eb7d506e-d06c-448f-a6a1-7726df3f6bbb",
              "name": "mode",
              "value": "={{ $('Start').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        112
      ],
      "id": "bbbf51f2-24eb-4232-847c-72b76464d0ef",
      "name": "firecrawl fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        1008
      ],
      "id": "752e6431-2125-4771-a8b7-d19c121529ce",
      "name": "OpenAI Chat Model12",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        640
      ],
      "id": "312c1f88-5f2f-4790-bf7d-11bf45074ebb",
      "name": "DeepSeek 3.",
      "credentials": {
        "openRouterApi": {
          "id": "3MXuGd2YhZxORJU4",
          "name": "Syntech OpenRouter account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:43.930Z",
      "createdAt": "2026-01-28T08:12:43.930Z",
      "role": "workflow:owner",
      "workflowId": "q57XkCwwTuj1kzdn",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:19:11.411Z",
  "versionId": "d1b361d3-39c4-4732-98b3-d5852e0524b3"
}