2026/01/Search Instagram Page.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T19:19:39.974Z",
    "createdAt": "2026-01-28T19:12:39.795Z",
    "versionId": "cf960592-f603-4dad-a288-fa776ece8b7b",
    "workflowId": "3TArIAzUNlMPDPqK",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "id",
                "type": "any"
              },
              {
                "name": "name",
                "type": "any"
              },
              {
                "name": "url",
                "type": "any"
              },
              {
                "name": "property_keyword_category",
                "type": "any"
              },
              {
                "name": "property_priority",
                "type": "any"
              },
              {
                "name": "property_rss_feed",
                "type": "any"
              },
              {
                "name": "property_source",
                "type": "any"
              },
              {
                "name": "property_category",
                "type": "any"
              },
              {
                "name": "property_url",
                "type": "any"
              },
              {
                "name": "property_status",
                "type": "any"
              },
              {
                "name": "property_name",
                "type": "any"
              },
              {
                "name": "prompt",
                "type": "any"
              },
              {
                "name": "url_or_keyword",
                "type": "any"
              },
              {
                "name": "source",
                "type": "any"
              },
              {
                "name": "additional_formats",
                "type": "any"
              },
              {
                "name": "process_mode",
                "type": "any"
              },
              {
                "name": "bypass_filter",
                "type": "any"
              }
            ]
          }
        },
        "id": "2a01203d-8acb-4431-8e6c-acce15be7884",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -14160,
          -3312
        ]
      },
      {
        "parameters": {
          "operation": "Run actor and get dataset",
          "actorSource": "store",
          "actorId": {
            "__rl": true,
            "value": "nH2AHrwxeTRJoN5hX",
            "mode": "id"
          },
          "customBody": "={\n    \"onlyPostsNewerThan\": \"1 month\",\n    \"resultsLimit\": 5,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"{{ $json.url_or_keyword }}\"\n    ]\n}"
        },
        "type": "@apify/n8n-nodes-apify.apify",
        "typeVersion": 1,
        "position": [
          -13264,
          -3856
        ],
        "id": "b01036bb-6fc7-4383-a8eb-de1272026506",
        "name": "Instagram profile scraper",
        "credentials": {
          "apifyApi": {
            "id": "JsuEKmvPtVt6JvXD",
            "name": "Syntech GM Apify account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-lite",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-lite"
          },
          "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
          "imageUrls": "={{ $('Instagram profile scraper').item.json.displayUrl }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          -11472,
          -3840
        ],
        "id": "7a814881-3903-443e-9257-94bc4ceb9c50",
        "name": "Analyze an image",
        "credentials": {
          "googlePalmApi": {
            "id": "bpjfJQDu5gNEKIgK",
            "name": "Syntech GM Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "video",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-lite",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-lite"
          },
          "text": "<prompt>\n\n    <introduction>\n    You are a Video Analysis Specialist. You excel at watching video content and summarizing it effectively. Your skill is in creating descriptions that capture the sequence of events, key subjects, and the overall narrative or emotional tone of the video.\n    </introduction>\n\n    <task>\n    Analyze the provided video. Write a single, concise paragraph that functions as a rich summary. Your description must identify the main people or subjects, describe the key sequence of actions from beginning to end, and capture the overall mood and atmosphere of the video.\n    </task>\n\n    <output_rules>\n    <rule_1> **Narrative Flow:** Briefly describe the opening scene, the main action or development, and how the video concludes. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the video, considering visuals, pacing, and any audible music or sounds.</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Summarize, Don't Detail:** Focus on the most important actions. Do not provide a shot-by-shot breakdown of the entire video.</restriction_1>\n    <restriction_2> **Be Objective:** Describe only what happens in the video. Do not invent backstories or predict what might happen next.</restriction_2>\n    <restriction_3> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For a video of someone unboxing a new phone:**\n        **Your Correct Output:** \"The video opens with a person placing a sleek, branded box on a clean white desk. They proceed to carefully unbox a new smartphone, removing the protective film and turning it on for the first time, ending with a shot of the bright, glowing home screen, creating a feeling of excitement and anticipation.\"\n    </example_1>\n    <example_2>\n        **For a travel video of a market:**\n        **Your Correct Output:** \"This short, fast-paced video clip follows someone through a vibrant street market, capturing quick shots of colourful textiles and bustling crowds. Set to upbeat, energetic music, the video conveys a sense of adventure and cultural immersion in just a few seconds.\"\n    </example_2>\n    </examples>\n\n</prompt>",
          "videoUrls": "={{ $json.videoUrl }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          -11472,
          -3456
        ],
        "id": "57d1c9a5-ef85-4278-b731-ed1828c8b4c0",
        "name": "Analyze video",
        "credentials": {
          "googlePalmApi": {
            "id": "bpjfJQDu5gNEKIgK",
            "name": "Syntech GM Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('If1').item.json.type }}",
                      "rightValue": "Image",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e106c5fe-6a60-42c8-b903-111972b85a3f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "64f8adb7-a378-4031-9e83-1926292e4d6e",
                      "leftValue": "={{ $('If1').item.json.type }}",
                      "rightValue": "Video",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Video"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "15e45d2b-d3ca-457b-abcc-f6a6273e826d",
                      "leftValue": "={{ $('If1').item.json.type }}",
                      "rightValue": "Sidecar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Sidecar"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -12368,
          -3712
        ],
        "id": "c5339940-5f84-4d1e-bf23-17711ec1e666",
        "name": "Switch"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -11024,
          -3632
        ],
        "id": "6842a50d-7de8-473a-90aa-18cd777231dd",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2a08b0a3-caaf-40f7-86ad-3e1d8da5242f",
                "name": "image",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -11248,
          -3840
        ],
        "id": "3d5fcfdf-ef4a-4477-81ae-6e63b73a352b",
        "name": "image field"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6bec0252-74d5-443d-a8dd-62065d2a6975",
                "name": "video",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -11248,
          -3456
        ],
        "id": "f79ec9bf-7c0a-4cd6-a0be-d7b49102853e",
        "name": "video fields"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-lite",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-lite"
          },
          "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
          "imageUrls": "={{ $json.images }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          -11920,
          -3648
        ],
        "id": "c9d8a2cf-bf16-433b-8b1f-4721a1f1aa40",
        "name": "Analyze an image1",
        "credentials": {
          "googlePalmApi": {
            "id": "bpjfJQDu5gNEKIgK",
            "name": "Syntech GM Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "images",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -12144,
          -3648
        ],
        "id": "dc8d5f35-6423-4a6d-abb1-e56e81c44d34",
        "name": "Split Out"
      },
      {
        "parameters": {
          "maxItems": 100
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -13936,
          -3312
        ],
        "id": "de2180a9-e73b-4f9f-b89d-fc73efb1bbca",
        "name": "Limit6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8efead37-57d8-4101-9010-c855f2525db6",
                "name": "url_or_keyword",
                "value": "={{ $json.property_url || $json.url_or_keyword }}",
                "type": "string"
              },
              {
                "id": "761f96da-4b01-4ac7-8a07-03e42c93bdd8",
                "name": "prompt",
                "value": "={{ $json.prompt }}",
                "type": "string"
              },
              {
                "id": "7af35df9-e2ce-4e76-b8d8-115ef1099d7b",
                "name": "additional_formats",
                "value": "={{ $json.additional_formats }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -13488,
          -3856
        ],
        "id": "ad1ae1e3-91b9-4f42-ad08-4335f6b05457",
        "name": "Either Url or Keyword1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -13712,
          -3312
        ],
        "id": "69bbc0ab-7f65-426c-974b-751c7629d77c",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
                "leftValue": "={{ $('Merge').item.json.caption }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "f8550bb0-e3bd-482d-9810-e57fc6060e52",
                "leftValue": "={{ $('Merge').item.json.ownerUsername }}",
                "rightValue": "syntechbiofuel",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "b5271347-4a6a-4350-9344-e6bcebd5a3a5",
                "leftValue": "={{ $('Merge').item.json.caption }}",
                "rightValue": "https://",
                "operator": {
                  "type": "string",
                  "operation": "notStartsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -10800,
          -3616
        ],
        "id": "5830ad9a-43f6-4e09-b585-e007f90897bd",
        "name": "Filter out empty content2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<content>\n{{ $('Merge').item.json.caption }}\n</content>",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          -10576,
          -3616
        ],
        "id": "0e398697-2809-4af9-815d-045780db6b49",
        "name": "Create summary and title5"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -10448,
          -3392
        ],
        "id": "0af476a1-5832-4246-93ad-6f76b61daca5",
        "name": "Structured Output Parser11"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8043336f-37b2-450d-9cee-0a9304f87969",
                "name": "sidecar",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              },
              {
                "id": "f2dad15b-20aa-4c6a-9653-b38d64b56cac",
                "name": "shortCode",
                "value": "={{ $('Switch').item.json.shortCode }}",
                "type": "string"
              },
              {
                "id": "c39b39a4-c952-4193-8bb0-e03be3654a22",
                "name": "caption",
                "value": "={{ $('Merge').item.json.caption }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -11696,
          -3648
        ],
        "id": "bb59ea06-820a-4c9b-bb48-8392950d0c27",
        "name": "sidecar fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "437df34e-c8a0-4e54-9b86-f332e3390dd3",
                "name": "sidecar_images",
                "value": "={{ $json.appended_sidecar }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -11248,
          -3648
        ],
        "id": "2bdfd5b5-ba92-4823-8e67-186b6a25c14c",
        "name": "sidecar images1"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "append",
                "field": "sidecar"
              }
            ]
          },
          "fieldsToSplitBy": "shortCode",
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          -11472,
          -3648
        ],
        "id": "40fa62c9-76c0-45de-823c-d1615840fadf",
        "name": "Summarize"
      },
      {
        "parameters": {
          "content": "## Instagram posts (images/videos) into text summaries for business use\n## Fetches the  posts from specific Instagram profiles.\n## Images: Describes the scene, mood, and objects. Videos: Summarizes the action and narrative. Carousels: Analyzes every slide and combines them.\n## Reads the Caption + AI Visual Description. Generates a Catchy Title and a 50-word Business Summary.\n## OUTPUT: A clean list containing the AI-written Title, Summary, and original Link.",
          "height": 1168,
          "width": 4400,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -14256,
          -4176
        ],
        "typeVersion": 1,
        "id": "d1b74960-c938-4bbd-a386-72d0bdd75463",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a4834c8f-ac22-4c1c-a063-cb013a7551e1",
                "name": "title",
                "value": "={{ $('Create summary and title5').item.json.output.title }}",
                "type": "string"
              },
              {
                "id": "32dabcd5-3ab3-4db6-aa40-4b95ac34bc83",
                "name": "content",
                "value": "=Content:\n{{ $('Merge').item.json.caption }}\n\nSingle image Description:\n{{ $('Merge2').item.json.image }}\n\nVideo Analysis:\n{{ $('Merge2').item.json.video }}\n\nMultiple image Description:\n{{ $('Merge2').item.json.sidecar_images }}",
                "type": "string"
              },
              {
                "id": "534a78cb-d400-4d1d-8a6b-183e66484257",
                "name": "url",
                "value": "={{\n  decodeURIComponent(\n    ($('Merge').item.json.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
                "type": "string"
              },
              {
                "id": "d508784a-e41d-4ea9-8871-c8759b9bef5a",
                "name": "summary",
                "value": "={{ $('Create summary and title5').item.json.output.summary }}",
                "type": "string"
              },
              {
                "id": "5d3ea0be-c893-4a29-a9b4-4b5fe7b2bde0",
                "name": "search_query",
                "value": "={{ $('Either Url or Keyword1').first().json.url_or_keyword }}",
                "type": "string"
              },
              {
                "id": "5a9c9207-b078-4fbc-88d9-c2e8fa2a2fed",
                "name": "publication_date",
                "value": "={{ $('Merge').item.json.timestamp }}",
                "type": "string"
              },
              {
                "id": "c1a6a0ce-b44f-4ef6-9742-fc87d628f391",
                "name": "source",
                "value": "Instagram",
                "type": "string"
              },
              {
                "id": "1e2ead8a-561a-4693-997c-7b6d8c169eeb",
                "name": "source_name",
                "value": "={{ $('Start').item.json.property_name }}",
                "type": "string"
              },
              {
                "id": "5df51f8f-9a46-457d-b8b8-15ea63b70751",
                "name": "prompt",
                "value": "={{ $('Start').first().json.prompt }}",
                "type": "string"
              },
              {
                "id": "9eae9c3d-3384-4e34-a482-2e1336b828e2",
                "name": "additional_formats",
                "value": "={{ $('Start').first().json.additional_formats }}",
                "type": "string"
              },
              {
                "id": "72a938f3-ef21-454f-ac18-a37eaa24f8a5",
                "name": "mode",
                "value": "={{ $('Start').first().json.process_mode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -10032,
          -3536
        ],
        "id": "9323ecba-3611-49cf-ad0d-a491833edf57",
        "name": "Instagram profile scraper fields1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "Syntech Instagram url",
          "returnAll": true,
          "filterType": "none"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -13040,
          -3632
        ],
        "id": "364c4300-212a-4fa8-a8f0-1e772e60e391",
        "name": "Get many rows",
        "alwaysOutputData": false,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "IT46INDKsZaZyCZQ",
            "name": "Stephen Supabase account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "url",
                "field2": "url"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input1",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -12816,
          -3856
        ],
        "id": "c4f05ea5-4e7d-4206-a92b-5235ac2a5cb7",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
                "leftValue": "={{ $json.url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -12592,
          -3856
        ],
        "id": "fb309486-125e-4dd3-abff-fedf58539271",
        "name": "If1"
      },
      {
        "parameters": {
          "tableId": "Syntech Instagram url",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "url",
                "fieldValue": "={{\n  $('Merge').item.json.url.includes('url=')\n    ? decodeURIComponent($('Merge').item.json.url.split('url=')[1].split('&')[0])\n    : $('Merge').item.json.url\n}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -10256,
          -3584
        ],
        "id": "f288c886-e064-4e8d-bfc2-149d8882046d",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "IT46INDKsZaZyCZQ",
            "name": "Stephen Supabase account"
          }
        }
      },
      {
        "parameters": {
          "model": "deepseek/deepseek-v3.2",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -10576,
          -3392
        ],
        "id": "b2de6273-83bb-4e99-a3f9-e0eea3f36ce2",
        "name": "DeepSeek 3.",
        "credentials": {
          "openRouterApi": {
            "id": "kUkOiAL6PjmdfexG",
            "name": "Syntech GM OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -14160,
          -4192
        ],
        "id": "73c38847-4d67-4e29-95cb-c7d8755ae18e",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "NoEKitspBJb0zQrp",
            "name": "Syntech GM OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Limit6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram profile scraper": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "image field",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze video": {
        "main": [
          [
            {
              "node": "video fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Analyze video",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Filter out empty content2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "image field": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "video fields": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Analyze an image1": {
        "main": [
          [
            {
              "node": "sidecar fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Analyze an image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit6": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Either Url or Keyword1": {
        "main": [
          [
            {
              "node": "Instagram profile scraper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Either Url or Keyword1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter out empty content2": {
        "main": [
          [
            {
              "node": "Create summary and title5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create summary and title5": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser11": {
        "ai_outputParser": [
          [
            {
              "node": "Create summary and title5",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "sidecar fields": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "sidecar images1": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "sidecar images1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram profile scraper fields1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Instagram profile scraper fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek 3.": {
        "ai_languageModel": [
          [
            {
              "node": "Create summary and title5",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          []
        ]
      }
    },
    "authors": "Stephen Anindo",
    "name": "fix creds with republish",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "cf960592-f603-4dad-a288-fa776ece8b7b",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "video fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter out empty content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image field": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "sidecar fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword1": {
      "main": [
        [
          {
            "node": "Instagram profile scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty content2": {
      "main": [
        [
          {
            "node": "Create summary and title5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title5": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser11": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "sidecar fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sidecar images1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "sidecar images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Instagram profile scraper fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek 3.": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:07.478Z",
  "id": "3TArIAzUNlMPDPqK",
  "isArchived": false,
  "meta": null,
  "name": "Search Instagram Page",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "name",
              "type": "any"
            },
            {
              "name": "url",
              "type": "any"
            },
            {
              "name": "property_keyword_category",
              "type": "any"
            },
            {
              "name": "property_priority",
              "type": "any"
            },
            {
              "name": "property_rss_feed",
              "type": "any"
            },
            {
              "name": "property_source",
              "type": "any"
            },
            {
              "name": "property_category",
              "type": "any"
            },
            {
              "name": "property_url",
              "type": "any"
            },
            {
              "name": "property_status",
              "type": "any"
            },
            {
              "name": "property_name",
              "type": "any"
            },
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "url_or_keyword",
              "type": "any"
            },
            {
              "name": "source",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            },
            {
              "name": "bypass_filter",
              "type": "any"
            }
          ]
        }
      },
      "id": "2a01203d-8acb-4431-8e6c-acce15be7884",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -14160,
        -3312
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nH2AHrwxeTRJoN5hX",
          "mode": "id"
        },
        "customBody": "={\n    \"onlyPostsNewerThan\": \"1 month\",\n    \"resultsLimit\": 5,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"{{ $json.url_or_keyword }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -13264,
        -3856
      ],
      "id": "b01036bb-6fc7-4383-a8eb-de1272026506",
      "name": "Instagram profile scraper",
      "credentials": {
        "apifyApi": {
          "id": "JsuEKmvPtVt6JvXD",
          "name": "Syntech GM Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $('Instagram profile scraper').item.json.displayUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -11472,
        -3840
      ],
      "id": "7a814881-3903-443e-9257-94bc4ceb9c50",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "bpjfJQDu5gNEKIgK",
          "name": "Syntech GM Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "<prompt>\n\n    <introduction>\n    You are a Video Analysis Specialist. You excel at watching video content and summarizing it effectively. Your skill is in creating descriptions that capture the sequence of events, key subjects, and the overall narrative or emotional tone of the video.\n    </introduction>\n\n    <task>\n    Analyze the provided video. Write a single, concise paragraph that functions as a rich summary. Your description must identify the main people or subjects, describe the key sequence of actions from beginning to end, and capture the overall mood and atmosphere of the video.\n    </task>\n\n    <output_rules>\n    <rule_1> **Narrative Flow:** Briefly describe the opening scene, the main action or development, and how the video concludes. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the video, considering visuals, pacing, and any audible music or sounds.</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Summarize, Don't Detail:** Focus on the most important actions. Do not provide a shot-by-shot breakdown of the entire video.</restriction_1>\n    <restriction_2> **Be Objective:** Describe only what happens in the video. Do not invent backstories or predict what might happen next.</restriction_2>\n    <restriction_3> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For a video of someone unboxing a new phone:**\n        **Your Correct Output:** \"The video opens with a person placing a sleek, branded box on a clean white desk. They proceed to carefully unbox a new smartphone, removing the protective film and turning it on for the first time, ending with a shot of the bright, glowing home screen, creating a feeling of excitement and anticipation.\"\n    </example_1>\n    <example_2>\n        **For a travel video of a market:**\n        **Your Correct Output:** \"This short, fast-paced video clip follows someone through a vibrant street market, capturing quick shots of colourful textiles and bustling crowds. Set to upbeat, energetic music, the video conveys a sense of adventure and cultural immersion in just a few seconds.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "videoUrls": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -11472,
        -3456
      ],
      "id": "57d1c9a5-ef85-4278-b731-ed1828c8b4c0",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "bpjfJQDu5gNEKIgK",
          "name": "Syntech GM Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e106c5fe-6a60-42c8-b903-111972b85a3f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64f8adb7-a378-4031-9e83-1926292e4d6e",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15e45d2b-d3ca-457b-abcc-f6a6273e826d",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "Sidecar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sidecar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -12368,
        -3712
      ],
      "id": "c5339940-5f84-4d1e-bf23-17711ec1e666",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -11024,
        -3632
      ],
      "id": "6842a50d-7de8-473a-90aa-18cd777231dd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a08b0a3-caaf-40f7-86ad-3e1d8da5242f",
              "name": "image",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11248,
        -3840
      ],
      "id": "3d5fcfdf-ef4a-4477-81ae-6e63b73a352b",
      "name": "image field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bec0252-74d5-443d-a8dd-62065d2a6975",
              "name": "video",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11248,
        -3456
      ],
      "id": "f79ec9bf-7c0a-4cd6-a0be-d7b49102853e",
      "name": "video fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $json.images }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -11920,
        -3648
      ],
      "id": "c9d8a2cf-bf16-433b-8b1f-4721a1f1aa40",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "bpjfJQDu5gNEKIgK",
          "name": "Syntech GM Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -12144,
        -3648
      ],
      "id": "dc8d5f35-6423-4a6d-abb1-e56e81c44d34",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -13936,
        -3312
      ],
      "id": "de2180a9-e73b-4f9f-b89d-fc73efb1bbca",
      "name": "Limit6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "761f96da-4b01-4ac7-8a07-03e42c93bdd8",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "7af35df9-e2ce-4e76-b8d8-115ef1099d7b",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13488,
        -3856
      ],
      "id": "ad1ae1e3-91b9-4f42-ad08-4335f6b05457",
      "name": "Either Url or Keyword1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -13712,
        -3312
      ],
      "id": "69bbc0ab-7f65-426c-974b-751c7629d77c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
              "leftValue": "={{ $('Merge').item.json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f8550bb0-e3bd-482d-9810-e57fc6060e52",
              "leftValue": "={{ $('Merge').item.json.ownerUsername }}",
              "rightValue": "syntechbiofuel",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "b5271347-4a6a-4350-9344-e6bcebd5a3a5",
              "leftValue": "={{ $('Merge').item.json.caption }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -10800,
        -3616
      ],
      "id": "5830ad9a-43f6-4e09-b585-e007f90897bd",
      "name": "Filter out empty content2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $('Merge').item.json.caption }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n  <task>\n    Your primary tasks are to analyze the provided content and generate a JSON object containing two key-value pairs:\n    1. **title:** A clear, descriptive, news-style title that reflects the core information or event in the content.\n    2. **summary:** A concise and informative summary of the key details in the content.\n  </task>\n\n  <steps>\n    1. Review the content thoroughly.\n    2. Identify the primary news, announcement, or action being reported.\n    3. Write a summary that distills the essential information, adhering to the word count limit.\n    4. Write a title in the style of a news or trade publication headline. Focus on describing what happened or is happening — not selling a benefit.\n    5. Format the final output as a single JSON object.\n  </steps>\n\n  <restrictions>\n    - **Summary Word Count:** Max 50 words.\n    - **Title Style:** Use objective, publication-style phrasing — not benefit-driven or marketing-style.\n    - **Clarity:** Avoid jargon; prioritize informative clarity.\n    - **JSON Formatting:** Final output must be a single, valid JSON object enclosed in a markdown code block. No text before or after the JSON.\n  </restrictions>\n\n  <output_rules>\n    - **Format:** Raw JSON object.\n    - **Keys:** Must contain exactly two keys: `title` and `summary`.\n    - **Values:** Both values must be strings.\n    - **Tone:** Professional, factual, and informative.\n  </output_rules>\n\n  <examples>\n    ### Example 1\n    **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n    **Output:**\n    [Start of JSON Output]\n    {\n      \"title\": \"Syntech Launches UK-Made ISCC-Certified Biofuel from Used Cooking Oil\",\n      \"summary\": \"Syntech ASB is a new ISCC-certified biofuel made entirely from used cooking oil. It is a drop-in replacement for diesel, allowing businesses to reduce carbon emissions by up to 90% without engine modifications or new equipment investments.\"\n    }\n    [End of JSON Output]\n  </examples>\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -10576,
        -3616
      ],
      "id": "0e398697-2809-4af9-815d-045780db6b49",
      "name": "Create summary and title5"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -10448,
        -3392
      ],
      "id": "0af476a1-5832-4246-93ad-6f76b61daca5",
      "name": "Structured Output Parser11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8043336f-37b2-450d-9cee-0a9304f87969",
              "name": "sidecar",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "f2dad15b-20aa-4c6a-9653-b38d64b56cac",
              "name": "shortCode",
              "value": "={{ $('Switch').item.json.shortCode }}",
              "type": "string"
            },
            {
              "id": "c39b39a4-c952-4193-8bb0-e03be3654a22",
              "name": "caption",
              "value": "={{ $('Merge').item.json.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11696,
        -3648
      ],
      "id": "bb59ea06-820a-4c9b-bb48-8392950d0c27",
      "name": "sidecar fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "437df34e-c8a0-4e54-9b86-f332e3390dd3",
              "name": "sidecar_images",
              "value": "={{ $json.appended_sidecar }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11248,
        -3648
      ],
      "id": "2bdfd5b5-ba92-4823-8e67-186b6a25c14c",
      "name": "sidecar images1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "sidecar"
            }
          ]
        },
        "fieldsToSplitBy": "shortCode",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -11472,
        -3648
      ],
      "id": "40fa62c9-76c0-45de-823c-d1615840fadf",
      "name": "Summarize"
    },
    {
      "parameters": {
        "content": "## Instagram posts (images/videos) into text summaries for business use\n## Fetches the  posts from specific Instagram profiles.\n## Images: Describes the scene, mood, and objects. Videos: Summarizes the action and narrative. Carousels: Analyzes every slide and combines them.\n## Reads the Caption + AI Visual Description. Generates a Catchy Title and a 50-word Business Summary.\n## OUTPUT: A clean list containing the AI-written Title, Summary, and original Link.",
        "height": 1168,
        "width": 4400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14256,
        -4176
      ],
      "typeVersion": 1,
      "id": "d1b74960-c938-4bbd-a386-72d0bdd75463",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4834c8f-ac22-4c1c-a063-cb013a7551e1",
              "name": "title",
              "value": "={{ $('Create summary and title5').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "32dabcd5-3ab3-4db6-aa40-4b95ac34bc83",
              "name": "content",
              "value": "=Content:\n{{ $('Merge').item.json.caption }}\n\nSingle image Description:\n{{ $('Merge2').item.json.image }}\n\nVideo Analysis:\n{{ $('Merge2').item.json.video }}\n\nMultiple image Description:\n{{ $('Merge2').item.json.sidecar_images }}",
              "type": "string"
            },
            {
              "id": "534a78cb-d400-4d1d-8a6b-183e66484257",
              "name": "url",
              "value": "={{\n  decodeURIComponent(\n    ($('Merge').item.json.url || '')\n      .replace(/^https?:\\/\\/www\\.google\\.com\\/url\\?.*?url=/, '')\n      .split('&')[0]\n  )\n}}",
              "type": "string"
            },
            {
              "id": "d508784a-e41d-4ea9-8871-c8759b9bef5a",
              "name": "summary",
              "value": "={{ $('Create summary and title5').item.json.output.summary }}",
              "type": "string"
            },
            {
              "id": "5d3ea0be-c893-4a29-a9b4-4b5fe7b2bde0",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword1').first().json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "5a9c9207-b078-4fbc-88d9-c2e8fa2a2fed",
              "name": "publication_date",
              "value": "={{ $('Merge').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "c1a6a0ce-b44f-4ef6-9742-fc87d628f391",
              "name": "source",
              "value": "Instagram",
              "type": "string"
            },
            {
              "id": "1e2ead8a-561a-4693-997c-7b6d8c169eeb",
              "name": "source_name",
              "value": "={{ $('Start').item.json.property_name }}",
              "type": "string"
            },
            {
              "id": "5df51f8f-9a46-457d-b8b8-15ea63b70751",
              "name": "prompt",
              "value": "={{ $('Start').first().json.prompt }}",
              "type": "string"
            },
            {
              "id": "9eae9c3d-3384-4e34-a482-2e1336b828e2",
              "name": "additional_formats",
              "value": "={{ $('Start').first().json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "72a938f3-ef21-454f-ac18-a37eaa24f8a5",
              "name": "mode",
              "value": "={{ $('Start').first().json.process_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10032,
        -3536
      ],
      "id": "9323ecba-3611-49cf-ad0d-a491833edf57",
      "name": "Instagram profile scraper fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Syntech Instagram url",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -13040,
        -3632
      ],
      "id": "364c4300-212a-4fa8-a8f0-1e772e60e391",
      "name": "Get many rows",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "IT46INDKsZaZyCZQ",
          "name": "Stephen Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -12816,
        -3856
      ],
      "id": "c4f05ea5-4e7d-4206-a92b-5235ac2a5cb7",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "371490de-8c72-493f-8b9a-0cd3bb56f4c4",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12592,
        -3856
      ],
      "id": "fb309486-125e-4dd3-abff-fedf58539271",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "Syntech Instagram url",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{\n  $('Merge').item.json.url.includes('url=')\n    ? decodeURIComponent($('Merge').item.json.url.split('url=')[1].split('&')[0])\n    : $('Merge').item.json.url\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -10256,
        -3584
      ],
      "id": "f288c886-e064-4e8d-bfc2-149d8882046d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IT46INDKsZaZyCZQ",
          "name": "Stephen Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -10576,
        -3392
      ],
      "id": "b2de6273-83bb-4e99-a3f9-e0eea3f36ce2",
      "name": "DeepSeek 3.",
      "credentials": {
        "openRouterApi": {
          "id": "kUkOiAL6PjmdfexG",
          "name": "Syntech GM OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -14160,
        -4192
      ],
      "id": "73c38847-4d67-4e29-95cb-c7d8755ae18e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NoEKitspBJb0zQrp",
          "name": "Syntech GM OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:07.478Z",
      "createdAt": "2026-01-28T09:06:07.478Z",
      "role": "workflow:owner",
      "workflowId": "3TArIAzUNlMPDPqK",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T19:12:39.788Z",
  "versionId": "cf960592-f603-4dad-a288-fa776ece8b7b"
}