2026/01/SUB - URL -> Scrape using Apify.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Either Url or Keyword6": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markdown present?1": {
      "main": [
        [
          {
            "node": "Create summary and title7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search": {
      "main": [
        [
          {
            "node": "markdown present?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Url search1": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser14": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title7",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title7": {
      "main": [
        [
          {
            "node": "RAG Web - Url search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "RAG Web - Url search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:12:43.519Z",
  "id": "P7vekpwwIOHurCQ8",
  "isArchived": true,
  "meta": null,
  "name": "SUB - URL -> Scrape using Apify",
  "nodes": [
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -11536,
        -3824
      ],
      "id": "9bf3b257-efc2-4369-8648-ade019f38f33",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}",
        "autoFix": false
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -11360,
        -3824
      ],
      "id": "e63a25d9-bba5-4364-8183-2f98be63f7f0",
      "name": "Structured Output Parser14"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url }}",
              "type": "string"
            },
            {
              "id": "7ca00974-25ef-4c7a-ac32-42d318e2efaa",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2a3d10ea-9972-4e63-a289-f79cfec66ac6",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12816,
        -4000
      ],
      "id": "d6f82c40-61c0-4f00-a9a9-45d8f9acbc28",
      "name": "Either Url or Keyword6"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "3ox4R101TgZz67sLr",
          "mode": "list",
          "cachedResultName": "RAG Web Browser (apify/rag-web-browser)",
          "cachedResultUrl": "https://console.apify.com/actors/3ox4R101TgZz67sLr/input"
        },
        "customBody": "={\n    \"debugMode\": false,\n    \"desiredConcurrency\": 5,\n    \"htmlTransformer\": \"none\",\n    \"maxResults\": 5,\n    \"outputFormats\": [\n        \"markdown\"\n    ],\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"query\": \"site:{{ $json.url_or_keyword + \" after:\" + $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}\",\n    \"removeCookieWarnings\": true,\n    \"requestTimeoutSecs\": 40\n}\n",
        "timeout": 300,
        "memory": 1024,
        "build": "",
        "authentication": "apifyApi"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -12224,
        -4000
      ],
      "id": "1e2e7672-73d1-45f9-9051-408d470db67b",
      "name": "RAG Web - Url search",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6382e72-d90b-4631-98ac-b4d6cfe0801c",
              "leftValue": "={{ $json.url_or_keyword }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -12512,
        -4000
      ],
      "id": "feabd609-8871-45cd-90b7-bf5e37de3a4e",
      "name": "Filter4"
    },
    {
      "parameters": {
        "splitInBatchesNotice": "",
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -13104,
        -4016
      ],
      "id": "1a800221-f429-46fe-a3a0-c3850dd41761",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "maxItems": 100,
        "keep": "firstItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -13440,
        -4016
      ],
      "id": "d9b17733-cd9a-4362-a0cf-b112ea53b163",
      "name": "Limit8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7af449b-1b66-41eb-bd3c-8528f3a342e5",
              "leftValue": "={{ $json.markdown }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "33f7eec4-37a8-44b2-bc5a-b6ab28e81677",
              "leftValue": "={{ $json.searchResult.url }}",
              "rightValue": "https://syntechbiofuel.com/",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -11808,
        -4016
      ],
      "id": "4c009c25-c94b-489f-ae32-75dcb8524031",
      "name": "markdown present?1"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('RAG Web - Url search').item.json.markdown.removeMarkdown()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RAG Web - Url search').item.json.searchResult.url }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('RAG Web - Url search').item.json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ (()=>{\n  const s = $('RAG Web - Url search').item.json.searchResult.description ?? '';\n  const m = s.match(/\\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Sept|Oct|Nov|Dec)[a-z]*\\s+\\d{1,2},\\s+\\d{4}\\b/i);\n  return m ? m[0] : null;\n})() }}",
              "type": "string"
            },
            {
              "id": "6bd73285-c360-4b10-8567-8ae66ecba2bd",
              "name": "prompt",
              "value": "={{ $if($('Start').first().json.sources_isExecuted, $('Start').item.json.prompt, \"\") }}",
              "type": "string"
            },
            {
              "id": "101c6d7f-6e56-4362-9238-0b3e4fd7f14d",
              "name": "additional_formats",
              "value": "={{ $if($('Start').first().json.sources_isExecuted, $('Start').item.json.additional_formats, \"\") }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "Website",
              "type": "string"
            },
            {
              "id": "9aea88f6-a629-4f42-ba37-8608bb631772",
              "name": "mode",
              "value": "={{ $if($('Start').first().json.sources_isExecuted, $('Start').item.json.process_mode, \"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11200,
        -4016
      ],
      "id": "2fc3215b-3188-4fc2-b761-7fd513b857b0",
      "name": "RAG Web - Url search1"
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "=<content>\n{{ $json.markdown }}\n</content>",
        "hasOutputParser": true,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -11536,
        -4016
      ],
      "id": "a2fe3026-24bf-4be0-9da4-13ca9926e14a",
      "name": "Create summary and title7"
    },
    {
      "parameters": {
        "content": "## Take this URL. Scrape the text using Apify",
        "height": 368,
        "width": 2880,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13680,
        -4080
      ],
      "typeVersion": 1,
      "id": "4d82d583-58f4-4e61-bc67-955ff54d0e1a",
      "name": "Sticky Note6"
    },
    {
      "id": "2a01203d-8acb-4431-8e6c-acce15be7884",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -13648,
        -4016
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "sources_isExecuted",
              "type": "any"
            },
            {
              "name": "additional_formats",
              "type": "any"
            },
            {
              "name": "process_mode",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:12:43.519Z",
      "createdAt": "2026-01-28T08:12:43.519Z",
      "role": "workflow:owner",
      "workflowId": "P7vekpwwIOHurCQ8",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:19:28.547Z",
  "versionId": "19254eac-0fb2-435d-8475-ed3c10bccf10"
}