2026/01/🔀 Granite Marketing | Social Media Notion Limit Breaker | Sub Workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "IF text longer than 2000 chars": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits text in small chuncks": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Creates the page and adds the first part of text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Adds additional blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates the page and adds the first part of text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Database": {
      "main": [
        [
          {
            "node": "IF text longer than 2000 chars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Content": {
      "main": [
        [
          {
            "node": "Images Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds additional blocks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Images Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Splits text in small chuncks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds Image Blocks": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Adds Image Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generated Images": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images1": {
      "main": [
        [
          {
            "node": "Adds Image Blocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generated Images1": {
      "main": [
        [
          {
            "node": "Split Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Exists": {
      "main": [
        [
          {
            "node": "AI Generated Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Exists1": {
      "main": [
        [
          {
            "node": "AI Generated Images1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T09:06:06.411Z",
  "id": "N1KBxesviIsEyPI5",
  "isArchived": false,
  "meta": null,
  "name": "🔀 Granite Marketing | Social Media Notion Limit Breaker | Sub Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.content.length() }}",
              "operation": "larger",
              "value2": 2000
            }
          ]
        }
      },
      "id": "31d2b494-1543-4a88-ae39-b7126eb65337",
      "name": "IF text longer than 2000 chars",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -672,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet firstBlock = true;\n\n// Split text on \\n characters\nlet textBlocks = $input.first().json.content.split(/\\n/);\n\nfor (let block of textBlocks) {\n    result.push({\n        \"textSubString\": block,\n        \"firstBlock\": firstBlock\n    });\n    firstBlock = false;\n}\n\nreturn result;\n"
      },
      "id": "8ce8be31-6faa-418c-a557-eafbe60c9ed0",
      "name": "Splits text in small chuncks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.firstBlock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d9bb4421-f866-4866-b741-17b702864fcc",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "db2fe1dc-7947-4c5d-a60e-9d70fb93918c",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        656,
        400
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "6783c604-6aae-4f68-84c1-383f39665690",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "content": "Normal texts (smaller than 2000 chars) go this branch",
        "height": 260,
        "width": 300
      },
      "id": "2bd1ee27-4187-4361-90ec-77076b85eb4d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        752
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('Set Target Database').item.json.transformed_content_db_id }}",
          "mode": "id"
        },
        "title": "={{ $('Set Target Database').item.json.title }} | {{ $now.format('DD - H:m') }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Platform|select",
              "selectValue": "={{ $('Set Target Database').item.json.platform }}"
            },
            {
              "key": "Source Content|relation",
              "relationValue": [
                "={{ $('Set Target Database').item.json.source_database_page }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ea4d909-03ba-4ff7-aec3-c5c31ff82453",
      "name": "Creates the page and adds the first part of text",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "content": "Creates the page and adds the first part of text",
        "height": 282,
        "width": 191
      },
      "id": "fd6aca55-8fa4-4972-9526-b037aa4c49d0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        192
      ]
    },
    {
      "parameters": {
        "content": "Adds the additional blocks inside the same page",
        "height": 259,
        "width": 168
      },
      "id": "e92e9c36-3435-4bda-9440-20217351a976",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        384
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        656
      ],
      "id": "6a94312b-788f-4735-baea-c7d1abfa24ef",
      "name": "Set Target Database"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('Set Target Database').item.json.transformed_content_db_id }}",
          "mode": "id"
        },
        "title": "={{ $json.title }} | {{ $now.format('DD - H:m') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Source Content|relation",
              "relationValue": [
                "={{ $json.source_database_page }}"
              ]
            },
            {
              "key": "Platform|select",
              "selectValue": "={{ $json.platform.trim() }}"
            },
            {
              "key": "Article Status|select",
              "selectValue": "Not Reviewed"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -448,
        864
      ],
      "id": "72aa5af0-4047-4178-87ed-541f2dc58f43",
      "name": "Create New Content"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        }
      },
      "id": "78f62318-3070-48ab-97a3-6407c8680170",
      "name": "Adds additional blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        880,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "43dfc3b1-197d-4dcf-92ea-f119c01ec437",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        400
      ],
      "id": "52f981a3-1905-4f00-80dd-50ef99725427",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "image",
              "url": "={{ $json.image_url }}"
            }
          ]
        }
      },
      "id": "1788678f-88a1-4e34-b740-51a88bbbba3f",
      "name": "Adds Image Blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "fieldToSplitOut": "ai_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "d794d03d-4310-402b-83ec-d6c20946adba",
      "name": "Split Images",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "374abe10-a0be-4163-849a-6ef6ef399c22",
              "name": "ai_images",
              "value": "={{ $('Set Target Database').first().json[\"image(s)\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "c82fb6ab-bd6f-4532-bc07-3b3f9f3eb620",
      "name": "AI Generated Images",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Create New Content').item.json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "image",
              "url": "={{ $json.image_url }}"
            }
          ]
        }
      },
      "id": "64cbe89c-5c1e-4e8f-af6c-476e40dd5cf5",
      "name": "Adds Image Blocks1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        432,
        752
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ai_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        752
      ],
      "id": "fa070003-91d8-41fe-b1be-72abbe34de75",
      "name": "Split Images1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "374abe10-a0be-4163-849a-6ef6ef399c22",
              "name": "ai_images",
              "value": "={{ $('Set Target Database').first().json[\"image(s)\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        752
      ],
      "id": "a204ec40-16b1-4906-9284-55dfeddc2cf2",
      "name": "AI Generated Images1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "8d3087d9-58fd-4ec0-a1f6-baecbba8406e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        960
      ],
      "id": "16b52cff-4377-4526-acdd-2fbf4758d23e",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "183c213e-bb38-49b6-af95-5d59699a5986",
              "leftValue": "={{ $('Set Target Database').first().json[\"image(s)\"].length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        96
      ],
      "id": "5da553ca-a8e7-4024-823c-bca042c7f6da",
      "name": "Images Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "183c213e-bb38-49b6-af95-5d59699a5986",
              "leftValue": "={{ $('Set Target Database').first().json[\"image(s)\"].length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        864
      ],
      "id": "50cedd8f-9a4a-415f-acaf-f811c7ff6f8a",
      "name": "Images Exists1"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T09:06:06.411Z",
      "createdAt": "2026-01-28T09:06:06.411Z",
      "role": "workflow:owner",
      "workflowId": "N1KBxesviIsEyPI5",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T09:06:06.411Z",
  "versionId": "37d48991-74f2-4c1e-9fdf-7f00a74db094"
}