2025/12/Add Content to Notion.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "IF text longer than 2000 chars": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits text in small chuncks": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Creates the page and adds the first part of text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Adds additional blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates the page and adds the first part of text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Database": {
      "main": [
        [
          {
            "node": "IF text longer than 2000 chars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Content": {
      "main": [
        [
          {
            "node": "Images Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adds additional blocks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Images Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Splits text in small chuncks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Upload Image Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generated Images": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Exists": {
      "main": [
        [
          {
            "node": "AI Generated Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Exists1": {
      "main": [
        [
          {
            "node": "AI Generated Images2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image Blocks": {
      "main": [
        []
      ]
    },
    "Split Images2": {
      "main": [
        [
          {
            "node": "Upload Image Blocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generated Images2": {
      "main": [
        [
          {
            "node": "Split Images2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T11:25:50.585Z",
  "id": "SKKOCcfPh1zUghVA",
  "isArchived": true,
  "meta": null,
  "name": "Add Content to Notion",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.content.length() }}",
              "operation": "larger",
              "value2": 2000
            }
          ]
        }
      },
      "id": "5980c5f9-6ca0-4da8-bc09-b9937645b65a",
      "name": "IF text longer than 2000 chars",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -448,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet firstBlock = true;\n\n// Split text on \\n characters\nlet textBlocks = $input.first().json.content.split(/\\n/);\n\nfor (let block of textBlocks) {\n    result.push({\n        \"textSubString\": block,\n        \"firstBlock\": firstBlock\n    });\n    firstBlock = false;\n}\n\nreturn result;\n"
      },
      "id": "eb172d87-498b-4146-b3b3-666d886727f4",
      "name": "Splits text in small chuncks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.firstBlock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0c782843-9291-4793-93f9-548721b0f3dc",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "39d3431c-467c-4b54-bed8-9a14ee306671",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        224
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "d088a47b-4b5d-4132-89a9-28d73770f57b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        656,
        128
      ]
    },
    {
      "parameters": {
        "content": "Normal texts (smaller than 2000 chars) go this branch",
        "height": 260,
        "width": 300
      },
      "id": "df759a95-4d18-406b-a4f6-79a58245356e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        576
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('Set Target Database').item.json.transformed_content_db_id }}",
          "mode": "id"
        },
        "title": "={{ $('Set Target Database').item.json.title }} | {{ $now.format('DD - H:m') }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Not started"
            },
            {
              "key": "Platform|multi_select",
              "multiSelectValue": "={{ $('Set Target Database').item.json.platform }}"
            },
            {
              "key": "Source Content|relation",
              "relationValue": [
                "={{ $('Set Target Database').item.json.source_database_page }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "id": "534ff820-b321-452d-809c-5d72e196707e",
      "name": "Creates the page and adds the first part of text",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        432,
        128
      ],
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "content": "Creates the page and adds the first part of text",
        "height": 282,
        "width": 191
      },
      "id": "f23bce98-73c4-4a79-a42c-f4969db5351e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        16
      ]
    },
    {
      "parameters": {
        "content": "Adds the additional blocks inside the same page",
        "height": 259,
        "width": 168
      },
      "id": "b30fde10-8678-4675-b845-9603b58f59e4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        208
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        480
      ],
      "id": "792548ed-ac71-4f0a-87b6-605ca917e5e0",
      "name": "Set Target Database"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $('Set Target Database').item.json.transformed_content_db_id }}",
          "mode": "id"
        },
        "title": "={{ $json.title }} | {{ $now.format('DD - H:m') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Source Content|relation",
              "relationValue": [
                "={{ $json.source_database_page }}"
              ]
            },
            {
              "key": "Platform|multi_select",
              "multiSelectValue": "={{ $json.platform.trim() }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Not started"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -224,
        688
      ],
      "id": "73961d4f-0b5e-4787-8fcf-2b98eef11213",
      "name": "Create New Content",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        }
      },
      "id": "d2aff176-85f9-4517-845d-fdef3e076608",
      "name": "Adds additional blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ],
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        224
      ],
      "id": "f2f6fe3b-c2b4-471c-9edd-1e5752508cde",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ai_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -176
      ],
      "id": "128d93cc-a515-4e72-ab36-5689ad495313",
      "name": "Split Images",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "374abe10-a0be-4163-849a-6ef6ef399c22",
              "name": "ai_images",
              "value": "={{ $('Set Target Database').first().json[\"images\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -176
      ],
      "id": "2de4daf3-9ceb-42f0-8e74-f90ce915092d",
      "name": "AI Generated Images",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "bde8eaaf-0a41-4b36-82c3-9b6af9aa73f3",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        784
      ],
      "id": "b2d48e95-3e40-46bf-8c2c-0a5b298e98ae",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "183c213e-bb38-49b6-af95-5d59699a5986",
              "leftValue": "={{ $('Set Target Database').item.json.images.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -80
      ],
      "id": "7f36f207-a02b-4c0b-80d9-7924d2503b4f",
      "name": "Images Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "183c213e-bb38-49b6-af95-5d59699a5986",
              "leftValue": "={{ $('Set Target Database').first().json[\"images\"].length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        688
      ],
      "id": "97d68fb3-f353-431a-9cfd-a70ad68c82c8",
      "name": "Images Exists1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Loop Over Items').item.json.results[0].id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"children\": [\n        {\n            \"type\": \"image\",\n            \"image\": {\n                \"caption\": [],\n                \"type\": \"file_upload\",\n                \"file_upload\": {\n                    \"id\": \"{{ $json.id }}\"\n                }\n            }\n        }\n    ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -176
      ],
      "id": "dd2946ee-f802-4f2d-a44c-bb8fba1fe6c5",
      "name": "Upload Image Blocks",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "ai_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        608
      ],
      "id": "19918fac-a4f9-4b00-9777-b6ed28d9f99f",
      "name": "Split Images2",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "374abe10-a0be-4163-849a-6ef6ef399c22",
              "name": "ai_images",
              "value": "={{ $('Set Target Database').first().json[\"images\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        608
      ],
      "id": "ba494ce0-d2a5-4e5c-8dfd-5abfde99a5f0",
      "name": "AI Generated Images2",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Create New Content').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"children\": [\n        {\n            \"type\": \"image\",\n            \"image\": {\n                \"caption\": [],\n                \"type\": \"file_upload\",\n                \"file_upload\": {\n                    \"id\": \"{{ $json.id }}\"\n                }\n            }\n        }\n    ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        608
      ],
      "id": "5e484ddd-edfb-4bf6-9e8f-6003c5492d99",
      "name": "Upload Image Blocks1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Qsg1jSZ5AQScoAOn"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T11:25:50.585Z",
      "createdAt": "2025-12-11T11:25:50.585Z",
      "role": "workflow:owner",
      "workflowId": "SKKOCcfPh1zUghVA",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:04:40.883Z",
  "versionId": "d2e8243b-271b-4b3e-acda-a42ef1ac133b"
}