2025/12/Email Content Feed.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get New Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get New Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Ideas": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Digestable Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Create Digestable Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Digestable Summary": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Add Approval/ Rejection Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send Email Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Article": {
      "main": [
        [
          {
            "node": "If Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approve": {
      "main": [
        [
          {
            "node": "Approved By Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected By Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Approval/ Rejection Buttons": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved By Management": {
      "main": [
        [
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected By Management": {
      "main": [
        [
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Update": {
      "main": [
        []
      ]
    },
    "Update a database page": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-11T11:25:51.938Z",
  "id": "AXDPytFhlAwsOVfc",
  "isArchived": true,
  "meta": null,
  "name": "Email Content Feed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "76d96b9e-1b83-4ae7-a4a7-50ded31c5f96",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "7f9a6e03-f736-4350-9f48-095d5fa0104d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27c785c0-cfab-8137-800f-dcf3e01a3e97",
          "mode": "list",
          "cachedResultName": "Syntech Content Ideas",
          "cachedResultUrl": "https://www.notion.so/27c785c0cfab8137800fdcf3e01a3e97"
        },
        "limit": 3,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Sent To Team?|checkbox",
              "condition": "does_not_equal",
              "checkboxValue": true
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Created Date|created_time",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "id": "86075975-33d3-4af2-ab9e-663949a90ff8",
      "name": "Get New Ideas",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8255347-e690-466a-926b-1f5fefa6a2f7",
              "name": "article_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b65e0c95-91ea-4461-9c15-8a2affabaa5e",
              "name": "notion_url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "8bd034bb-ac5c-4edd-8f0a-22be06c56e1e",
              "name": "article_geo",
              "value": "={{ $json.property_topic_geo.join(', ') }}",
              "type": "string"
            },
            {
              "id": "30605d4d-f4e8-4b1b-b27b-e69848f23a59",
              "name": "property_fact_fingerprint",
              "value": "={{ $json.property_fact_fingerprint }}",
              "type": "string"
            },
            {
              "id": "31ea6911-2183-42ec-9fde-3a63bec97efd",
              "name": "topical_entities",
              "value": "={{ $json.property_topic_entities }}",
              "type": "array"
            },
            {
              "id": "b1d776bd-2658-4213-84cf-5dd3d9366782",
              "name": "article_published_date",
              "value": "={{ $json.property_publication_date.start }}",
              "type": "string"
            },
            {
              "id": "37e36fa6-e6a2-4613-aefc-7fdd5c103d08",
              "name": "article_summary",
              "value": "={{ $json.property_summary }}",
              "type": "string"
            },
            {
              "id": "06057fc8-f4d8-42c5-bd91-a4edc21d213b",
              "name": "status",
              "value": "={{ $json.property_update_status }}",
              "type": "string"
            },
            {
              "id": "763edf9c-e9b7-41ef-af16-3cc934a8e42c",
              "name": "article_url",
              "value": "={{ $json.property_source_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        96
      ],
      "id": "fb3d1e3a-83f8-4fc1-9548-a81aea583403",
      "name": "Set Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        320
      ],
      "id": "8f1fb150-656f-4f4c-a73c-43c63a38651d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.toJsonString() }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert content analyst.  \nYour task is to read the provided JSON and produce an ultra-compressed, RSS-style factual micro-summary suitable for senior decision makers scanning multiple items quickly.\n\nYour output must be **EXTREMELY short**, formatted **ONLY using bullet points**, and must NOT contain interpretation, commentary, or full lists.\n\nYou must follow this micro-structure **EXACTLY**, including bullet points, emojis, and formatting:\n\n---\n\n### 🔍 Core Topic  \n- One bullet containing a single sentence capturing the main factual subject.\n\n### ⭐ Key Highlights  \n- One bullet.  \n- Second bullet.  \n- Third bullet.  \n(Up to **3 bullets total**, each containing only the most important factual events or numbers.)\n\n### 🚗 Fuels & Policy  \n- One bullet summarising fuels mentioned (one short line).  \n- One bullet summarising policies or regulations mentioned (one short line).\n\n### 🌍 Locations / Entities  \n- One bullet listing the most relevant locations (short comma-separated list).  \n- One bullet listing the key companies or organisations (short comma-separated list).\n\n---\n\n### **STRICT FORMATTING RULES**\n- Use **bullet points ONLY** (“- ”). No paragraphs.  \n- Follow the exact number of bullets per section.  \n- Maximum **8 bullets total**.  \n- No long lists, no exhaustive enumerations.  \n- Include only the most material facts.  \n- No opinions, interpretation, analysis, or relevance scoring.  \n- Output **only** the structured micro-summary. Nothing else.\n\nThe user will supply a JSON object."
            }
          ]
        },
        "batching": {
          "batchSize": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        96
      ],
      "id": "01078a57-e310-4be1-8561-d3e6836d4b8b",
      "name": "Create Digestable Summary"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "81fa105d-0be2-492b-9dc7-2fe8a4730b4f",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {
          "customizedHeaderId": false,
          "noHeaderId": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1248,
        96
      ],
      "id": "8a29ee53-2646-41d8-8152-e45696cd898f",
      "name": "Markdown"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1744,
        -16
      ],
      "id": "5584051e-9557-4ac9-b08d-24f195fc5893",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "stephen@granitemarketing.co.uk",
        "subject": "=💡 Syntech Content Ideas For {{ $now.format('yyyy-MM-dd') }}",
        "message": "=Good Morning! \n\nHere are the ideas from today:\n{{ $json.data.join('<br><hr>') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1936,
        -16
      ],
      "id": "d0d7f1c0-aac0-4a2c-bddd-2993e3494ad0",
      "name": "Send Email Update",
      "webhookId": "b074baa4-bd4e-40ba-a139-ec9784e46c0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mY5EvAyVUsb5ikp",
          "name": "Stephen Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "confirm-article",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        528
      ],
      "id": "0d2b903a-126f-4469-a59b-2eab68d16b7f",
      "name": "Confirm Article",
      "webhookId": "48abe208-905e-47c1-86ec-3b03a1fd3e00"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.query.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Approved By Management"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        432
      ],
      "id": "5e50f276-b0d5-46bf-991f-66e2a3bc4237",
      "name": "Approved By Management",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8633dae9-9108-4f28-97f8-03854fe69dfb",
              "leftValue": "approve",
              "rightValue": "={{ $json.query.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        528
      ],
      "id": "e580c5fc-fcda-47d0-b1de-9c1ce6214b27",
      "name": "If Approve"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.query.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Rejected By Management"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        624
      ],
      "id": "955e27d6-016f-4dcf-bd55-5957ca37eef8",
      "name": "Rejected By Management",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4dbc790-fb04-4b34-b9ed-c82a91830347",
              "name": "data",
              "value": "=<h3><a href=\"{{ $('Set Data').item.json.article_url }}\">📝 Title: {{ $('Set Data').item.json.article_name }} ({{ $('Set Data').item.json.status }})</a></h3>\n{{ $json.data }}\n<table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n  <tr>\n    <!-- LEFT align the buttons -->\n    <td align=\"left\">\n      <table cellspacing=\"0\" cellpadding=\"0\">\n        <tr>\n\n          <!-- Reject button -->\n          <td bgcolor=\"#1C242B\" style=\"border-radius: 8px;\">\n            <a href=\"https://syntech.granite-automations.app/webhook/confirm-article?url={{ $('Set Data').item.json.notion_url }}&status=reject&title={{ $('Set Data').item.json.article_name }}</h3>\n{{ $json.data }}\"\n               target=\"_blank\"\n               style=\"display: inline-block; padding: 10px 20px; color: #ffffff; text-decoration: none; font-family: Arial, sans-serif; font-size: 16px;\">\n              Reject\n            </a>\n          </td>\n\n          <!-- GAP (12px spacer cell — email safe) -->\n          <td width=\"12\" style=\"font-size: 0; line-height: 0;\">\n            &nbsp;\n          </td>\n\n          <!-- Confirm button -->\n          <td bgcolor=\"#94C11F\" style=\"border-radius: 8px;\">\n            <a href=\"https://syntech.granite-automations.app/webhook/confirm-article?url={{ $('Set Data').item.json.notion_url }}&status=approve&title={{ $('Set Data').item.json.article_name }}\"\n               target=\"_blank\"\n               style=\"display: inline-block; padding: 10px 20px; color: #ffffff; text-decoration: none; font-family: Arial, sans-serif; font-size: 16px;\">\n              Confirm\n            </a>\n          </td>\n\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        96
      ],
      "id": "373c645a-be36-4e28-ad69-59c7dd3b1f50",
      "name": "Add Approval/ Rejection Buttons"
    },
    {
      "parameters": {
        "sendTo": "stephen@granitemarketing.co.uk",
        "subject": "=✅ Approved: {{ $('Confirm Article').item.json.query.title }}",
        "message": "=Good Morning! \n<br><br>\nThe article {{ $('Confirm Article').item.json.query.title }} has been updated to approved successfully!\n<br><br>\nAgent 🤖",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        528
      ],
      "id": "068c250c-4c08-4d6b-a4e1-d6dd33a2d0f9",
      "name": "Send Email Confirmation",
      "webhookId": "b074baa4-bd4e-40ba-a139-ec9784e46c0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mY5EvAyVUsb5ikp",
          "name": "Stephen Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Set Data').item.json.notion_url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Sent To Team?|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1744,
        208
      ],
      "id": "e741e4db-9871-4271-b76b-130574f69d42",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T11:25:51.938Z",
      "createdAt": "2025-12-11T11:25:51.938Z",
      "role": "workflow:owner",
      "workflowId": "AXDPytFhlAwsOVfc",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:04:00.142Z",
  "versionId": "062f2dc2-272f-44bb-8c4a-ccd32bb52737"
}