2025/12/Syntech Mention Monitor.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Search": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "is content empty?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Sources": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Sources": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Get 5 Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Results": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Classification agent with Batch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Input Format": {
      "main": [
        [
          {
            "node": "Classification agent with Batch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Output In Evaluation Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "select fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Evaluation": {
      "main": [
        [
          {
            "node": "Get All Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publication Date": {
      "main": [
        [
          {
            "node": "Add New Content Idea6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Content Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "video fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 Ideas": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF text longer than 2000 chars": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Publication Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits text in small chuncks": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "If Publication Date2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add Content To Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Splits text in small chuncks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Content Idea4": {
      "main": [
        [
          {
            "node": "Set Article URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publication Date2": {
      "main": [
        [
          {
            "node": "Add New Content Idea4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Content Idea5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Content Idea5": {
      "main": [
        [
          {
            "node": "Set Article URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter out empty content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image field": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sidecar fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "video fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "sidecar fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Article URL": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Content To Post": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a url and get its content4": {
      "main": [
        [
          {
            "node": "If Not Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword": {
      "main": [
        [
          {
            "node": "Twitter/ X post scraper - keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword1": {
      "main": [
        [
          {
            "node": "Instagram profile scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword2": {
      "main": [
        [
          {
            "node": "Linkedin post search scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword3": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tavily search fields1": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS search fields1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/ X post fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram profile scraper fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post search scraper fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Either Url or Keyword2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Either Url or Keyword1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Either Url or Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Error": {
      "main": [
        [
          {
            "node": "RSS search fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "failed urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "failed urls": {
      "main": [
        [
          {
            "node": "extract content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format content": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Not Error2": {
      "main": [
        [
          {
            "node": "tavily search fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "failed url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "failed url1": {
      "main": [
        [
          {
            "node": "extract content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "https fields": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter out empty content": {
      "main": [
        [
          {
            "node": "Create summary and title3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty content1": {
      "main": [
        [
          {
            "node": "Create summary and title4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty content2": {
      "main": [
        [
          {
            "node": "Create summary and title5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract content": {
      "main": [
        [
          {
            "node": "extract date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract content1": {
      "main": [
        [
          {
            "node": "extract date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Either Url or Keyword3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword5": {
      "main": [
        [
          {
            "node": "RAG Web - Keyword Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Either Url or Keyword5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markdown present?": {
      "main": [
        [
          {
            "node": "RAG Web - Keyword Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown6": {
      "main": [
        [
          {
            "node": "Create summary and title2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Create summary and title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract date": {
      "main": [
        [
          {
            "node": "Markdown6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract date1": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select fields": {
      "main": [
        [
          {
            "node": "Has Content?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Google Sheet Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Ideas From Evaluation Table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Keyword Search": {
      "main": [
        [
          {
            "node": "markdown present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Web - Keyword Search1": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Either Url or Keyword4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit7": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Either Url or Keyword4": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        []
      ]
    },
    "Scrape a url and get its content2": {
      "main": [
        [
          {
            "node": "If Not Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Add Content Idea to Evaluation Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Google Sheet Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Ideas From Evaluation Table2": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "is content empty?": {
      "main": [
        [
          {
            "node": "Remove Duplicates3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates3": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Match Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Sources1": {
      "main": [
        [
          {
            "node": "Match Input Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classification agent with Batch1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification agent with Batch1": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classification agent with Batch1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title": {
      "main": [
        [
          {
            "node": "format content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title2": {
      "main": [
        [
          {
            "node": "https fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title3": {
      "main": [
        [
          {
            "node": "Linkedin post search scraper fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title4": {
      "main": [
        [
          {
            "node": "Twitter/ X post fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Create summary and title5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser11": {
      "ai_outputParser": [
        [
          {
            "node": "Create summary and title5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create summary and title5": {
      "main": [
        [
          {
            "node": "Instagram profile scraper fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Output In Evaluation Google Sheet": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/ X post scraper - keyword": {
      "main": [
        [
          {
            "node": "Filter Out Company Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X fields1": {
      "main": [
        [
          {
            "node": "Filter out empty content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Company Posts": {
      "main": [
        [
          {
            "node": "X fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post search scraper": {
      "main": [
        [
          {
            "node": "linkedin fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin fields1": {
      "main": [
        [
          {
            "node": "Mentions Syntech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mentions Syntech": {
      "main": [
        [
          {
            "node": "Filter out empty content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content?": {
      "main": [
        [
          {
            "node": "Get Rating Formatted For Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rating Formatted For Notion": {
      "main": [
        [
          {
            "node": "IF text longer than 2000 chars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T11:25:52.719Z",
  "id": "3phrLTnbaoWq6KIv",
  "isArchived": true,
  "meta": null,
  "name": "Syntech Mention Monitor",
  "nodes": [
    {
      "parameters": {
        "query": "={{ $json.url_or_keyword }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": 10,
          "time_range": "week",
          "include_images": false
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        464,
        1328
      ],
      "id": "d7a5dc72-4ed5-448c-8d28-363dd4a02589",
      "name": "Search",
      "alwaysOutputData": false,
      "credentials": {
        "tavilyApi": {
          "id": "ZcHvfAvaiPVC9onF",
          "name": "Tavily account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1968,
        1008
      ],
      "id": "72662346-6564-44f4-af59-c6790dfccfc0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        1200
      ],
      "id": "f400d3b6-6a7d-4410-bdb3-a6798a52a7a6",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4544,
        1088
      ],
      "id": "b884c8c1-891f-43c3-a0a7-de44c3a12d7f",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nH2AHrwxeTRJoN5hX",
          "mode": "id"
        },
        "customBody": "={\n    \"onlyPostsNewerThan\": \"1 month\",\n    \"resultsLimit\": 10,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"{{ $json.url_or_keyword }}\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        640,
        3184
      ],
      "id": "45781397-f9af-4f0e-ac9c-368cfd55de3a",
      "name": "Instagram profile scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        1216
      ],
      "id": "db3c8e37-16e3-4414-b5b2-4005a76ac3e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2a8785c0-cfab-8153-bfad-e3a7a0ef72c9",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mentions Sources",
          "cachedResultUrl": "https://www.notion.so/2a8785c0cfab8153bfade3a7a0ef72c9"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1744,
        1104
      ],
      "id": "ff8c3bc2-80be-4d05-a3ac-9a7cfe49bbcf",
      "name": "Get All Sources",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source || $if($('Get All Sources').isExecuted, $('Get All Sources').item.json.property_source, null) }}",
                    "rightValue": "RSS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "64eaa223-9be7-410e-8ff2-3e07451e36fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RSS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d69a784-393b-4571-9fc2-9610ebc6e080",
                    "leftValue": "={{ $json.source || $if($('Get All Sources').isExecuted, $('Get All Sources').item.json.property_source, null) }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b422070f-f4e4-4177-9f59-b5b9c621ac49",
                    "leftValue": "={{ $json.source || $if($('Get All Sources').isExecuted, $('Get All Sources').item.json.property_source, null) }}",
                    "rightValue": "=Keyword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Keyword"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39bfb8ee-3bee-417f-86be-f230bb821856",
                    "leftValue": "={{ $json.source || $if($('Get All Sources').isExecuted, $('Get All Sources').item.json.property_source, null) }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00c92dc8-148e-442a-9b62-f6f4a33608e6",
                    "leftValue": "={{ $json.source || $if($('Get All Sources').isExecuted, $('Get All Sources').item.json.property_source, null) }}",
                    "rightValue": "X",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twitter/ X"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -976,
        1424
      ],
      "id": "d2e5ab5d-794b-4f48-98f1-132e3a658941",
      "name": "Match Sources"
    },
    {
      "parameters": {
        "url": "={{ $json.url_or_keyword }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        464,
        656
      ],
      "id": "ea86e84d-8bc8-4e1b-8148-5c2b8afd707c",
      "name": "RSS Read",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45d48713-c0cb-44ab-83fc-168ac9a7c419",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1520,
        1104
      ],
      "id": "d07eaab5-d8e7-49e1-9f91-36db0592a20d",
      "name": "Get Active Sources"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2a4785c0-cfab-8160-b859-f1992a8d67d8",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mention Tracker",
          "cachedResultUrl": "https://www.notion.so/2a4785c0cfab8160b859f1992a8d67d8"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4784,
        1344
      ],
      "id": "4e48e103-4143-4fe7-9b30-4a0f700f3ea7",
      "name": "Get All Results",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "property_source_url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5216,
        1328
      ],
      "id": "67ddbae8-2f29-4f40-90d9-96efdc967498",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4678c4d-3605-43b3-930d-54f3db0cf209",
              "name": "content",
              "value": "={{ $('Run Evaluation').item.json.Content }}",
              "type": "string"
            },
            {
              "id": "960e3dc3-5af8-4535-bca0-6db869b1bed0",
              "name": "url",
              "value": "={{ $('Run Evaluation').item.json.URL }}",
              "type": "string"
            },
            {
              "id": "084b87c7-e199-4284-89d5-a2a5bb7a69e7",
              "name": "title",
              "value": "={{ $('Run Evaluation').item.json.Title }}",
              "type": "string"
            },
            {
              "id": "4957e170-7f99-4439-8b8a-29e930aa8823",
              "name": "publication_date",
              "value": "={{ $('Run Evaluation').item.json[\"Publication Date\"] }}",
              "type": "string"
            },
            {
              "id": "7bf20e2e-95b3-4acc-9a9b-7fcf895f1ad2",
              "name": "expected_relevance",
              "value": "={{ $('Run Evaluation').item.json[\"Expected Score\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        848
      ],
      "id": "28012032-55bb-4bec-beb2-385f8f4d4af1",
      "name": "Match Input Format",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        6416,
        880
      ],
      "id": "57130475-ef43-4f28-9c10-b1ade64ad829",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        5216,
        848
      ],
      "id": "786e5416-871b-48b8-9c51-98ad80383eff",
      "name": "Run Evaluation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TvN6HmHHfgKukni4",
          "name": "Stephen Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual_Score",
              "outputValue": "={{ $json.output.relevance_score }}"
            },
            {
              "outputName": "AI_Reasoning",
              "outputValue": "={{ $('Classification agent with Batch1').item.json.output.reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        6672,
        784
      ],
      "id": "65cbada6-5520-4a0e-b8c6-308a9858dee8",
      "name": "Set Output In Evaluation Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TvN6HmHHfgKukni4",
          "name": "Stephen Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20ca9df-9034-44ac-8d9e-ecad56c6a923",
              "leftValue": "={{ $('Merge').item.json.publication_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8464,
        2336
      ],
      "id": "b5272e90-3567-4c09-a03c-5ff81f5dd1c4",
      "name": "If Publication Date"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a4785c0-cfab-8160-b859-f1992a8d67d8",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mention Tracker",
          "cachedResultUrl": "https://www.notion.so/2a4785c0cfab8160b859f1992a8d67d8"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.url }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $('Merge').item.json.summary }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $json.source }}"
            },
            {
              "key": "Own Analysis|rich_text",
              "textContent": "={{ $if($('Merge').isExecuted, $('Merge').item.json.prompt || '', '') }}"
            },
            {
              "key": "Rating|select",
              "selectValue": "={{ $('Get Rating Formatted For Notion').item.json.output }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Merge').item.json.content || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8688,
        2432
      ],
      "id": "fe33fdbd-fea3-47bf-bfcb-fe3020fa3b84",
      "name": "Add New Content Idea1",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $('Instagram profile scraper').item.json.displayUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        2912
      ],
      "id": "8ff19187-e60d-4943-9a2e-795e099b8274",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "<prompt>\n\n    <introduction>\n    You are a Video Analysis Specialist. You excel at watching video content and summarizing it effectively. Your skill is in creating descriptions that capture the sequence of events, key subjects, and the overall narrative or emotional tone of the video.\n    </introduction>\n\n    <task>\n    Analyze the provided video. Write a single, concise paragraph that functions as a rich summary. Your description must identify the main people or subjects, describe the key sequence of actions from beginning to end, and capture the overall mood and atmosphere of the video.\n    </task>\n\n    <output_rules>\n    <rule_1> **Narrative Flow:** Briefly describe the opening scene, the main action or development, and how the video concludes. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the video, considering visuals, pacing, and any audible music or sounds.</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Summarize, Don't Detail:** Focus on the most important actions. Do not provide a shot-by-shot breakdown of the entire video.</restriction_1>\n    <restriction_2> **Be Objective:** Describe only what happens in the video. Do not invent backstories or predict what might happen next.</restriction_2>\n    <restriction_3> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_3>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For a video of someone unboxing a new phone:**\n        **Your Correct Output:** \"The video opens with a person placing a sleek, branded box on a clean white desk. They proceed to carefully unbox a new smartphone, removing the protective film and turning it on for the first time, ending with a shot of the bright, glowing home screen, creating a feeling of excitement and anticipation.\"\n    </example_1>\n    <example_2>\n        **For a travel video of a market:**\n        **Your Correct Output:** \"This short, fast-paced video clip follows someone through a vibrant street market, capturing quick shots of colourful textiles and bustling crowds. Set to upbeat, energetic music, the video conveys a sense of adventure and cultural immersion in just a few seconds.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "videoUrls": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        3136
      ],
      "id": "ff42bb7e-5c21-44fd-820b-51f798d16098",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e106c5fe-6a60-42c8-b903-111972b85a3f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64f8adb7-a378-4031-9e83-1926292e4d6e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15e45d2b-d3ca-457b-abcc-f6a6273e826d",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Sidecar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sidecar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        928,
        3168
      ],
      "id": "214fddea-b13d-4003-b3aa-9d6bed6728df",
      "name": "Switch"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        800,
        656
      ],
      "id": "b43bc91c-35e7-4d51-a993-112a610aaf6d",
      "name": "Get 5 Ideas"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{  $('Remove Duplicates').item.json.content?.length() }}",
              "operation": "larger",
              "value2": 2000
            }
          ]
        }
      },
      "id": "e52c19c2-f8f9-41e5-a943-1a50a77c4b30",
      "name": "IF text longer than 2000 chars",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8032,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet firstBlock = true;\n\n// Split text on \\n characters - FIXED: Use .item instead of .first() to get current item\nlet textBlocks = $('Remove Duplicates').item.json.content.split(/\\n/);\n\nfor (let block of textBlocks) {\n    if (block.length === 0) continue;\n    result.push({\n        \"textSubString\": block.trim(),\n        \"firstBlock\": firstBlock\n    });\n    firstBlock = false;\n}\n\nreturn result;"
      },
      "id": "62c882b1-4b2f-49b9-acdf-8bbbfba6ff97",
      "name": "Splits text in small chuncks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8688,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.firstBlock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f7db9efb-598a-4661-846d-47338da49f2b",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8912,
        1760
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "8d2e1947-03b7-49b7-8c32-c7912ff36e20",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        9808,
        1760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8464,
        1856
      ],
      "id": "bc852a8a-2397-4139-8df0-b3f16d0b494e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a4785c0-cfab-8160-b859-f1992a8d67d8",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mention Tracker",
          "cachedResultUrl": "https://www.notion.so/2a4785c0cfab8160b859f1992a8d67d8"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.search_query }}"
            },
            {
              "key": "Publication Date|date",
              "date": "={{ $('Merge').item.json.publication_date }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $('Merge').item.json.summary }}"
            },
            {
              "key": "Own Analysis|rich_text",
              "textContent": "={{ $if($('Merge').isExecuted, $('Merge').item.json.prompt || '', '') }}"
            },
            {
              "key": "Rating|select",
              "selectValue": "={{ $('Get Rating Formatted For Notion').item.json.output }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9360,
        1472
      ],
      "id": "e1543d61-88d6-4581-afea-1d5a09c2788a",
      "name": "Add New Content Idea4",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20ca9df-9034-44ac-8d9e-ecad56c6a923",
              "leftValue": "={{ $('Merge').item.json.publication_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9136,
        1664
      ],
      "id": "202c3694-6b5e-4a99-b264-f5ede9b827c4",
      "name": "If Publication Date2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a4785c0-cfab-8160-b859-f1992a8d67d8",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mention Tracker",
          "cachedResultUrl": "https://www.notion.so/2a4785c0cfab8160b859f1992a8d67d8"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.url }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $('Merge').item.json.summary }}"
            },
            {
              "key": "Own Analysis|rich_text",
              "textContent": "={{ $if($('Merge').isExecuted, $('Merge').item.json.prompt || '', '') }}"
            },
            {
              "key": "Rating|select",
              "selectValue": "={{ $('Get Rating Formatted For Notion').item.json.output }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9360,
        1664
      ],
      "id": "c0640d75-c1c2-489a-bc36-2dccbe7b7204",
      "name": "Add New Content Idea5",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        3168
      ],
      "id": "ccbc07d7-22e4-4b7a-aafa-d85cea5834fd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a08b0a3-caaf-40f7-86ad-3e1d8da5242f",
              "name": "image",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        2912
      ],
      "id": "e4191f06-14aa-432e-9886-a888a6427673",
      "name": "image field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8043336f-37b2-450d-9cee-0a9304f87969",
              "name": "sidecar",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        3328
      ],
      "id": "30ca6b88-7b46-4f27-a15f-51437c918c90",
      "name": "sidecar fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bec0252-74d5-443d-a8dd-62065d2a6975",
              "name": "video",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        3136
      ],
      "id": "6056388e-442f-4f1a-809f-811a04d91e8b",
      "name": "video fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=<prompt>\n\n    <introduction>\n    You are a Visual Description Specialist. You excel at analyzing images and creating descriptions that are both factually accurate for accessibility (alt-text) and rich enough to convey the image's emotional tone.\n    </introduction>\n\n    <task>\n    Analyze the provided image. Write a single, concise paragraph that functions as rich alt-text. Your description must identify the main people and objects, describe the setting, and capture the overall mood and atmosphere of the scene.\n    </task>\n\n    <output_rules>\n    <rule_1> **Content Priority:** Start by describing the main subject (person or object). Then, describe the background and any significant secondary elements. </rule_1>\n    <rule_2> **Capture the Mood:** Weave in adjectives that convey the feeling of the photo (e.g., \"serene,\" \"bustling,\" \"joyful,\" \"melancholy\").</rule_2>\n    <rule_3> **Format:** The entire output must be a single, descriptive paragraph, ideally 2-4 sentences long.</rule_3>\n    </output_rules>\n\n    <restrictions>\n    <restriction_1> **Be Objective:** Describe only what is visually present. Do not invent names, backstories, or infer information not explicitly shown.</restriction_1>\n    <restriction_2> **No Lists:** Do not use bullet points. The output must be a paragraph.</restriction_2>\n    </restrictions>\n\n    <examples>\n    <example_1>\n        **For an image of a person on a foggy London bridge:**\n        **Your Correct Output:** \"A person walks across a bridge in London, their silhouette partially obscured by thick morning fog. The iconic shape of a double-decker bus is faintly visible in the background, creating a moody and atmospheric urban scene.\"\n    </example_1>\n    <example_2>\n        **For an image of a plate of food in a restaurant:**\n        **Your Correct Output:** \"A vibrant plate of fish and chips sits on a dark wooden table, illuminated by warm restaurant lighting. The fish has a golden, crispy batter, and a small dish of mushy peas adds a splash of color, making the meal look comforting and delicious.\"\n    </example_2>\n    </examples>\n\n</prompt>",
        "imageUrls": "={{ $json.images }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        3328
      ],
      "id": "467f0032-eb86-4c83-a9c6-54550cfb973a",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZmbuA0PXohNwTNly",
          "name": "Google Gemini(PaLM) paid"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1344,
        3360
      ],
      "id": "fb93f9e0-76b6-4bc3-834e-0235a5953a15",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "c243802a-7694-440c-aece-dade0ac573d2",
      "name": "Set Article URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        9584,
        1664
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.textSubString }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        10032,
        1920
      ],
      "id": "59355fa8-bedb-4f02-a932-c37ae96566ac",
      "name": "Add Content To Post",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.link }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "nav"
                },
                {
                  "tag": "style"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1040,
        656
      ],
      "id": "5040cf82-fe87-4305-af99-65e67cfdbd08",
      "name": "Scrape a url and get its content2",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -384,
        1312
      ],
      "id": "36bb6c38-8423-44a8-b298-3fce574cd35f",
      "name": "Limit2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -192,
        1840
      ],
      "id": "26b95def-403b-4051-8a5d-472f620f7cb9",
      "name": "Limit4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -192,
        3104
      ],
      "id": "d64a9f0b-d308-4059-8de3-ea48244658c7",
      "name": "Limit6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8688,
        2000
      ],
      "id": "1824390e-8b03-45b7-b3b3-3077dee107ee",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {},
                {
                  "type": "summary"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "footer"
                },
                {
                  "tag": "script"
                },
                {
                  "tag": "nav"
                },
                {
                  "tag": "style"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1264,
        1200
      ],
      "id": "57cf34dc-3479-4588-b042-121c626ff21b",
      "name": "Scrape a url and get its content4",
      "credentials": {
        "firecrawlApi": {
          "id": "BNVJqHXn81DoWSYA",
          "name": "Firecrawl account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -192,
        2512
      ],
      "id": "9e9b7540-6e49-4ed7-b161-122b1324c3c8",
      "name": "Limit3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_url || $json.url_or_keyword || $json.name }}",
              "type": "string"
            },
            {
              "id": "670b79a6-99da-4cef-9b7d-74f346980d34",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "0a3f9442-f913-4b62-9fe3-30b46de7569d",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        2512
      ],
      "id": "f6202fb8-2e09-42f9-bb19-7af611521676",
      "name": "Either Url or Keyword"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.name || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "761f96da-4b01-4ac7-8a07-03e42c93bdd8",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "7af35df9-e2ce-4e76-b8d8-115ef1099d7b",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        3184
      ],
      "id": "606ecd5c-86c0-4476-b99d-7978984c3d65",
      "name": "Either Url or Keyword1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.name || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "20618a33-4eba-4a9e-99e3-5271598f180c",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "f195a260-08af-4cc2-a6b1-7e5f306adb5c",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1856
      ],
      "id": "4df1deb1-ccac-4061-81d8-63dec37ab7b0",
      "name": "Either Url or Keyword2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_name || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "1bf13ab6-84ba-4faf-ae05-c664b1e9c8cd",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "e49600f7-c2d9-46d2-9903-5bc13fbb7f78",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        1328
      ],
      "id": "5bb5768f-d182-43e1-b69f-0140cb83d100",
      "name": "Either Url or Keyword3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_rss_feed || $json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "7ca00974-25ef-4c7a-ac32-42d318e2efaa",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2a3d10ea-9972-4e63-a289-f79cfec66ac6",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        656
      ],
      "id": "dde1f2c6-6279-4918-9150-cb4594c8454b",
      "name": "Either Url or Keyword4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.metadata.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('Scrape a url and get its content4').item.json.data.markdown\n    // Remove HTML tags if present\n    .removeTags()\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.metadata.url }}",
              "type": "string"
            },
            {
              "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
              "name": "summary",
              "value": "={{ $('Scrape a url and get its content4').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "9573ac47-f760-4075-af1e-41774d546f60",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword3').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('Split Out1').item.json.published_date || $json.data.metadata.citation_publication_date || $('Scrape a url and get its content4').item.json.data.metadata['cXenseParse:publishtime'] || $('Scrape a url and get its content4').item.json.data.metadata.publishedTime || $('Scrape a url and get its content4').item.json.data.metadata.publishedTime || $('Scrape a url and get its content4').item.json.data.metadata['article:published_time'] }}\n\n",
              "type": "string"
            },
            {
              "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
              "name": "source",
              "value": "Tavily",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        1184
      ],
      "id": "a17b311d-746b-446d-8540-044898c5ce43",
      "name": "tavily search fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('RSS Read').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $json.data.markdown    \n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Replace multiple newlines with a single newline\n    .replace(/\\n{2,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RSS Read').item.json.link }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('RSS Read').item.json['content:encodedSnippet'] || $('RSS Read').item.json.summary || $('RSS Read').item.json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('Limit5').item.json.property_rss_feed || $('sources').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('RSS Read').item.json.pubDate || $('Scrape a url and get its content2').item.json.data.metadata.publishedTime || $('Scrape a url and get its content2').item.json.data.metadata.publishedTime || $('Scrape a url and get its content2').item.json.data.metadata['article:published_time'] }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "RSS",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        640
      ],
      "id": "16739c79-2285-489b-a760-1b7dc87db4b2",
      "name": "RSS search fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ $('X fields1').item.json.content }}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('X fields1').item.json.url }}",
              "type": "string"
            },
            {
              "id": "0276c4d6-4a0f-49c5-95e1-9cece3690cc8",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "9573ac47-f760-4075-af1e-41774d546f60",
              "name": "search_query",
              "value": "={{ $('X fields1').item.json.search_query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('X fields1').item.json.publication_date }}",
              "type": "string"
            },
            {
              "id": "156a551e-8b0b-49ae-9543-4337fd48f33f",
              "name": "source",
              "value": "X",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        2640
      ],
      "id": "c0816398-419c-4c69-a4e4-833d835f16b4",
      "name": "Twitter/ X post fields1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4834c8f-ac22-4c1c-a063-cb013a7551e1",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "32dabcd5-3ab3-4db6-aa40-4b95ac34bc83",
              "name": "content",
              "value": "=Content:\n{{ $('Instagram profile scraper').item.json.caption }}\n\nSingle image Description:\n{{ $('Merge2').item.json.image }}\n\nVideo Analysis:\n{{ $('Merge2').item.json.video }}\n\nMultiple image Description:\n{{ $('Merge2').item.json.sidecar }}",
              "type": "string"
            },
            {
              "id": "534a78cb-d400-4d1d-8a6b-183e66484257",
              "name": "url",
              "value": "={{ $('Instagram profile scraper').item.json.url }}",
              "type": "string"
            },
            {
              "id": "d508784a-e41d-4ea9-8871-c8759b9bef5a",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "5d3ea0be-c893-4a29-a9b4-4b5fe7b2bde0",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword1').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "5a9c9207-b078-4fbc-88d9-c2e8fa2a2fed",
              "name": "publication_date",
              "value": "={{ $('Instagram profile scraper').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "c1a6a0ce-b44f-4ef6-9742-fc87d628f391",
              "name": "source",
              "value": "Instagram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        3344
      ],
      "id": "8d816730-8eac-4ee3-9ba6-e9e30f17a854",
      "name": "Instagram profile scraper fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43ef6d98-1769-479a-ab8a-0f9d4d543ce6",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "014cb7eb-9846-4c41-8cee-4a809250264e",
              "name": "content",
              "value": "={{ $('linkedin fields1').item.json.content }}",
              "type": "string"
            },
            {
              "id": "b2be53b4-3451-4aeb-be78-c71beb7a8178",
              "name": "url",
              "value": "={{ $('linkedin fields1').item.json.url }}",
              "type": "string"
            },
            {
              "id": "54293f71-70d3-40d0-9f40-19de090bcd63",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "ce7b5d35-72b2-4f82-8744-f1643dd958eb",
              "name": "search_query",
              "value": "={{ $('linkedin fields1').item.json.search_query }}",
              "type": "string"
            },
            {
              "id": "db4f55e1-7247-4206-a654-e5d314dbd40b",
              "name": "publication_date",
              "value": "={{ $('linkedin fields1').item.json.publication_date }}",
              "type": "string"
            },
            {
              "id": "cdb58557-3653-4500-943e-71ea35ec0f27",
              "name": "source",
              "value": "LinkedIn",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        2000
      ],
      "id": "c667dc79-8d0d-45c2-9b17-9e86817da67b",
      "name": "Linkedin post search scraper fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        1840
      ],
      "id": "c6e8637d-8bcb-4f4d-8489-50a123311b40",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        3104
      ],
      "id": "a03ad977-1522-4635-8109-9c77dc271a48",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        2512
      ],
      "id": "aab186cf-9c90-43f0-8deb-fb4577f9146d",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -400,
        880
      ],
      "id": "2b1cc9c8-d6d2-49b2-8dbf-952191baa37d",
      "name": "Limit5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e532ff2-3eee-4984-88ef-3cc30f2e6bdf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        656
      ],
      "id": "9556c503-561e-4c93-b9fa-5feb78668baa",
      "name": "If Not Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f1fd4a3-670d-4861-af5b-bc94fa454574",
              "name": "failed_url",
              "value": "={{ $('RSS Read').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        768
      ],
      "id": "4501cd47-a4a3-49e3-b5b4-b349c74cf478",
      "name": "failed urls",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3216,
        848
      ],
      "id": "c7597688-e58c-4875-83d3-f6afba3f6be7",
      "name": "Merge7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "=content",
              "value": "={{ \n  $('Markdown1').item.json.linebreak    \n    // Remove everything before the main article title (remove navigation/header)\n    .replace(/^[\\s\\S]*?(?=\\n[A-Z][^\\n]{20,}\\n)/m, '')\n    // Remove author bios (e.g., \"Name Name is a freelance writer...\")\n    .replace(/\\n[A-Z][a-z]+\\s+[A-Z][a-z]+\\s+is\\s+(a|an)\\s+[\\s\\S]*?(?=\\n[A-Z]|$)/gi, '')\n    // Remove comment sections\n    .replace(/\\n(Leave a Reply|Leave a Comment)[\\s\\S]*$/i, '')\n    .replace(/\\nYour email address[\\s\\S]*$/i, '')\n    .replace(/\\nComment\\s*\\\\?\\*[\\s\\S]*$/i, '')\n    // Remove \"This site uses Akismet\" and everything after\n    .replace(/\\nThis site uses[\\s\\S]*$/i, '')\n    // Remove social/footer sections\n    .replace(/\\n(Follow Us|Check Out Our|About Us|Fuel News Center|Search Site|Energy News|Grab Our Free|Proudly powered by)[\\s\\S]*$/i, '')\n    // Remove footers (common patterns)\n    .replace(/\\n(Share this:|Related Posts?:|Tags?:|Categories:|Filed Under:|About the Author|Subscribe|Newsletter|Follow us)[\\s\\S]*$/i, '')\n    // Remove navigation lists (lines starting with * followed by capitalized words)\n    .replace(/(^|\\n)\\s*\\*\\s+[A-Z][^\\n]*(\\n\\s*\\*\\s+[A-Z][^\\n]*)*/g, '')\n    // Remove \"Search for:\" and similar patterns\n    .replace(/\\n(Search for:|Submit Press Release|Free ebook|Green Job Board).*$/gm, '')\n    // Remove date/author lines (e.g., \"October 21, 2025 By Author Name\")\n    .replace(/\\n[A-Z][a-z]+\\s+\\d{1,2},\\s+\\d{4}\\s+By\\s+[^\\n]+\\n/g, '\\n')\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers (but keep the text)\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Remove lines that are just navigation/menu items (short capitalized lines)\n    .replace(/\\n[A-Z][a-z\\s]{2,30}\\n(?=[A-Z])/g, '\\n')\n    // Remove escaped characters\n    .replace(/\\\\([*_\\[\\](){}])/g, '$1')\n    // Remove special symbols like Δ\n    .replace(/Δ/g, '')\n    // Remove short trailing lines (likely footer fragments)\n    .replace(/\\n[^\\n]{1,40}$/g, '')\n    // Replace multiple newlines with double newline for paragraphs\n    .replace(/\\n{3,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}\n",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RSS Read').item.json.link }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword4').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('extract date1').item.json.publishedDate }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "RSS",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        752
      ],
      "id": "8b1b469f-f264-4760-8e79-42aa350e7223",
      "name": "format content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e532ff2-3eee-4984-88ef-3cc30f2e6bdf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        1200
      ],
      "id": "fbd45584-344f-414d-a0fd-8dc12ac29a4d",
      "name": "If Not Error2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3344,
        1296
      ],
      "id": "e478a6e7-b09b-4641-97fa-a97f5861d728",
      "name": "Merge8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f5d0405-44b1-4f2d-8c24-9a3c2efe4520",
              "name": "url_or_keyword",
              "value": "={{ $('Split Out1').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        1312
      ],
      "id": "ecd976ea-ea0d-4c97-90ab-2107c40a4232",
      "name": "failed url1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ \n  $('Markdown6').item.json.linebreak    \n    // Remove everything before the main article title (remove navigation/header)\n    .replace(/^[\\s\\S]*?(?=\\n[A-Z][^\\n]{20,}\\n)/m, '')\n    // Remove author bios (e.g., \"Name Name is a freelance writer...\")\n    .replace(/\\n[A-Z][a-z]+\\s+[A-Z][a-z]+\\s+is\\s+(a|an)\\s+[\\s\\S]*?(?=\\n[A-Z]|$)/gi, '')\n    // Remove comment sections\n    .replace(/\\n(Leave a Reply|Leave a Comment)[\\s\\S]*$/i, '')\n    .replace(/\\nYour email address[\\s\\S]*$/i, '')\n    .replace(/\\nComment\\s*\\\\?\\*[\\s\\S]*$/i, '')\n    // Remove \"This site uses Akismet\" and everything after\n    .replace(/\\nThis site uses[\\s\\S]*$/i, '')\n    // Remove social/footer sections\n    .replace(/\\n(Follow Us|Check Out Our|About Us|Fuel News Center|Search Site|Energy News|Grab Our Free|Proudly powered by)[\\s\\S]*$/i, '')\n    // Remove footers (common patterns)\n    .replace(/\\n(Share this:|Related Posts?:|Tags?:|Categories:|Filed Under:|About the Author|Subscribe|Newsletter|Follow us)[\\s\\S]*$/i, '')\n    // Remove navigation lists (lines starting with * followed by capitalized words)\n    .replace(/(^|\\n)\\s*\\*\\s+[A-Z][^\\n]*(\\n\\s*\\*\\s+[A-Z][^\\n]*)*/g, '')\n    // Remove \"Search for:\" and similar patterns\n    .replace(/\\n(Search for:|Submit Press Release|Free ebook|Green Job Board).*$/gm, '')\n    // Remove date/author lines (e.g., \"October 21, 2025 By Author Name\")\n    .replace(/\\n[A-Z][a-z]+\\s+\\d{1,2},\\s+\\d{4}\\s+By\\s+[^\\n]+\\n/g, '\\n')\n    // Remove Markdown headers (e.g., #, ##, ###)\n    .replace(/(^|\\n)#+\\s?/g, '\\n')\n    // Remove bold and italics (**text**, *text*, __text__, _text_)\n    .replace(/(\\*\\*|__)(.*?)\\1/g, '$2')\n    .replace(/(\\*|_)(.*?)\\1/g, '$2')\n    // Remove inline code and code blocks\n    .replace(/`{1,3}[^`]*`{1,3}/g, '')\n    // Remove images ![alt](url)\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n    // Replace links [text](url) with just text\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n    // Remove blockquotes\n    .replace(/(^|\\n)>\\s?/g, '\\n')\n    // Remove unordered and ordered list markers (but keep the text)\n    .replace(/(^|\\n)[\\*\\-\\+]\\s+/g, '\\n')\n    .replace(/(^|\\n)\\d+\\.\\s+/g, '\\n')\n    // Remove lines that are just navigation/menu items (short capitalized lines)\n    .replace(/\\n[A-Z][a-z\\s]{2,30}\\n(?=[A-Z])/g, '\\n')\n    // Remove escaped characters\n    .replace(/\\\\([*_\\[\\](){}])/g, '$1')\n    // Remove special symbols like Δ\n    .replace(/Δ/g, '')\n    // Remove short trailing lines (likely footer fragments)\n    .replace(/\\n[^\\n]{1,40}$/g, '')\n    // Replace multiple newlines with double newline for paragraphs\n    .replace(/\\n{3,}/g, '\\n\\n')\n    // Trim whitespace\n    .trim()\n}}\n\n",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('failed url1').item.json.url_or_keyword }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "da6884f3-275c-41e7-87c5-c20fb29e9419",
              "name": "search_query",
              "value": "={{ $('Search').item.json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ $('extract date').item.json.publishedDate }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "=Tavily",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        1312
      ],
      "id": "0312fd1a-a9d0-429b-b0ea-826f61f4cda4",
      "name": "https fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "53df6988-fe46-4734-ab7c-744879729cd3",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1408,
        1808
      ],
      "id": "505c6ee3-461f-4237-b2e3-75516e02b53f",
      "name": "Filter out empty content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c429f5e6-79cc-4db2-8d8c-cee051943346",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1472,
        2496
      ],
      "id": "faccd7e5-87e0-4c9a-ac9a-70624c250b4f",
      "name": "Filter out empty content1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ef2c27-8157-47fc-a348-9b34481bd702",
              "leftValue": "={{ $('Instagram profile scraper').item.json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "80f33847-c2d2-4ee6-bbfe-aed53aa91ae6",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2272,
        3184
      ],
      "id": "268c66d9-6897-4463-aae6-78e2976f123e",
      "name": "Filter out empty content2"
    },
    {
      "parameters": {
        "url": "={{ $json.failed_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        768
      ],
      "id": "64dc51da-f6bc-4970-8953-f3746ee6febd",
      "name": "extract content",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url_or_keyword }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        1312
      ],
      "id": "88835d9e-7127-4ad2-8f5e-6df816f1ddff",
      "name": "extract content1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1152
      ],
      "id": "a62c3fe8-f50d-4758-901c-ea0569c5e67f",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efead37-57d8-4101-9010-c855f2525db6",
              "name": "url_or_keyword",
              "value": "={{ $json.property_name }}",
              "type": "string"
            },
            {
              "id": "7ca00974-25ef-4c7a-ac32-42d318e2efaa",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2a3d10ea-9972-4e63-a289-f79cfec66ac6",
              "name": "additional_formats",
              "value": "={{ $json.additional_formats }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        240
      ],
      "id": "8600bbf2-59a1-46cd-8bf9-a0f67f5b9964",
      "name": "Either Url or Keyword5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        224
      ],
      "id": "b4788524-3a82-42b8-be39-14d97c5a35a4",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -368,
        224
      ],
      "id": "d39aeaf9-3720-468b-bb6d-be57fd0a20fb",
      "name": "Limit7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7af449b-1b66-41eb-bd3c-8528f3a342e5",
              "leftValue": "={{ $json.markdown }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        736,
        384
      ],
      "id": "9ccbaf15-f5f3-4865-a308-7117f4fa9d51",
      "name": "markdown present?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a4785c0-cfab-8160-b859-f1992a8d67d8",
          "mode": "list",
          "cachedResultName": "Syntech Biofuel Mention Tracker",
          "cachedResultUrl": "https://www.notion.so/2a4785c0cfab8160b859f1992a8d67d8"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Article Name|title",
              "title": "={{ $('Remove Duplicates').item.json.title }}"
            },
            {
              "key": "Source URL|url",
              "urlValue": "={{ $('Remove Duplicates').item.json.url }}"
            },
            {
              "key": "Source|multi_select",
              "multiSelectValue": "={{ $('Merge').item.json.source }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Not Reviewed"
            },
            {
              "key": "Search Query|rich_text",
              "textContent": "={{ $('Merge').item.json.search_query }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $('Merge').item.json.summary }}"
            },
            {
              "key": "Own Analysis|rich_text",
              "textContent": "={{ $if($('Merge').isExecuted, $('Merge').item.json.prompt || '', '') }}"
            },
            {
              "key": "Publication Date|date",
              "date": "={{ $('Merge').item.json.publication_date.toDateTime() }}"
            },
            {
              "key": "Rating|select",
              "selectValue": "={{ $('Get Rating Formatted For Notion').item.json.output }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('Remove Duplicates').item.json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8704,
        2224
      ],
      "id": "e6fea667-757f-416c-a5c5-dc48f1da7c53",
      "name": "Add New Content Idea6",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "html": "={{ $('extract content1').item.json.data }}",
        "destinationKey": "linebreak",
        "options": {
          "bulletMarker": "*",
          "codeFence": "```",
          "emDelimiter": "_",
          "ignore": "a, link, nav, footer, header, script, style, table",
          "keepDataImages": false,
          "maxConsecutiveNewlines": 2,
          "useLinkReferenceDefinitions": false,
          "strongDelimiter": "**",
          "codeBlockStyle": "fence",
          "textReplace": {
            "values": [
              {
                "pattern": "\\[([^\\]]+)\\]\\([^)]+\\)",
                "replacement": "$1"
              },
              {
                "pattern": "\\s{2,}",
                "replacement": " "
              },
              {
                "pattern": "^\\s+|\\s+$"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2320,
        1312
      ],
      "id": "314fa5f3-e2bf-4323-bd37-7c3ccb4a167a",
      "name": "Markdown6"
    },
    {
      "parameters": {
        "html": "={{ $('extract content').item.json.data }}",
        "destinationKey": "linebreak",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2240,
        752
      ],
      "id": "6f1dd5ac-7698-4e55-8302-47fb752b3afe",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"extract content1\"].json[\"data\"];\n\n// Function to extract published date from various HTML patterns\nconst extractPublishedDate = (html) => {\n    if (!html) return null;\n    \n    // 1. Open Graph meta tags (most common)\n    let match = html.match(/<meta[^>]*property=[\"']article:published_time[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']article:published_time[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 2. Schema.org meta tags\n    match = html.match(/<meta[^>]*itemprop=[\"']datePublished[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*itemprop=[\"']datePublished[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 3. Standard meta name tags\n    const metaNames = [\n        'publishdate', 'publication-date', 'date', 'pubdate', 'publish_date',\n        'published-date', 'article.published', 'article:published',\n        'datePublished', 'dc.date', 'DC.date', 'dc.date.issued',\n        'sailthru.date', 'article.created', 'last-modified', 'created'\n    ];\n    \n    for (const name of metaNames) {\n        match = html.match(new RegExp(`<meta[^>]*name=[\"']${name}[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n        \n        match = html.match(new RegExp(`<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*name=[\"']${name}[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n    }\n    \n    // 4. JSON-LD structured data\n    const jsonLdMatch = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonLdMatch) {\n        for (const jsonBlock of jsonLdMatch) {\n            try {\n                const jsonContent = jsonBlock.replace(/<script[^>]*>|<\\/script>/gi, '').trim();\n                const data = JSON.parse(jsonContent);\n                \n                // Handle both single objects and arrays\n                const items = Array.isArray(data) ? data : [data];\n                \n                for (const item of items) {\n                    if (item.datePublished) return item.datePublished;\n                    if (item.publishedDate) return item.publishedDate;\n                    if (item.dateCreated) return item.dateCreated;\n                    if (item.article?.datePublished) return item.article.datePublished;\n                }\n            } catch (e) {\n                // Continue if JSON parsing fails\n            }\n        }\n    }\n    \n    // 5. Time tags with datetime attribute\n    match = html.match(/<time[^>]*datetime=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 6. Data attributes\n    match = html.match(/data-published[-_]?(?:time|date)=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/data-date=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 7. Twitter card meta tags\n    match = html.match(/<meta[^>]*name=[\"']twitter:data1[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1] && /\\d{4}/.test(match[1])) return match[1];\n    \n    // 8. Specific publisher formats\n    // WordPress\n    match = html.match(/<abbr[^>]*class=[\"'][^\"']*published[\"'][^>]*title=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // Medium\n    match = html.match(/data-post-published-at=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 9. Look for ISO date patterns in the HTML (last resort)\n    // Matches formats like: 2024-01-15, 2024-01-15T10:30:00, etc.\n    const isoDateMatch = html.match(/\\b(20\\d{2}[-\\/](0[1-9]|1[0-2])[-\\/](0[1-9]|[12]\\d|3[01])(?:T[\\d:]+(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?)?)\\b/);\n    if (isoDateMatch?.[1]) return isoDateMatch[1];\n    \n    return null;\n};\n\n// Extract the published date\nconst publishedDate = extractPublishedDate(htmlContent);\n\n// Return the result\nreturn {\n    publishedDate: publishedDate\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        1312
      ],
      "id": "4c0e0c60-b612-488d-a57e-c42a548e878e",
      "name": "extract date"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"extract content\"].json[\"data\"];\n\n// Function to extract published date from various HTML patterns\nconst extractPublishedDate = (html) => {\n    if (!html) return null;\n    \n    // 1. Open Graph meta tags (most common)\n    let match = html.match(/<meta[^>]*property=[\"']article:published_time[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*property=[\"']article:published_time[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 2. Schema.org meta tags\n    match = html.match(/<meta[^>]*itemprop=[\"']datePublished[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*itemprop=[\"']datePublished[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 3. Standard meta name tags\n    const metaNames = [\n        'publishdate', 'publication-date', 'date', 'pubdate', 'publish_date',\n        'published-date', 'article.published', 'article:published',\n        'datePublished', 'dc.date', 'DC.date', 'dc.date.issued',\n        'sailthru.date', 'article.created', 'last-modified', 'created'\n    ];\n    \n    for (const name of metaNames) {\n        match = html.match(new RegExp(`<meta[^>]*name=[\"']${name}[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n        \n        match = html.match(new RegExp(`<meta[^>]*content=[\"']([^\"']+)[\"'][^>]*name=[\"']${name}[\"'][^>]*>`, 'i'));\n        if (match?.[1]) return match[1];\n    }\n    \n    // 4. JSON-LD structured data\n    const jsonLdMatch = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi);\n    if (jsonLdMatch) {\n        for (const jsonBlock of jsonLdMatch) {\n            try {\n                const jsonContent = jsonBlock.replace(/<script[^>]*>|<\\/script>/gi, '').trim();\n                const data = JSON.parse(jsonContent);\n                \n                // Handle both single objects and arrays\n                const items = Array.isArray(data) ? data : [data];\n                \n                for (const item of items) {\n                    if (item.datePublished) return item.datePublished;\n                    if (item.publishedDate) return item.publishedDate;\n                    if (item.dateCreated) return item.dateCreated;\n                    if (item.article?.datePublished) return item.article.datePublished;\n                }\n            } catch (e) {\n                // Continue if JSON parsing fails\n            }\n        }\n    }\n    \n    // 5. Time tags with datetime attribute\n    match = html.match(/<time[^>]*datetime=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // 6. Data attributes\n    match = html.match(/data-published[-_]?(?:time|date)=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    match = html.match(/data-date=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 7. Twitter card meta tags\n    match = html.match(/<meta[^>]*name=[\"']twitter:data1[\"'][^>]*content=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1] && /\\d{4}/.test(match[1])) return match[1];\n    \n    // 8. Specific publisher formats\n    // WordPress\n    match = html.match(/<abbr[^>]*class=[\"'][^\"']*published[\"'][^>]*title=[\"']([^\"']+)[\"'][^>]*>/i);\n    if (match?.[1]) return match[1];\n    \n    // Medium\n    match = html.match(/data-post-published-at=[\"']([^\"']+)[\"']/i);\n    if (match?.[1]) return match[1];\n    \n    // 9. Look for ISO date patterns in the HTML (last resort)\n    // Matches formats like: 2024-01-15, 2024-01-15T10:30:00, etc.\n    const isoDateMatch = html.match(/\\b(20\\d{2}[-\\/](0[1-9]|1[0-2])[-\\/](0[1-9]|[12]\\d|3[01])(?:T[\\d:]+(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?)?)\\b/);\n    if (isoDateMatch?.[1]) return isoDateMatch[1];\n    \n    return null;\n};\n\n// Extract the published date\nconst publishedDate = extractPublishedDate(htmlContent);\n\n// Return the result\nreturn {\n    publishedDate: publishedDate\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        752
      ],
      "id": "2c63f0c7-fb5d-4e21-9177-de3d0a346e87",
      "name": "extract date1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a8264bf-82d2-434f-b146-3b8deb76e519",
              "name": "title",
              "value": "={{ $('Merge').item.json.title }}",
              "type": "string"
            },
            {
              "id": "dfdf1695-e69f-4cff-a8f0-21d9da07745b",
              "name": "content",
              "value": "={{ ($('Merge').item.json.content || '').substring(0, 49000) }}",
              "type": "string"
            },
            {
              "id": "4899f665-2f29-41df-afea-d8a744a6fec9",
              "name": "url",
              "value": "={{ $('Merge').item.json.url }}",
              "type": "string"
            },
            {
              "id": "ec8500c3-9d57-45d3-b1a9-2de1706dee8d",
              "name": "summary",
              "value": "={{ $('Merge').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "0c470796-e8e2-4605-a6af-9e8236d9635c",
              "name": "search_query",
              "value": "={{ $('Merge').item.json.search_query }}",
              "type": "string"
            },
            {
              "id": "4d34103a-b327-42cc-8e50-dec38a8fc1f5",
              "name": "publication_date",
              "value": "={{ $('Merge').item.json.publication_date }}",
              "type": "string"
            },
            {
              "id": "02065b1c-286c-4cf9-8709-27d8a766d2d1",
              "name": "prompt",
              "value": "={{ $('Merge').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "ef20184c-2ce1-4660-9658-fe12f9776f2d",
              "name": "additional_formats",
              "value": "={{ $('Merge').item.json.additional_formats }}",
              "type": "string"
            },
            {
              "id": "5a5e80cb-0ad3-4e06-86f8-63e9e59765fd",
              "name": "source",
              "value": "={{ $('Merge').item.json.source }}",
              "type": "string"
            },
            {
              "id": "61574df1-c16c-42df-9b9b-ebe428bd7eae",
              "name": "mode",
              "value": "={{ $('Merge').item.json.mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        1232
      ],
      "id": "4b585547-5bda-42f7-81e5-56da9ec09105",
      "name": "select fields"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "3ox4R101TgZz67sLr",
          "mode": "list",
          "cachedResultName": "RAG Web Browser (apify/rag-web-browser)",
          "cachedResultUrl": "https://console.apify.com/actors/3ox4R101TgZz67sLr/input"
        },
        "customBody": "={\n    \"debugMode\": false,\n    \"maxResults\": 10,\n    \"outputFormats\": [\n        \"markdown\"\n    ],\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"query\": \"{{ $json.url_or_keyword + \" after:\" + $now.minus({days: 5}).toFormat('yyyy-MM-dd') }}\",\n    \"removeCookieWarnings\": true,\n    \"requestTimeoutSecs\": 40\n}\n",
        "timeout": "=300",
        "memory": 2048
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        464,
        384
      ],
      "id": "d46166c0-b722-4b84-bf1d-f05ed51b450a",
      "name": "RAG Web - Keyword Search",
      "credentials": {
        "apifyApi": {
          "id": "pN4sIDcrSkK5a4dY",
          "name": "Apify tariq"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d34aa6b-dce8-4761-9a9a-a663f61a86ac",
              "name": "title",
              "value": "={{ $('RAG Web - Keyword Search').item.json.metadata.title }}",
              "type": "string"
            },
            {
              "id": "ab5c9158-a33a-4f8f-b6d0-a6787df0f0d5",
              "name": "content",
              "value": "={{ $('RAG Web - Keyword Search').item.json.markdown }}",
              "type": "string"
            },
            {
              "id": "f0c15fc7-071d-406d-8200-abecbf458836",
              "name": "url",
              "value": "={{ $('RAG Web - Keyword Search').item.json.searchResult.url }}",
              "type": "string"
            },
            {
              "id": "81fb049e-bbc7-49f8-b932-9f2d3ae0305d",
              "name": "summary",
              "value": "={{ $('RAG Web - Keyword Search').item.json.metadata.description ||$('RAG Web - Keyword Search').item.json.searchResult.description || $('RAG Web - Keyword Search').item.json.metadata.description }}\n\n",
              "type": "string"
            },
            {
              "id": "39872c24-4acc-4513-b7fb-7689cd511afb",
              "name": "search_query",
              "value": "={{ $('RAG Web - Keyword Search').item.json.query }}",
              "type": "string"
            },
            {
              "id": "42852696-c7af-4ce4-a273-e61970ef2e8f",
              "name": "publication_date",
              "value": "={{ (()=>{\n  const s = $('RAG Web - Keyword Search').item.json.searchResult.description ?? '';\n  const m = s.match(/\\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Sept|Oct|Nov|Dec)[a-z]*\\s+\\d{1,2},\\s+\\d{4}\\b/i);\n  return m ? m[0] : null;\n})() }}",
              "type": "string"
            },
            {
              "id": "a0b9d46b-67d2-4152-b1fa-2306fa5751e4",
              "name": "source",
              "value": "Website",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        384
      ],
      "id": "96205099-db3d-43ac-80ef-f21ab495ca0f",
      "name": "RAG Web - Keyword Search1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        640
      ],
      "id": "c6e47af2-355c-4de2-a8dc-9851e67fa590",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "URL"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7472,
        1072
      ],
      "id": "1b497c29-e9fc-49cc-a2fb-aa771a7a1d4b",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4061f412-99c2-4549-9d2e-be355aa6a5bb",
              "name": "url",
              "value": "={{ $('select fields').item.json.url }}",
              "type": "string"
            },
            {
              "id": "60a2488f-d96c-4c21-94f1-6f627e9c99ae",
              "name": "title",
              "value": "={{ $('select fields').item.json.title }}",
              "type": "string"
            },
            {
              "id": "30183727-5e80-401c-a728-37da12a2054b",
              "name": "content",
              "value": "={{ $('select fields').item.json.content }}",
              "type": "string"
            },
            {
              "id": "ac7fb376-710f-43b5-9ff8-c3de8dc4f0ff",
              "name": "publication_date",
              "value": "={{ $('select fields').item.json.publication_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7264,
        976
      ],
      "id": "083bd74b-7be4-46eb-bcb6-272f8b612ff4",
      "name": "Set Google Sheet Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7264,
        1168
      ],
      "id": "6a70f710-5563-43c7-9873-5067b24aa714",
      "name": "Get All Ideas From Evaluation Table2",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TvN6HmHHfgKukni4",
          "name": "Stephen Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1a433e2-115c-4f9c-a258-7731b132de1c",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4784,
        1152
      ],
      "id": "13fda8a5-7f0f-42ca-8c88-f973b6af9c9d",
      "name": "is content empty?"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        4992,
        1152
      ],
      "id": "aa7539b0-ce72-4414-8ba3-5139796a564f",
      "name": "Remove Duplicates3"
    },
    {
      "parameters": {
        "maxItems": 1000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1248,
        1104
      ],
      "id": "dc2bc078-8569-4a65-af54-2c93f539dccb",
      "name": "Limit1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27a785c0-cfab-807b-b5eb-e1214e18960d",
          "mode": "list",
          "cachedResultName": "Syntech Biofuels Static Sources",
          "cachedResultUrl": "https://www.notion.so/27a785c0cfab807bb5ebe1214e18960d"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5472,
        848
      ],
      "id": "ff8a9ea4-fe63-43fe-b3bb-6d4a36566f31",
      "name": "Get All Sources1",
      "credentials": {
        "notionApi": {
          "id": "v7nNI35XIwsY1JzB",
          "name": "Syntech.granite"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6016,
        1056
      ],
      "id": "db661b49-f530-4682-913e-9026afeb08df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <introduction>\n        You are an expert evaluator of sustainability and renewable fuel content.\n        Your new role is to perform **targeted sentiment analysis**, assessing the overall **sentiment (positive, negative, or neutral)** expressed about **Syntech Biofuel** in any given article or content piece.\n        Assign a **sentiment score from 0 (very negative) to 5 (very positive)**, reflecting the tone expressed towards Syntech Biofuel specifically, using best practices for sentiment analysis.\n    </introduction>\n    <task>\n        Assess **all statements specifically about Syntech Biofuel** in the article.\n        - If Syntech Biofuel is not mentioned, always assign a neutral score.\n        - Weigh overall sentiment: consider both positive and negative aspects when present, and use domain expertise to assign the most appropriate score.\n        - Ignore sentiment about the broader sector, UK policy, or competitors unless Syntech Biofuel is expressly referenced in the same context.\n        Output only the following JSON object, nothing else:\n        {\"score\": number, \"reason\": \"short factual explanation\"}\n    </task>\n    <sentiment_scoring_criteria>\n        **0 — Very Negative:** Clear criticism or strongly negative opinion about Syntech (e.g., major failures, scandals, poor innovation, public backlash).\n        **1 — Negative:** Negative or mildly critical sentiment about Syntech (e.g., minor setbacks, negative comparisons, disappointing results).\n        **2 — Slightly Negative:** Subtle or slight negativity, or muted criticism (e.g., minor concerns, tepid commentary).\n        **3 — Neutral:** No explicit opinion, just factual/brief mention, or genuinely balanced/mixed sentiment. Also use if Syntech Biofuel is not mentioned at all.\n        **4 — Positive:** Generally positive tone or minor praise about Syntech (e.g., being recognized for progress, improving operations, successful minor projects).\n        **5 — Very Positive:** Strong praise, endorsement, or highly favorable coverage (e.g., major breakthrough, award-wins, industry leadership attributed to Syntech).\n    </sentiment_scoring_criteria>\n    <steps>\n        1. **Read the entire article or excerpt.**\n        2. **Extract all statements about Syntech Biofuel** (ignore sentiment not about Syntech).\n        3. **Identify the tone** of these statements (positive, negative, neutral, or mixed).\n        4. **Assign a score** from 0 to 5 based on the overall sentiment expressed about Syntech.\n        5. If Syntech Biofuel is *not mentioned*, always assign 3 (neutral).\n        6. Provide a concise factual reason for your assigned sentiment in the `reason` field.\n        7. Output the result as a JSON object: {\"score\": number, \"reason\": \"short factual explanation\"}.\n        8. Output nothing else.\n    </steps>\n    <restrictions>\n        * Only evaluate sentiment about Syntech Biofuel itself.\n        * Ignore statements unrelated to Syntech Biofuel.\n        * Keep the `reason` concise (1–2 sentences max).\n        * Do not output keyword lists, scoring chains, markdown, or commentary—**only** the specified JSON.\n    </restrictions>\n    <output_example>\n        {\"score\": 5, \"reason\": \"The article highlights Syntech Biofuel as the leader in UK circular biofuel innovation and praises its recent breakthrough.\"}\n    </output_example>\n    <output_rules>\n        Output the JSON only. Do not output anything else.\n    </output_rules>\n</prompt>"
            }
          ]
        },
        "batching": {
          "batchSize": 10,
          "delayBetweenBatches": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        6016,
        880
      ],
      "id": "0cbfeb1f-c729-429d-be0a-1ea66a37f017",
      "name": "Classification agent with Batch1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment_score\": {\n      \"type\": \"integer\",\n      \"description\": \"Sentiment score from 0 (very negative) to 5 (very positive) reflecting the overall sentiment expressed about Syntech Biofuel in the article. Use 3 for neutral or if Syntech Biofuel is not mentioned.\",\n      \"minimum\": 0,\n      \"maximum\": 5\n    },\n    \"reason\": {\n      \"type\": \"string\",\n      \"description\": \"Short factual explanation for the assigned sentiment score (1-2 sentences maximum), focusing only on statements about Syntech Biofuel.\"\n    }\n  },\n  \"required\": [\"score\", \"reason\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6192,
        1056
      ],
      "id": "772666f7-84f4-49ed-92a9-5c86140821b0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.linebreak }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2464,
        752
      ],
      "id": "8188ca28-0432-4968-bc29-c2b6c6d4af34",
      "name": "Create summary and title"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        928
      ],
      "id": "f557cdc5-dbcc-44af-9f32-951ff32ce95c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2640,
        912
      ],
      "id": "d2ea0761-56cd-49f3-9215-e486a558dc1f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.linebreak }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2656,
        1312
      ],
      "id": "8e0dc135-30cf-4b10-ba72-8c7aea870655",
      "name": "Create summary and title2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2656,
        1488
      ],
      "id": "086acb86-43a7-42ce-92c3-5bb4d3bf90b3",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2816,
        1488
      ],
      "id": "b18a9c3a-e958-4b37-ab6a-49a07bceeafd",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.content }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1728,
        1728
      ],
      "id": "9afd3128-bae5-4902-b3a6-db1224cc56b8",
      "name": "Create summary and title3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        1904
      ],
      "id": "6839f03c-06f9-4155-8887-e7d76b9bfdd3",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1904,
        1888
      ],
      "id": "a523a349-903e-48ea-bfb6-8db6c59a6c6c",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $json.content }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1728,
        2496
      ],
      "id": "7abee571-8c2b-4250-bca4-82e701ca4bab",
      "name": "Create summary and title4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        2672
      ],
      "id": "9190df62-6eb8-44a7-91a1-44cb0d7fddf2",
      "name": "OpenAI Chat Model10",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1904,
        2656
      ],
      "id": "670da68d-2473-493e-a7c0-5510562f24fc",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<content>\n{{ $('Instagram profile scraper').item.json.caption }}\n</content>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <task>\n        Your primary tasks are to analyze provided content and then generate a JSON object containing two key-value pairs:\n        1.  **title:** A compelling, benefit-driven title.\n        2.  **summary:** A concise and powerful summary of the key information.\n    </task>\n    \n    <steps>\n        1.  Thoroughly review all the key information provided.\n        2.  Identify the most critical benefits for the target audience (businesses with vehicle fleets, construction machinery, etc.).\n        3.  Distill this information into a clear, engaging summary, adhering strictly to the word count limit.\n        4.  Craft a short, impactful title that grabs attention and highlights the primary value proposition.\n        5.  Format the final output as a single JSON object.\n    </steps>\n\n    <restrictions>\n        - **Summary Word Count:** DO NOT exceed 50 words for the summary.\n        - **Tone:** AVOID jargon where possible. Focus on clear business benefits.\n        - **Clarity:** Ensure the 'drop-in' nature (no engine modification) is communicated as a key advantage of simplicity.\n        - **JSON Formatting:** The final output must be a single, valid JSON object enclosed in a markdown code block. Do not include any text before or after the JSON object.\n    </restrictions>\n\n    <output_rules>\n        - **Format:** A raw JSON object.\n        - **Keys:** The JSON object must contain exactly two keys: `title` and `summary`.\n        - **Values:** The values for both keys must be strings.\n        - **Tone:** The content of the strings must be professional, confident, and inspiring.\n    </output_rules>\n\n    <examples>\n        ### Example 1\n        **Input Content:** A press release detailing the launch of Syntech ASB and its ISCC certification.\n        **Output:**\n        ```json\n        {\n          \"title\": \"Immediately Cut Carbon Emissions by 90% with UK-Made Biofuel\",\n          \"summary\": \"Syntech ASB is a UK-made, ISCC-certified biofuel from 100% used cooking oil. As a simple drop-in fuel for any diesel engine, it helps businesses instantly reduce carbon emissions by up to 90% and meet Net Zero targets without new investment.\"\n        }\n        ```\n    </examples>\n\n</prompt>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2480,
        3184
      ],
      "id": "ee9d16d9-94af-492a-b059-cbbaf5dadba9",
      "name": "Create summary and title5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2496,
        3360
      ],
      "id": "3af5a8d9-7837-4447-a719-b8057f2b4ace",
      "name": "OpenAI Chat Model11",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling, benefit-driven title\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary (max 50 words)\"\n    }\n  },\n  \"required\": [\"title\", \"summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2656,
        3344
      ],
      "id": "36d0d103-63ec-4987-8871-c1ef14904f7c",
      "name": "Structured Output Parser11"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI",
          "mode": "list",
          "cachedResultName": "Syntech Evaluation Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGxbB-WIk_Ycv8W0iH7dXUo6ESu67ZqLNFhXB8w3-AI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Publication Date": "={{ $json.publication_date }}",
            "URL": "={{ $json.url }}",
            "Title": "={{ $json.title }}",
            "Content": "={{ $json.content }}",
            "Actual Score": "={{ $('Classification agent with Batch1').item.json.message.content.relevance_score }}",
            "AI Reasoning": "={{ $('Classification agent with Batch1').item.json.message.content.reasoning }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publication Date",
              "displayName": "Publication Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Score",
              "displayName": "Actual Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected Score",
              "displayName": "Expected Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Human Reasoning",
              "displayName": "Human Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Reasoning",
              "displayName": "AI Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7680,
        1072
      ],
      "id": "709b60f1-086d-4aa2-b4a9-11e608bd4c7b",
      "name": "Add Content Idea to Evaluation Table1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TvN6HmHHfgKukni4",
          "name": "Stephen Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('Run Evaluation').item.json.Expected_Score }}",
        "actualAnswer": "={{ $('Classification agent with Batch1').item.json.output.relevance_score }}",
        "prompt": "=You are an expert evaluator assessing how closely an actual score matches the expected score.\n\nCompare the expected and actual scores numerically, then assign a final similarity rating from 0 to 5 according to the following scale:\n\n# Scoring Criteria\n- 5: Perfect match – actual and expected scores are identical.\n- 4: Very close – difference of 1 point.\n- 3: Somewhat close – difference of 2 points.\n- 2: Noticeably different – difference of 3 points.\n- 1: Highly different – difference of 4 points.\n- 0: Completely misaligned or invalid comparison – difference greater than 4 or one score missing.\n\n# Output Format\nOnly output the final score in strict JSON format as follows:\n{\n  \"score\": <integer from 0 to 5>\n}\n\nDo not include any reasoning, explanation, or additional text.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        6896,
        784
      ],
      "id": "15082a9a-8989-4c7e-8664-3cd200580665",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7008,
        944
      ],
      "id": "38eb0fa9-02e7-4c3b-b351-fade1482b3bb",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0de21055-4554-4c15-9071-4c7a32560eae",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "d7e8711b-7f7c-487e-8aae-afa5d6132cec",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "69a2c6ec-5340-4ef4-8dbb-c9bb1d945bfe",
              "name": "publication_date",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "b3af0d59-d4e0-4dde-8bfc-6716e11d9089",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        2496
      ],
      "id": "af1fd79f-3ebc-429e-8540-b95274fdb5f5",
      "name": "X fields1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nfp1fpt5gUlBwPcor",
          "mode": "list",
          "cachedResultName": "Twitter (X.com) Scraper Unlimited: No Limits (apidojo/twitter-scraper-lite)",
          "cachedResultUrl": "https://console.apify.com/actors/nfp1fpt5gUlBwPcor/input"
        },
        "customBody": "={\n    \"customMapFunction\": \"(object) => { return {...object} }\",\n    \"includeSearchTerms\": false,\n    \"maxItems\": 25,\n    \"onlyImage\": false,\n    \"onlyQuote\": false,\n    \"onlyTwitterBlue\": false,\n    \"onlyVerifiedUsers\": false,\n    \"onlyVideo\": false,\n    \"searchTerms\": [\n        \"{{ $json.url_or_keyword }}\"\n    ],\n    \"sort\": \"Latest\",\n    \"tweetLanguage\": \"en\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        656,
        2496
      ],
      "id": "4a8f0759-2ff1-4f55-a0e0-dd7e6dfaf79d",
      "name": "Twitter/ X post scraper - keyword",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "396519b8-4746-4df0-b9be-38c3bb81c45b",
              "leftValue": "={{ $json.url }}",
              "rightValue": "x.com/syntechbiofuel/status",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1024,
        2496
      ],
      "id": "e155a103-51b0-4eb5-8f88-56c868fbea13",
      "name": "Filter Out Company Posts"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "buIWk2uOUzTmcLsuB",
          "mode": "list",
          "cachedResultName": "Linkedin Post Search Scraper (No Cookies) ⚡ $2 per 1k posts (harvestapi/linkedin-post-search)",
          "cachedResultUrl": "https://console.apify.com/actors/buIWk2uOUzTmcLsuB/input"
        },
        "customBody": "={\n    \"maxComments\": 0,\n    \"maxPosts\": 10,\n    \"maxReactions\": 0,\n    \"postedLimit\": \"month\",\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"searchQueries\": [\n        \"{{ $json.url_or_keyword }}\"\n    ],\n    \"sortBy\": \"date\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        640,
        1824
      ],
      "id": "695d693b-2e1b-452e-bf85-e06a47f3d6bb",
      "name": "Linkedin post search scraper",
      "credentials": {
        "apifyApi": {
          "id": "CtQfLZVS6CSwrUIV",
          "name": "Apify account stephen"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85711e61-d413-47d4-b046-f368cd9ea7e6",
              "name": "url",
              "value": "={{ $json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "3ecbaa12-9e7c-4210-adf3-8ae326daa833",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "b3e1beef-2b90-40f4-b275-f09998ec258b",
              "name": "publication_date",
              "value": "={{ $json.postedAt.date }}",
              "type": "string"
            },
            {
              "id": "bcd3d0bb-05f7-4e46-9292-c9f035648ba8",
              "name": "search_query",
              "value": "={{ $('Either Url or Keyword2').item.json.url_or_keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        1808
      ],
      "id": "9f879ffe-efae-442a-b828-5d8cc26d3aa2",
      "name": "linkedin fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a7bfb62-0b61-44dd-8174-d66d937886cc",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "syntech",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1168,
        1808
      ],
      "id": "39b17ce4-2d1f-4d72-b646-7d7145c319de",
      "name": "Mentions Syntech"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "247ed307-8463-4caa-9de5-e9455e7fff0e",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f09df063-615e-422c-adf7-644526f1ad7d",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "82027463-f683-403b-bec7-1d15ca9b53b7",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7264,
        1408
      ],
      "id": "cff66898-01cf-4c44-9925-ac187c8ee3f4",
      "name": "Has Content?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let output;\n\nswitch ($('Classification agent with Batch1').item.json.output.sentiment_score) {\n  case 0:\n    output = '0 - Very Negative'\n    break;\n  case 1:\n    output = '1 - Negative'\n  case 2:\n    output = '2 - Relatively Negative'\n  case 3:\n    output = '3 - Neutral'\n  case 4:\n    output = '4 - Relatively Positive'\n  case 5:\n    output = '5 - Very Positive'\n    break;\n  default:\n    output = '0 - Neutral'\n}\n\nreturn {\n  output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7680,
        1408
      ],
      "id": "e6dd9e61-d5ca-4e3f-8421-7f42ac0578a9",
      "name": "Get Rating Formatted For Notion"
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 120,
    "errorWorkflow": "Qsg1jSZ5AQScoAOn"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T11:25:52.719Z",
      "createdAt": "2025-12-11T11:25:52.719Z",
      "role": "workflow:owner",
      "workflowId": "3phrLTnbaoWq6KIv",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        282
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:03:23.958Z",
  "versionId": "7aed3a3a-db07-4950-9600-b72edff51dcd"
}