2025/12/🔀 Content Transformation Sub Workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Add Social Media Post2": {
      "main": [
        [
          {
            "node": "Set Notion Success2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Notion API Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Subflow Fields4": {
      "main": [
        [
          {
            "node": "Add Social Media Post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Content ": {
      "main": [
        [
          {
            "node": "Set Subflow Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Input": {
      "main": [
        [
          {
            "node": "Create Content ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Content ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T11:25:49.875Z",
  "id": "Q0I6VPMIgjgBFOKe",
  "isArchived": true,
  "meta": null,
  "name": "🔀 Content Transformation Sub Workflow",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kHT4VbspPLYRtK1F",
          "mode": "list",
          "cachedResultName": "🔀 Granite Marketing | Social Media Notion Limit Breaker | Sub Workflow"
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        800,
        1232
      ],
      "id": "12e4b0a1-3e2a-4e4c-8df4-032f89499ffe",
      "name": "Add Social Media Post2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Initial Input').item.json.initial_article }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Error: Notion API"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        1328
      ],
      "id": "98353e27-9b37-481d-9983-4bd6a9ad1bb5",
      "name": "Set Notion API Error2",
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Initial Input').first().json.initial_article }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Content Generated"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        1136
      ],
      "id": "c8c978b3-77ad-4171-9a30-41259d616a95",
      "name": "Set Notion Success2",
      "executeOnce": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "notionApi": {
          "id": "WaawMco9CQO56cmm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6abe9ac-2a7d-4ead-8b3f-93d8aef7fb54",
              "name": "transformed_content_db_id",
              "value": "={{ $('Initial Input').item.json.transformed_content_db_id }}",
              "type": "string"
            },
            {
              "id": "a13105d5-dca1-49dc-8fca-84d1e485d7ad",
              "name": "content",
              "value": "={{ $('Create Content ').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f5a756d3-d95b-4941-99db-7abd73995af5",
              "name": "title",
              "value": "={{ $('Initial Input').item.json.title }}",
              "type": "string"
            },
            {
              "id": "b336bc2e-a12e-4936-bebf-ad274495a048",
              "name": "source_database_page",
              "value": "={{ $('Initial Input').item.json.source }}",
              "type": "string"
            },
            {
              "id": "a938dfe9-0069-4a97-82f2-2d22f6606cb6",
              "name": "platform",
              "value": "={{ $('Initial Input').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "bcae6010-8182-40a7-94aa-ac436d2e10b3",
              "name": "image(s)",
              "value": "={{[]}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        1232
      ],
      "id": "16ab3b53-90a5-4084-9468-6920c31923a5",
      "name": "Set Subflow Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Guidelines:\n{{ $json.user_message }}\n\nInput Conten Summary:\n{{ $json.initial_input }}\n\nInput Content Main Article:\n{{ $json.content }}\n\n{{ $json.prompt_update }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.system_message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        224,
        1232
      ],
      "id": "ba06e0ac-cf9d-41ae-9980-000291ea7ae5",
      "name": "Create Content ",
      "executeOnce": false
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        1232
      ],
      "id": "5e89c8dc-8e09-4dc1-a2c0-acd81226b67c",
      "name": "Initial Input"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        296,
        1456
      ],
      "id": "92b432be-2b2f-4cf5-bc81-d21f04a1ea31",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S2kEpGa9PHsoI7on",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "syntech-backup-railway",
  "repo_owner": "Granite-Marketing",
  "repo_path": "https://github.com/Granite-Marketing/syntech-n8n-backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T11:25:49.875Z",
      "createdAt": "2025-12-11T11:25:49.875Z",
      "role": "workflow:owner",
      "workflowId": "Q0I6VPMIgjgBFOKe",
      "projectId": "U9sMeJya1DaokkjK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:05:04.285Z",
  "versionId": "8674a72c-44ee-4c41-8688-624db051fa9f"
}